[2020-02-23 06:43] Mehulipal opened #1 "Missing issue and PR templates"
To start contribution to this new project, pre-defined templates for issue and pull request should be present.

[2020-03-02 04:09] #1 closed

[2020-04-16 19:03] sidvenu opened #6 "Create all issue templates for this repository"
## Describe the bug/feature
We need to create issue templates for this repository.

- [ ] User Story
- [ ] New Feature
- [ ] Bug Report

## Expected behavior
1. We have an issue template as a markdown file in the repository.
1. Every time a person creates an issue, this template is auto-filled into the issue's body.

*Expected time to complete: 1 hour*

[2020-04-16 19:05] sidvenu opened #7 "Create a Pull Request template for this repository"
## Describe the bug/feature
We need to create a PR template for this repository.

Template attached below:

[code]

## Expected behavior
1. We have a PR template as a markdown file in the repository.
1. Every time a person creates a PR, this template is auto-filled into the PR's body.

*Expected time to complete: 1 hour*

[2020-04-16 19:06] sidvenu commented on #6
@mayburgos @annabauza I would like to work on this issue if it is approved.

[2020-04-16 19:06] nandini45 commented on #6
shouldn't we divide into sub categories(like under what section what we want to have ) or for now the  whole home page layout?
@sidvenu

[2020-04-16 19:07] nandini45 commented on #6
or for now you are focusing on the whole home page template?

[2020-04-16 19:19] sidvenu commented on #6
@nandini45 I am not sure I understand your question correctly - I think you confused the issue template with the template of the webpage?

[2020-04-16 19:40] mayburgos commented on #6
@sidvenu Assigning! Please include all 3 templates: User Story, New Feature, Bug Report

[2020-04-16 19:42] mayburgos commented on #6
@nandini45 This is only templates for the repo itself (i.e. issue templates, pull request templates, guidelines, etc). The MD files that we have in all of the repos.

[2020-04-16 19:47] mayburgos commented on #7
@sidvenu Thank you for the issue! This is a valid issue. If we can assign a newcomer to this issue, it'd be great. :)

[2020-04-16 19:55] mayburgos commented on #6
@sidvenu Can you please make sure to add a .github folder to put the templates in? Follow the [mentorship android .github](https://github.com/anitab-org/mentorship-android/tree/develop/.github) folder.

Please move the code_of_conduct.md and reporting_guidelines.md files there too.

[2020-04-17 10:36] sidvenu commented on #6
@mayburgos Will do :+1:

[2020-04-17 12:23] aditmehta9 commented on #7
@mayburgos can I work on this?

[2020-04-18 03:34] sidvenu opened #8 "Both package-lock.json and yarn.lock exists in the repository"
## Describe the issue
I can see both `package-lock.json` and `yarn.lock` files in the repository.

## To Reproduce
Steps to reproduce the behavior:
1. Go to the [`develop`](https://github.com/anitab-org/anitab-org.github.io/tree/develop) branch.
2. See both `package-lock.json` and `yarn.lock` files in the repository.

## Expected behavior
It is a good practice to choose only one of the two lock fi

[2020-04-18 07:19] mayburgos commented on #7
@aditmehta9 Go ahead! I will assign you.

[2020-04-18 07:21] mayburgos commented on #7
@aditmehta9 Oh. I just realized. Maybe wait until @sidvenu updates the folder structure. Since this template will go into the .github folder.

[2020-04-18 07:26] sidvenu commented on #7
@mayburgos I don't think they will need to wait, since git can automatically merge such conflicts (with folder name), if any. Anyhoo, I've submitted a PR for the issue templates 😁

[2020-04-18 07:33] mayburgos commented on #7
@sidvenu Awesome. Perfect.

I saw but am not on my computer to look over the files. Will review once I’m at a comp.

[2020-04-18 09:05] aditmehta9 commented on #7
@mayburgos I have created a pull request, please review whenever you are free.

[2020-04-19 19:32] annabauza opened #11 "integrate travis"
As a developer I want to integrate travis, so PR merge to production branch runs deployment script.

[2020-04-19 19:34] annabauza commented on #8
Approved

[2020-04-19 19:57] annabauza commented on #7
Kotlin Docs ?

[2020-04-19 19:59] sidvenu commented on #7
@annabauza I think @mayburgos inserted the mentorship system template for reference to @aditmehta9, not to be copied line by line.

[2020-04-19 20:01] #6 closed

[2020-04-19 20:12] aditmehta9 commented on #7
Sorry, I didn't read the whole template. It won't happen again.

[2020-04-19 20:17] sidvenu opened #12 "Create a Contribution Guidelines markdown file"
## Description
As a developer,
I need to see contributing guidelines,
so that I can contribute effectively.

## Acceptance Criteria
### Update [Required]
- [ ] Create a Contribution Guidelines markdown file. Reference: https://github.com/anitab-org/mentorship-android/blob/develop/.github/CONTRIBUTING.md

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mento

[2020-04-19 20:37] #7 closed

[2020-04-19 20:47] annabauza commented on #12
approved!

[2020-04-19 23:33] abha224 opened #14 "Add project information to the readme file."
## Description
As a contributor,
I need to understand what the project is about,
so that I can contribute to it.

Since it is the first version of the README, it could probably include:

- description of the website (2-3 sentences)
- Contributing (links to contributing docs, code of conduct, etc)
- contact (e.g.: Zulip link )
- License (reference to license file)

## Acceptance Criteria
### Update

[2020-04-20 06:34] annabauza commented on #14
Aprroved

[2020-04-20 11:14] gaurivn commented on #12
I would like to work on this issue.

[2020-04-20 15:48] mayburgos commented on #12
@gaurivn Go ahead! :) I've assigned it to you.

[2020-04-20 16:41] gaurivn opened #18 "Fix Pull Request Template"
### Describe the bug
While attempting to create a new pull request, the pull request template does not get preloaded as it does in the other repositories.

### To Reproduce
Steps to reproduce the behavior:
1. Go to 'Pull Requests'
2. Click on 'New pull request'
3. Select base and head or fork
4. See error 'Pull request template isn't loaded in the PR box'

### Expected behavior
Pull request templa

[2020-04-20 17:01] gaurivn commented on #18
@mayburgos , @annabauza , I would like to work on this issue if it gets approved.

[2020-04-22 04:06] mayburgos commented on #18
@gaurivn Do you know why that's happening? I'm thinking it's because we haven't merged the issue templates into the `master` branch.

[2020-04-22 04:25] gaurivn commented on #18
Yes @mayburgos , it is probably due to the .md file being placed inside PULL_REQUEST_TEMPLATE folder. Instead it should be placed in .github itself. Ma'am, the same issue was there in mentorship-flutter repo too and I saw how it got solved. Please check [here](https://stackoverflow.com/questions/52139192/github-pull-requests-template-not-showing/52139815).

[2020-04-22 04:31] mayburgos commented on #18
@gaurivn Thank you! I researched it as well. Please follow [this format](https://github.com/anitab-org/mentorship-android/tree/develop/.github) and make sure the .md file is all CAPS.

I've assigned you to the task.

[2020-04-22 04:33] mayburgos commented on #14
@abha224 In the future, please make sure to comment on this task "I'd like to work on this issue." Sometimes people open issues and leave it for other contributors to work on. :) It just lets us know you want to be the person who is assigned to the task.

[2020-04-22 04:36] gaurivn commented on #18
You are welcome @mayburgos . Thank you Ma'am, I will do accordingly.

[2020-04-22 18:14] #11 closed

[2020-04-23 08:51] #18 closed

[2020-04-23 08:52] #12 closed

[2020-04-23 08:53] #8 closed

[2020-04-23 18:35] nandini45 opened #21 "adding content to README.md"
###Description
As a user who doesn't know what this repository is about. So In the readme i can add a little more detail like what this repo is about and if you want to learn more mention all the links

### Describe the solution you'd like
A detailed description in the README.md section.

[2020-04-23 18:36] nandini45 commented on #21
i would like to work on it too

[2020-04-23 18:40] mayburgos commented on #21
@nandini45 How is this different than issue #14 ?

[2020-04-23 19:06] nandini45 commented on #21
i think it is the same. i will close it.

[2020-04-23 19:06] #21 closed

[2020-04-23 20:48] annabauza opened #22 "Create clickable menu content"
## Description
As a User,
I need select menu item,
so that I can see content under specific menu item.

## Mocks
![anitab-org-github-page](https://user-images.githubusercontent.com/31966073/80142714-8a057b80-85a3-11ea-8a8d-1fa525002b4a.png)

## Acceptance Criteria:
- [ ] menu titles are following the designs
- [ ] when select menu item it reloads the content (can be UNDER CONSTRUCTION if it is not

[2020-04-23 20:54] annabauza opened #23 "Add jest tests and snapshots"
## Description
As a Developer,
I need to add jest test and snapshots,
so that I can see automated tests has passed on PR.

## Acceptance Criteria
### Update [Required]
- [ ] contain at least 1 test and at least 1 snapshot

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
2 hours

[2020-04-23 20:57] gaurivn commented on #23
I would like to work on this issue.

[2020-04-23 21:02] annabauza commented on #23
please do!

[2020-04-24 11:31] abha224 commented on #14
Sorry, my bad. Will keep this in mind! :)

[2020-04-24 19:01] annabauza opened #25 "Change web title from `React App` to `AnitaB.org Open Source`"
### Describe the bug
Title in web tab says `React App`

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://anitab-org.github.io
2. See title of web is `React App`

### Expected behavior
Title in web tab should say `AnitaB.org Open Source`

### Screenshots
<img width="415" alt="Screenshot 2020-04-24 at 20 00 06" src="https://user-images.githubusercontent.com/31966073/80247609-3dcf3f

[2020-04-24 19:57] nandini45 commented on #25
Can i work on it??
@annabauza

[2020-04-24 19:59] annabauza commented on #25
yes @nandini45 :) assign you

[2020-04-25 08:11] #22 closed

[2020-04-25 16:26] isabelcosta commented on #14
this was done through #15
cc @annabauza

[2020-04-25 16:29] isabelcosta opened #27 "Explain development setup and run instructions"
## Description

As a contributor getting to run the project for the first time,
I need instructions on how to setup and run it,
so that I can get started with contributing to the project.

This should be added to the README. It would be good to include instructions on how to run tests locally as well.

## Acceptance Criteria
### Update [Required]
- [ ] Add setup and run section to README

## Defin

[2020-04-25 16:38] isabelcosta opened #28 "Add reference to new stream on Zulip on README"
## Description

As a new contributor,
I need to know what channels are focused on discussions about this project on Zulip,
so that I can participate in such discussions.

The idea here is to enhance the Contact section on README to include the link to the anitab-org.github.io stream on Zulip.

## Acceptance Criteria
### Update [Required]
- [ ] Add link to Zulip stream on Contact section on README

[2020-04-25 16:42] isabelcosta opened #29 "Add relative paths to files located within the repository"
## Description
As a contributor,
I need see relative paths to repository files on the README,
so that I can see them properly on my fork README rendering.

On README the links to LICENSE, CONTRIBUTING.md, etc located within the repo, have absolute links to this organization repo, this causes to within our forks, it is linked to these files in the `anitab-org` organization files instead of on my fo

[2020-04-25 16:44] nandini45 commented on #28
can i do this? @isabelcosta

[2020-04-25 16:45] nandini45 commented on #28
@isabelcosta  i think we have that section on the Readme

[2020-04-25 16:47] isabelcosta commented on #28
We have the section, but it has the link to the design team and not the actual project zulip stream. Do you still wish to work on this? @nandini45

[2020-04-25 16:49] #14 closed

[2020-04-25 16:49] nandini45 commented on #28
oh sure!! i will change it
@isabelcosta

[2020-04-25 16:50] isabelcosta commented on #28
Oh, i just noticed, you are already assigned to an issue here, and this is for first timers only, can you please finish the one you were assigned to and leave this for new contributors? @nandini45

[2020-04-25 16:59] nandini45 commented on #28
okk 😅😅
@isabelcosta

[2020-04-25 17:05] gaurivn commented on #27
I would like to work on this issue.

[2020-04-25 17:19] annabauza commented on #27
please do gaurivn

[2020-04-25 17:21] annabauza commented on #27
@gaurivn I saw you have other issue assigned which has not been done - https://github.com/anitab-org/anitab-org.github.io/issues/23, which one you are doing atm?

[2020-04-25 17:23] gaurivn commented on #27
@annabauza  I will do this issue first and then complete the other one you mentioned.

[2020-04-25 17:35] annabauza opened #30 "Deployment does not work from travis"
### Describe the bug
As a developer I would like to deploy compiled code to `master` by merging `develop` branch into master so I could see freshly deployed version under  https://anitab-org.github.io

### To Reproduce
Steps to reproduce the behavior:
1. Merge develop branch into production
2. See travis did not push to master, only to gh-pages

### Expected behavior
I want to merge develop into p

[2020-04-25 19:44] #27 closed

[2020-04-26 10:10] abha224 commented on #28
@isabelcosta can I work on this issue?

[2020-04-26 11:13] nandini45 commented on #25
@annabauza  i did the changes a day ago but i am not able to make the commit. can you help me out?

[2020-04-26 12:10] #25 closed

[2020-04-26 14:01] nandini45 commented on #29
can i work on it?
@isabelcosta

[2020-04-26 14:11] isabelcosta commented on #29
This is also labeled as first timers @nandini45. You are still working on that other issue right?

[2020-04-26 16:20] nandini45 commented on #29
no  i have done that and merged
@isabelcosta

[2020-04-26 18:17] annabauza commented on #29
@nandini45 please feel free to work on that :)

[2020-04-26 19:12] isabelcosta commented on #28
You already contributed to this project right? Could you check other issues since this issue is fairly simple and we leave this for someone new to the project and make their first contributions to it? @abha224

[2020-04-26 19:21] nandini45 commented on #29
@isabelcosta  i had a question can you tell me what I am thinking is correct or not?
 you want me to change the path that is when in my fork repo i click on contributing guideline i should stay in my forked repo instead of going to the original repo..right?
and i had a suggestion that we can create a separate readme for forking and cloning the repo and mention them in the readme on clicking that t

[2020-04-27 06:44] #30 closed

[2020-04-27 11:41] isabelcosta commented on #29
Yes, correct :)

That seems like a different issue, not part of this issue. Can you please create an issue for that to first get approved? @nandini45

[2020-04-27 12:36] nandini45 opened #35 "docs: Create a new GitHub Wiki page that includes the "Setup and Install""
### **Description**
As a contributor,
I need not see too much details on the README,
instead [we](url) can make a fork clone readme and mention it in the main readme and on clicking that readme appears.

### **Acceptance Criteria**
**Update [Required]**
Make a fork and clone readme separately and mention it in the readme

### **Definition of Done**
 All of the required items are completed.
 Approv

[2020-04-27 14:25] abha224 commented on #28
Ohh ok, I understand. Will look out for other issues to work on!@isabelcosta

[2020-04-27 15:41] isabelcosta commented on #28
Thank you @abha224 :)

[2020-04-27 17:24] nandini45 commented on #35
@mayburgos @annabauza  i would like to work on this issue if it gets approved?

[2020-04-28 07:06] doctypehuman commented on #28
Hello Isabel,

I have recently joined Github and I would like to help. Let me know if it works for you. Thanks !

[2020-04-28 11:15] isabelcosta commented on #28
@doctypehuman sure :) I will assign this to you, what would you need help with? Have you checked the README already?
cc @annabauza

[2020-04-29 04:40] mayburgos commented on #35
@nandini45 I'm confused on what you mean. There are both "fork" and "clone" instructions in the "Setup and run" section of the [ReadMe](https://github.com/anitab-org/anitab-org.github.io/blob/develop/README.md).

Can you specify what is missing?

[2020-04-29 05:30] nandini45 commented on #35
no i am saying that there is a there is a lot content on readme so we can create a separate fork clone readme and mention it in the readme.

[2020-04-29 05:55] doctypehuman commented on #28
@isabelcosta I did read the README. If i have understood this correctly, within the contact section of README , a link to zulip to be inserted. So I can clone the branch, edit the section and push it back ?
Also, apologies for the late reply. Thanks.
cc@annabauza

[2020-04-29 14:07] AyushSatyam commented on #28
Hello @isabelcosta,
I am new to open Source. Can I work on this issue?

[2020-04-29 14:25] isabelcosta commented on #28
@AyushSatyam this is assigned to @doctypehuman
Can you please look for other issues? Also I hope you are on Zulip, every week we are deciding on how this website will look like, and discuss potential issues :)

[2020-04-29 14:29] isabelcosta commented on #28
No problem @doctypehuman :) Yes, what we want is to have the stream dedicated to this project mentioned in the Contact section, together with the link to it.
You can fork -> clone -> git commit -> git push. You can also do this in the GitHub interface, without cloning to your dev environment, however you prefer :)

[2020-04-29 16:27] mayburgos commented on #35
I'm still a bit confused. You want a separate repo created for the readme? Can you send me examples of what you mean? @nandini45

[2020-04-29 20:24] nandini45 commented on #35
![Annotation 2020-04-30 015322](https://user-images.githubusercontent.com/62046625/80643293-7bc4cd00-8a85-11ea-9509-11e9a28bcba8.png)

[2020-04-29 20:25] nandini45 commented on #35
like this. for the people who are new to github we can make it easier for them to navigate @mayburgos

[2020-04-29 20:58] annabauza opened #37 "design:Create 4 doodle icons for home page."
## Description
As a Developer,
I need to have 4 doodle icons (getting started, ways to contribute, our projects, open source programs),
so that I can place them in homepage following the agreed mockup.

## Mocks
[Agreed mockup](https://anitab-org.zulipchat.com/user_uploads/16723/uvNAUxnyTGnUq1hhHCNiNJFU/AnitaB_OS_Website-1st-Iteration.pdf)

## Acceptance Criteria
### Update [Required]
- [ ] gettin

[2020-04-29 21:00] nandini45 commented on #37
@annabauza  I had a question i will have to basically make the doodle and share them with you. nothing else??

[2020-04-29 21:02] nandini45 commented on #37
and what does style here?

[2020-04-29 21:02] annabauza commented on #37
Good point, create PR to add them to this repo `/src/assets/` folder.

[2020-04-29 21:03] nandini45 commented on #37
and what does style mean here?

[2020-04-29 21:04] annabauza commented on #37
it is up to you but they all need to be consistent

[2020-04-29 21:45] nandini45 commented on #29
i can't seem to get the forked repo address. the approach that i was using was that in the given link below i will change anitab-org to the forked user repository name , it is even working but i am not able to change it so that when a new user forks he remain in his repository
@isabelcosta
change this link
https://github.com/github-username/anitab-org.github.io/blob/develop/CONTRIBUTING.md
to this

[2020-04-29 21:52] nandini45 commented on #37
i had a suggestion if vuyanzi is working on it too we both can distribute our work like 2-2 each or we both can work on it that way we will have more suggestions to look through

[2020-04-29 21:54] nandini45 commented on #37
If you @annabauza @mayburgos  both agree to any one of my suggestions. i will willingly contribute to whatever you say.

[2020-04-30 07:21] Vuyanzi commented on #37
I think to get a variety to choose from we could work on the four separately.

[2020-04-30 07:27] mayburgos commented on #37
@nandini45 We can assign up to 10 people to the same issue, so we can receive multiple perspectives.

No to distributing the work because then the icons will not be consistent with the same style.

If you do not feel comfortable working on the same issue as another contributor, we can un-assign you to this task. However, we will definitely keep this issue open and assign additional designers if th

[2020-04-30 07:29] nandini45 commented on #37
No I can work on it too.. @mayburgos
I will share my designs too

[2020-04-30 07:34] mayburgos commented on #35
Oh! So you want to create an additional Wiki Page on the [anitab-org.github.io GitHub Wiki](https://github.com/anitab-org/anitab-org.github.io/wiki) to match the steps listed in the [Mentorship Android GitHub Wiki](https://github.com/anitab-org/mentorship-android/wiki/Fork,-Clone-&-Remote).

Right now, we haven't discussed the structure of the GitHub wiki. Since we use this repo's Wiki for Program

[2020-04-30 07:34] nandini45 commented on #37
i was under the impression that a issue can only be assigned to only one user at a time🤣🤣.

[2020-04-30 07:37] mayburgos commented on #37
@nandini45 I think we need to update our contributing guidelines to allow for multiple submissions for issues labeled "Category: User Interface" or any issues related to design. 🤔

[2020-04-30 07:41] nandini45 commented on #37
yeah.. we can update our contributing guidelines in all the repositories

[2020-04-30 09:08] doctypehuman commented on #28
Thanks @isabelcosta . Its done. I have created a pull request and the merge is pending review.  Thanks !

[2020-04-30 15:39] #28 closed

[2020-04-30 15:52] annabauza opened #39 "Content: 4 short descriptions needed to add in homepage."
## Description
As a Developer,
I need to have 4 descriptions (getting started, ways to contribute, our projects, open source programs),
so that I can place them in homepage following the agreed mockup.

## Mocks
[Agreed mockup](https://anitab-org.zulipchat.com/user_uploads/16723/uvNAUxnyTGnUq1hhHCNiNJFU/AnitaB_OS_Website-1st-Iteration.pdf)

## Acceptance Criteria
### Update [Required]
- [ ] `getti

[2020-04-30 15:58] annabauza opened #40 "Implement fetching announcements from zulip"
### Is your feature request related to a problem? Please describe.
As a user I want to have integrated zulip announcement so I could see most recent on homepage

### Describe the solution you'd like
Implement Zulip API to fetch and display announcements.

### Describe alternatives you've considered
Add additional source to zulip.

### Additional context
Key to Zulip must be stored securely. It mig

[2020-04-30 15:59] gaurivn commented on #39
@annabauza , I'd like to work on this issue.

[2020-04-30 21:34] vj-codes commented on #39
@annabauza Can I work on this issue?

[2020-05-01 03:44] AyushSatyam commented on #39
Hello @annabauza, I want to work on this issue

[2020-05-01 04:50] alpha2320 commented on #37
@nandini45  so i have to work upon icons for homepage ? (just for clarification)

[2020-05-01 05:31] Sonal240 commented on #37
Hey, @mayburgos even I want to contribute, I am currently working on our project icon and have updated the landing page illustration too

[2020-05-01 07:51] annabauza commented on #39
@gaurivn this is first time issue for content team, you are currently working on other issue. I'm assigning this issue to next in queue @vj-codes.

[2020-05-01 07:58] annabauza commented on #23
@gaurivn it has been 7 days since you started this issue. Please let me know if you are close to finish otherwise I will re-assign it.

[2020-05-01 08:04] Vuyanzi commented on #37
@mayburgos and @annabauza can we keep pushing our drafts and fine-tuning while getting feedback from zulip. so that maybe by next week during our design session we can then have like final drafts for members to choose from. I have seen that the time allocated for this issue is 12 hours and its limiting someone's creativity.

[2020-05-01 09:21] nandini45 commented on #37
@Sonal240  (simran right?) the four icons mentioned above. work on them to start. you can start with any of the four doodle icons and as Vuyanzi said  ask zulip for more reviews

[2020-05-01 09:25] nandini45 commented on #37
@alpha2320 (ashish right?) priorly that's one of the milestones we have to work on. if you want to work on it
 i have to ask the admins if being on the coding team can i assign you and @Sonal240  this issue
and @Vuyanzi  sorry i did it by mistake

[2020-05-01 09:33] Vuyanzi commented on #37
sorry for what @nandini45 ?

[2020-05-01 09:38] nandini45 commented on #37
i unassigned you for a sec by mistake

[2020-05-01 10:29] gaurivn commented on #23
@annabauza , I was facing problems when writing the test for App.js as App.test.js inside _tests_.
 I am completely new to jest and thence the delay. I would like to work on this for today and try complete it.

[2020-05-01 11:17] alpha2320 commented on #37
@nandini45  you guessed it right its ashish ....also if its not urgent and also if it has also been assigned to someone else its okay !

[2020-05-01 12:14] nandini45 commented on #37
@alpha2320  even i thought so but May told me a user interface issue can be assigned to maximum 10 people. so we still have many people who are willing and can help us out.

[2020-05-01 19:11] isabelcosta commented on #29
@nandini45 can you please submit the PR. I can show you how its done by reviewing it. I thin you are almost there.

The relative path would be:
[code]

[2020-05-01 20:47] gaurivn commented on #23
@annabauza , I tried many ways but I am unable to get tests working correctly and am only getting what is shown in below attached screenshot. I would want to be unassigned from this issue so that it's open to others and I can focus on other issues at hand.
![jestunable](https://user-images.githubusercontent.com/48416306/80840495-7e066300-8c0e-11ea-8c69-4cdc75ac270f.png)

[2020-05-02 13:12] annabauza commented on #23
Please share it maybe I could help?

[2020-05-03 05:30] gaurivn commented on #23
@annabauza , sorry for the delay in replying. I didn't get how to use react test renderer in App.js to connect to src/_ tests _/App.test.js. Grateful if you could help me solve this issue. Please find the screenshot of what I tried below, I tried and commented few functions.
![jestunable2](https://user-images.githubusercontent.com/48416306/80899387-88188680-8d20-11ea-85a8-8863426deccb.png)

[2020-05-03 16:26] vj-codes commented on #39
heyy @annabauza should the PR be a text doc along with a mockup ?

[2020-05-03 21:05] annabauza commented on #23
Yeah I have similar issue. Changed label from easy to hard. Keep going I will help if I have time.

[2020-05-04 09:23] gaurivn commented on #23
Thank you, I will continue trying and ask you if I have doubts.

[2020-05-08 16:12] annabauza opened #42 "Integrate react native navigation"
### Is your feature request related to a problem? Please describe.
We want to have ability to build navigation stacks so we can build mobile versions later.

### Describe the solution you'd like
Integrate [React Native Navigation package](https://reactnavigation.org/docs/getting-started)

### Describe alternatives you've considered
Using other packages or implement own navigation stacks

### Addit

[2020-05-08 16:15] annabauza commented on #39
hi @vj-codes, sorry just saw your message. Can you create content under src folder and add home_content.json file and put it there? Thank you!

[2020-05-09 13:35] nandini45 commented on #29
i think i missed this update among all the emails about this repo.. sorry Isabel.. i will submit this asap

[2020-05-09 23:53] isabelcosta commented on #29
If you wish to leave this for other first-timer contributors and focus on other issues, you can do that :) This is a low priority and low hanging fruit :) otherwise, feel free to send the PR

[2020-05-11 01:40] nandini45 commented on #29
@isabelcosta  I think you are right. because i am lagging behind now. and i think with with new users we may have a different approach or any new way. who knows what.
should i unassign myself?
 and Isabel i saw that in the mentorship backend too we have the same issue that is we don't stay in our forked repository. any reasons why?

[2020-05-11 20:20] isabelcosta commented on #29
@nandini45 its there because no one reported yet 🙈 do you wish to create a issue for it ;)
I can create as well, but feel free to do it if you want :)

[2020-05-12 02:40] nandini45 commented on #35
@mayburgos  i had a request if you think this is a 1st timer issue
can i open it for then??

[2020-05-12 10:45] garimasingh128 commented on #29
@isabelcosta Hi Isabel. I am a first time contributor. I tried to solve this issue in my Pull Request: https://github.com/anitab-org/anitab-org.github.io/pull/43. Kindly review it.

[2020-05-12 10:50] garimasingh128 commented on #39
@annabauza Hey this is my first time contributing to this project. Can I work on this issue as we can have multiple alternatives to the content?

[2020-05-12 12:35] nandini45 commented on #29
@isabelcosta  do i have to do anything because someone already assigned this to someone i suppose.
so i think you might have got a new contributor already.

[2020-05-12 17:14] Yashank18 opened #45 "Mobile Resposive Issue"
### Describe the bug
When the Social media page is opened in the Mobile view, the page isn't responsive.

### To Reproduce
Steps to reproduce the behavior:
1. In mobile view
2. Go to Social Media Page
3. Scroll right
4. See error

### Expected behavior
Data should not flow out so that there is no responsiveness issue

### Screenshots
![Screenshot (162)](https://user-images.githubusercontent.com/46

[2020-05-13 18:03] saurabhkanswal commented on #45
hey @Yashank18, thanks for the issue
but  you are raising a issue in wrong repository.
this repository is for anitaBorg open source (https://anitab-org.github.io).
btw you can look at other open issues also.
thanks

[2020-05-13 18:03] #45 closed

[2020-05-15 19:31] nandini45 commented on #35
@mayburgos  Can i open it as a first timer issue for the new user?

[2020-05-16 17:27] nandini45 opened #46 "Content: 4 short descriptions needed to be added in the about us page"
### **Description**
As a Developer,
I need to have descriptions (our history, our mission. about anitab.org & Meet our open source community),
so that I can place them in About us page following the agreed mockup.
you can check the design here(https://xd.adobe.com/view/34329ed1-3736-4657-767b-203765c85ada-4203/)

### **Mocks**
Agreed mockup
### **Acceptance Criteria**
### **Update [Required]**
- [

[2020-05-16 18:24] gaurivn opened #47 "Content: Add descriptions for each project in Projects page"
## Description
As a developer,
I need to see each project described briefly,
so that I can add them to Projects page following [this design](https://xd.adobe.com/view/5a5a8a52-a713-4d60-6bd5-536dfb21c2ae-2c6b/).

## Acceptance Criteria
### Update [Required]
Added brief descriptions for
- [ ] mentorship-android
- [ ] mentorship-backend
- [ ] mentorship-ios
- [ ] portal
- [ ] vms
- [ ] anitab-org.gi

[2020-05-16 19:05] annabauza opened #48 "About us page - UI Tweaks"
### Describe the bug
[this design](https://xd.adobe.com/view/86c6a5f0-a4b9-4e0a-7fa6-4bb69c05572b-f0f7/) require following UI Tweaks:
[ ] Align height of image to bottom of insights
[ ] Align footer text of contact us to centre
[ ] Footer icons: decrease horizontal gutter(spacing between)
[ ] Footer: decrease space between content and header
[ ] Footer: make headers same sizes as menu (header smal

[2020-05-16 19:39] annabauza opened #49 "Design web MVP"
Design should be consistent with other pages in matter of fonts, spacing, colors, corner radius, etc.

[2020-05-16 20:06] annabauza opened #50 "design: Improve projects page"
Improve [this design](https://xd.adobe.com/view/5a5a8a52-a713-4d60-6bd5-536dfb21c2ae-2c6b/)
- [x] **Projects section:** remove line between projects description
- [x] **Projects section:** Replace card content with designs from [here](https://xd.adobe.com/view/80f2e4fb-75fb-4706-5d62-b72f70e5ce84-f6c3/)
- [x]  **Projects section:** Replace `view more` to be consistent alignment (left or right)
- [

[2020-05-17 07:38] Sonal240 commented on #48
![Web 1920 – 1](https://user-images.githubusercontent.com/49720151/82138576-16bbf600-983f-11ea-8db4-ca587c37fb51.png)
I've made required amendments and changed the background of the footer to rich black (thought that it was looking a bit dull)
[New design link](https://xd.adobe.com/view/34329ed1-3736-4657-767b-203765c85ada-4203/)

[2020-05-17 08:08] Sonal240 opened #51 "Coding: Develop the following About Us Page"
## Description
As a developer,
I need the following attached About Us mock-up to be implemented,
so that I can add it as an About Us Component [here ](https://github.com/anitab-org/anitab-org.github.io/tree/develop/src/Components).

## Mocks
(Only the section in the red box avoid navbar as it is already developed)
![about-us-part1](https://user-images.githubusercontent.com/49720151/85366642-659732

[2020-05-17 08:30] nandini45 commented on #51
@Sonal240  edit your issue add no of hours and other criteria.

[2020-05-17 08:30] nandini45 commented on #51
check issue #46
you will know what to add and how

[2020-05-17 08:37] annabauza commented on #51
@Sonal240 we want to spread it into 2 components. `Meet our open source community` and all above. I will add related issues then. We don't have issue for content of `Insights` and we don't have issue for description of `Meet our open source community`.

[2020-05-17 08:38] annabauza commented on #47
@gaurivn can you list all our active projects as check list?

[2020-05-17 08:42] annabauza commented on #51
@Sonal240 we need to give developer all insights - margins, fonts weight & sizing, colors, describe that size of image should be adjusted to text.

[2020-05-17 08:44] Sonal240 commented on #51
So what should I remove??

[2020-05-17 08:45] annabauza commented on #51
@Sonal240 you need to split it into 2 and maybe put red rectangle which section this ticket is about, and same thing in 2nd issue you create. Thanks!

[2020-05-17 08:48] Sonal240 commented on #51
Ok on it...Thanks @annabauza

[2020-05-17 08:48] annabauza commented on #48
@Sonal240 fantastic, you can move issue to review [on board](https://app.zenhub.com/workspaces/anitab-orggithubio-5eaa826eadd7152291feda88/board?labels=category%3A%20user%20interface&repos=238432652)

[2020-05-17 08:49] annabauza commented on #48
also add label 'Needs Review' here. Thanks!

[2020-05-17 08:58] annabauza opened #52 "web MVP"

[2020-05-17 09:08] gaurivn commented on #47
Sure, will do

[2020-05-17 09:11] #49 closed

[2020-05-17 09:23] annabauza commented on #47
Missing Bridge in Tech, Open Source Programs, Stem Diverse TV

[2020-05-17 10:19] gaurivn commented on #23
@annabauza , please can you unassign me from this issue...I have college work too and I am unable to write proper tests that work and generate snapshots after trying a lot from different sources since I am a beginner to jest. I would like to leave this issue for other contributors.

[2020-05-17 10:36] Sonal240 opened #53 "Coding: Design The Meet Our Open Source Community Part Of About Page"
## Description
As a developer,
I need the following mock-up to be implemented,
so that I can add as Open-Source Community Component [here](https://github.com/anitab-org/anitab-org.github.io/tree/develop/src/Components).

## Mocks
(Only the section in the red box to be developed)
![about-us-part2](https://user-images.githubusercontent.com/49720151/85365802-ad1cbf00-b543-11ea-927c-e54d90117a28.png)

[2020-05-17 11:22] annabauza commented on #53
@Sonal240 footer is not part of this task

[2020-05-17 12:32] Sonal240 commented on #53
another issue for footer??

[2020-05-17 12:55] Sonal240 opened #55 "Coding: Develop Footer"
## Description
As a user,
I need the following footer mock-up to be implemented,
so that I can submit any feedback or query, follow on social media, and contact open source community.

## Mocks
![Footer](https://user-images.githubusercontent.com/49720151/82147008-81cef200-986a-11ea-8570-eafc3972a10a.png)
(Only the section in the red box to be developed)
![Text-Guidelines](https://user-images.githu

[2020-05-17 14:04] devRD commented on #51
Hi, can I work on this issue?

[2020-05-17 16:39] annabauza commented on #51
@Sonal240 this design is not complete information for developer, we need margins, paddings, font typography and colors used in this component. Please add this first, thanks!

[2020-05-18 12:52] annabauza commented on #55
@Sonal240 can you specify following:

background color:
font color:
button color:
button size:
button corner radius:
button text: font + size +weight + margins

Form: sizing +color + corner radius+ gutters

Top & side container margins

Icons sizes and gutters and top margins

Then the ticket will be ready.

[2020-05-18 12:55] annabauza commented on #53
I think we planned to add FAQ.

[2020-05-18 13:05] annabauza commented on #55
As a user,
I want to have a footer following the designs,
so I could send a feedback, follow on social media, and contact open source community.

[2020-05-18 13:08] #29 closed

[2020-05-18 13:53] annabauza commented on #53
we need specify:
- header: font + size + color + top margin
- description: font + size + color + top margin
- icons: sizing + vertical & horizontal gutters + top margin.
- bottom margin from highest section
- icons needs to be provided.

[2020-05-18 13:54] Sonal240 commented on #55
I'm on it @annabauza...I'm adjusting  the screenshot for the same points as you have mentioned for all issues and I'll attach them in the mock

[2020-05-19 07:32] alpha2320 commented on #50
![image](https://user-images.githubusercontent.com/58825698/82297857-e3a96c00-99d0-11ea-98d8-5ed17329354c.png)

[2020-05-19 07:38] alpha2320 commented on #50
![image](https://user-images.githubusercontent.com/58825698/82298436-bf9a5a80-99d1-11ea-9b23-da300ebc2d41.png)

[2020-05-19 12:42] annabauza commented on #51
@Sonal240 Issue approved @devRD I have assigned you to the issue.

[2020-05-19 12:46] annabauza commented on #55
@Sonal240 approved 🎉

[2020-05-19 12:47] annabauza commented on #55
@anitab-org/coding-team ☝️

[2020-05-21 10:05] Vuyanzi commented on #50
Hey, @annabauza is it possible for whoever made the design to share it in a way that we can edit their designs, since redesigning this afresh will take time. Then I cant see the section major contributors, is it where we have the images of people? And the footer, are we having it as is? cause its different from the about us page footer, it would be nice if we had the same footer in the entire webs

[2020-05-22 20:52] vardhinipawar commented on #47
Can I work on this?

[2020-05-22 20:56] gaurivn commented on #47
Sure @vardhinipawar :)

[2020-05-22 21:29] vardhinipawar commented on #47
@gaurivn so I just have to find the definition of required terms?

[2020-05-22 21:42] gaurivn commented on #47
Yes @vardhinipawar , for some projects, "Description" under respective github repos would do, for the others, please check out their "README" and frame them.

[2020-05-22 21:44] gaurivn commented on #46
I would like to work on this issue.

[2020-05-22 22:01] vardhinipawar commented on #47
@gaurivn

•	mentorship-android:
•	 mentorship-backend:
•	  mentorship-ios:
•	  portal: A World Wide Web site that is or proposes to be a major starting site for users when they get connected to the Web or that users tend to visit as an anchor site.
•	  vms: Virtual Memory System used to operate digital equipment.
•	  anitab-org.github.io: Open Source
•	  bridge-in-tech: A type of computer network

[2020-05-22 22:02] annabauza commented on #46
@gaurivn - haven't you got any in progress issues atm?

[2020-05-22 22:04] annabauza commented on #39
yes totally please work on this  @garimasingh128

[2020-05-22 22:11] gaurivn commented on #47
VMS
AnitaB.org has many volunteers that offer their skills, time, and commitment to our vision and projects. The Volunteer Management System (VMS) will be useful for volunteer coordinators, volunteer sign-up, tracking hours, and reporting. This project uses the Django web framework and Python.

Like this one, it would be better to include a line that tells languages and/or frameworks used.
@annaba

[2020-05-22 22:14] gaurivn commented on #46
No @annabauza , I mean I would want to be unassigned from the other issue, please can I unassign myself from the other one

[2020-05-22 22:18] gaurivn commented on #47
@vardhinipawar , please refer [this](https://github.com/anitab-org/anitab-org.github.io/issues/39) for the location to add the descriptions for the Projects page.

[2020-05-22 23:26] vardhinipawar commented on #50
Can I work on this?

[2020-05-22 23:36] vardhinipawar commented on #47
@gaurivn I am not quite sure? Also, can you please tell me the purpose of the project? Along with with tools are used for this project?

[2020-05-23 01:00] vj-codes commented on #39
Almost done, will send a PR today! @annabauza

[2020-05-23 03:34] nandini45 commented on #46
@annabauza  these issue are meant solely for the content team or the coding team can also work on it??

[2020-05-23 05:29] sakshi1499 commented on #46
@nandini45 I think we should let the content team handle it, Gauri can probably help them in it.

[2020-05-23 08:59] nandini45 commented on #46
that is what i was asking. is she on the content team?
@sakshi1499

[2020-05-23 08:59] nandini45 commented on #46
gauri*

[2020-05-23 09:38] sakshi1499 commented on #46
@nandini45 We can directly ask for the content team, if she is there already she can work on it. I am not sure if she is on the content team. 🤔

[2020-05-23 09:50] nandini45 commented on #46
i think she is on the coding and the design team. but even i am not sure.

[2020-05-23 09:55] nandini45 commented on #46
i think you are right we can tag the content team. there are few issues for them to work on

[2020-05-23 10:35] devRD commented on #50
@annabauza The navbar section in the mockup for the Projects page is different than the one in About Us page (referred to this [issue](#51)). Is this an inconsistency or will the navbar design be different for each section?

[2020-05-23 10:43] abha224 commented on #46
@nandini45 The mock-up actually includes a sentence under "Meet our open source community" as well. Could you pls add it to this issue, as most of the things are covered in it?

[2020-05-23 11:10] Sonal240 commented on #50
@devRD navbar is already developed and would remain the same...the design is finalized margin guidelines are in progress..the issue will be updated and will be available for development soon

[2020-05-23 11:12] Sonal240 commented on #50
In about us too no need to develop navbar as it is already developed...

[2020-05-23 11:36] nandini45 commented on #46
@abha224  this a content issue for the about us page. not a coding issue

[2020-05-23 11:45] abha224 commented on #46
@nandini45 I understand that this is a content issue, and that's why I suggested that in the issue we include another description, ie, a description for Meet our open source community.

[2020-05-23 16:08] nandini45 commented on #46
i misinterpreted your words. i will change edit the issue @abha224

[2020-05-23 16:27] gaurivn commented on #47
@vardhinipawar , sorry for the delay, please ignore [previous comment](https://github.com/anitab-org/anitab-org.github.io/issues/47#issuecomment-632930229). I guess this issue can only be taken up by @anitab-org/content-team (as mentioned [here](https://github.com/anitab-org/anitab-org.github.io/issues/46)) , however you can help by suggesting descriptions for projects but no need to place them an

[2020-05-23 17:09] abha224 commented on #46
@nandini45 That's alright! :blush:

[2020-05-25 09:15] annabauza commented on #46
can I have someone from @anitab-org/content-team to take this issue please?

[2020-05-25 09:17] annabauza commented on #39
Can someone from @anitab-org/content-team help here just saw @vj-codes does not belong to content team. Thanks!

[2020-05-25 09:18] annabauza commented on #42
@anitab-org/coding-team anyone interested?

[2020-05-25 09:22] annabauza commented on #47
@vardhinipawar there should be file created under `src/content/projects_content.json` and this should contains structure at follows:
[code]

[2020-05-25 09:32] annabauza commented on #48
@Sonal240 I can't see this design follows our actual metrics.

[2020-05-25 09:34] annabauza commented on #51
@Sonal240 we need to align this to fit latests metrics agreements. Thanks!

[2020-05-25 09:45] Sonal240 commented on #51
on it @annabauza,

[2020-05-25 09:46] Sonal240 commented on #48
I'll update it as soon as possible

[2020-05-25 10:03] tichnas commented on #55
Anyone working on this? If not, I would love to take this issue.

[2020-05-25 10:11] annabauza commented on #55
no-one is working on it assigning you @tichnas

[2020-05-25 13:52] mitchell-frost commented on #53
If this is open, I would like to work on this? I am new to open source and new here. I would love to start contributing.

[2020-05-25 13:53] mitchell-frost commented on #51
If this is open, can I work on this?

[2020-05-25 13:54] mitchell-frost commented on #39
Is this already closed? If not, can i work on this?

[2020-05-25 13:56] mitchell-frost commented on #42
I am new here...can I work on this?

[2020-05-25 13:57] mitchell-frost commented on #47
Is this issue open or closed? I would like to work on this.

[2020-05-25 14:02] foongminwong commented on #46
hey @annabauza  I am one of the members from content team. You can assign to me

[2020-05-25 14:19] foongminwong commented on #46
thank you @sakshi1499 !~

[2020-05-25 14:49] Sonal240 commented on #53
Hey, @mitchell-frost it's good to have you here...We're currently working on margin guidelines...I'll update this issue by tomorrow once it gets approved it would be open for development...Thanks

[2020-05-25 15:40] tichnas commented on #55
Should I stick to the exact size (in pixels) given? How will we make it responsive then?

[2020-05-25 16:26] Sonal240 commented on #55
Hey @tichnas ...Try finding equivalent rem or em for  given px /pt..thanks

[2020-05-25 18:26] foongminwong commented on #46
hi @nandini45 I was trying to view the design by clicking the link that you attached in this issue, but it requires a password. Do I need to know the password to view the About Us design in order to create the descriptions or it will be fine if I don't view the design template? 🤔

[2020-05-25 18:44] nandini45 commented on #46
@foongminwong  now when it is also asking me for a password. although you can create the description without viewing the design but still once if you need you can view it. i will send you the password or the screenshots of the design

[2020-05-25 18:45] nandini45 commented on #46
however. now when i am trying to access it is asking for a password. although you can create the description without viewing the design but still once if you need you can view it. i will send you the password or the screenshots of the design
@foongminwong

[2020-05-25 18:47] nandini45 commented on #46
meanwhile you can write the description. i will ask Sonal for the password or i think i will just post the screenshot of the design here

[2020-05-25 18:49] nandini45 commented on #46
![image](https://user-images.githubusercontent.com/62046625/82837394-88064380-9ee6-11ea-8d45-c169ee8fff76.png)
here is the design

[2020-05-25 18:51] foongminwong commented on #46
The screenshot clears up what kind of descriptions that you're expecting! Just created a pull request but I'll need to modify some of the contents to match the design mockup :)

[2020-05-25 20:22] tichnas commented on #55
Please take a look and let me know the changes needed.
![Screenshot from 2020-05-26 01-50-06](https://user-images.githubusercontent.com/56799401/82841372-6d869700-9ef3-11ea-8232-2f0d4a1f72ab.png)

Currently, the columns are not of the fixed-width given. Rather, each column is 33% of the total width. The layout looks pretty good on different sizes (except for mobile devices).
I have some questions

[2020-05-26 03:57] Sonal240 commented on #55
May you please share a screenshot of the footer for the responsive screen too...
Secondly convert given pt measurements to em  12pt ->1 em light weight  for description and 16pt->1.4em medium weight for headings
Lastly, Form should be submitted when user clicks on submit button and once the feedback is received the form should turn blank apply necessary form validations too

[2020-05-26 04:53] Sonal240 commented on #46
I've redesigned the page according to the web metrics that was discussed(currently under review)  and as there were 2 links for design review I had deleted one...the content remains the same though...

[2020-05-26 07:06] saurabhkanswal commented on #42
@mitchell-frost sure, go ahead.

[2020-05-26 09:00] Sonal240 commented on #48
![Web 1920 – 1](https://user-images.githubusercontent.com/49720151/82881221-0c93a900-9f5d-11ea-959f-4f6832bcf7a1.png)
I've done the required changes, kindly review it...thanks
[New Design Link](https://xd.adobe.com/view/86c6a5f0-a4b9-4e0a-7fa6-4bb69c05572b-f0f7/)

[2020-05-26 14:00] mitchell-frost commented on #42
@saurabhkanswal  On it!

[2020-05-26 14:11] mitchell-frost commented on #42
It would be really helpful if someone could give me a hint about where to start as I am new here.

[2020-05-26 16:08] tichnas commented on #55
Sorry, I'm not able to understand what is required. Only the font-size should be in em or all the width/height?
Also, in my case 1em is showing 16px, and you said 12pt -> 1em. Now this gives 16px = 12pt (initially, I thought 1pt = 1px). If this is true, then the layout breaks even on my fully wide laptop screen.
Can you please clarify a little bit more.

This is how my original design (each column

[2020-05-26 16:42] nandini45 commented on #42
@mitchell-frost  Are you a first timer ??
that is you have you ever solved  a issue beforehand in this repository?

[2020-05-26 16:59] gaurivn commented on #42
@nandini45 , yes this issue assignee is indeed a first timer, you can check that [here](https://github.com/anitab-org/anitab-org.github.io/graphs/contributors) and [here](https://github.com/anitab-org/anitab-org.github.io/pulls).

[2020-05-26 17:51] Sonal240 commented on #55
I was talking about font size that the heading is of 16pt medium, weight, and description 12pt lightweight...I was going through one website there they had cited the converted value that I had mentioned in my comment earlier...go ahead with your values
can you try 40% 20% 40% instead of 33% for all
May you share the screenshot of the footer for screen sizes below 768px like iPhone Xs or something

[2020-05-26 18:02] nandini45 commented on #42
but this isnt a first timer issue.. so she is not allowed to work right?
@gaurivn

[2020-05-26 18:51] gaurivn commented on #42
No, first timer issues can only be assigned to first timers, not the other way round. As a first timer to VMS, Mentorship Backend I worked on the non first timer issues. Let's focus on helping this issue assignee solve this issue for now.

[2020-05-27 11:07] tichnas commented on #55
Thanks for explaining. 40% 20% 40% looks good on a widescreen so I did that. For smaller screens like iPads or mobiles, I have written some small media queries (for 1200px, 900px & 600px).
I think attaching screenshots for all the sizes will kind-of spam. For this, I have uploaded the footer online (https://web.iiit.ac.in/~sanchit.arora/temp/) by normal HTML & CSS. Please check the design and resp

[2020-05-27 11:49] Sonal240 commented on #55
@tichnas may you fix the font size and update the link that you have shared in above comment

[2020-05-27 11:55] snitin315 commented on #55
We should follow a design system

[2020-05-27 13:15] tichnas commented on #55
@Sonal240 The textarea was behaving differently from the other inputs for font size and weight.
To solve the issue with font-size I changed em to rem and now font size of the heading of each column is 1.4rem and that of paragraph, button & text inside the input areas is 1rem.

Now font-weight is still causing problems. I have the same weight for both the input and textarea, but still, they look di

[2020-05-27 14:08] Sonal240 commented on #55
May you give 4pt margin to the texts in the  field, are you using Avenier font...it doesn't seem so though... I can see variation
may you please use px for font size and update the link... I would like to see how it looks, because the font and it's size looks  heavy now and I  think when components get loaded footer text might outshine it,

[2020-05-27 14:42] tichnas commented on #55
- [x] Added padding to the texts in the field.
- [x] Changed font-size of headings to 21px and that of other text to 16px.

I didn't specify font-family explicitly so not sure which font it was using. Now I have changed the font-family to match that in the body (from index.css).

[2020-05-27 15:14] Sonal240 commented on #55
Add medium weight (bold) to heading and light weight to body

[2020-05-27 15:38] mitchell-frost commented on #42
@nandini45  @gaurivn Yes, I am a first timer. So, I need help to get started or is it not allowed for me to work on this?

[2020-05-27 16:07] gaurivn commented on #42
@mitchell-frost , there are no first timer issues (for this repository), and this issue is assigned to you. Please feel free to work on it. If you have doubts or get stuck anywhere, do ask here and anyone from @anitab-org/coding-team or anyone who knows how to solve this issue will help you.

[2020-05-27 16:21] tichnas commented on #55
The headings and body already have a weight of 500 and 300 respectively. For the email input, however, I have a weight of 400 because of the problem I described earlier.

[2020-05-27 18:01] adi-001 commented on #51
@mitchell-frost  yes you can, also keep us in loop about your progress

[2020-05-27 18:02] adi-001 commented on #51
I'm assigning it to you

[2020-05-27 18:18] mitchell-frost commented on #51
@Sonal240 the design link for development isn't working?

[2020-05-27 18:35] mitchell-frost commented on #42
@gaurivn I will start working on this. Any tips on where to start?

[2020-05-27 18:37] nandini45 commented on #42
@mitchell-frost  you are working on this issue or any  other issue,?
Focus on only one issue

[2020-05-27 18:40] nandini45 commented on #42
@mitchell-frost  and if you are working on this issue.. you have to integrate react native navigation.. create a file in the code through which you  can install the dependencies in this project and  write the code

[2020-05-27 18:44] nandini45 commented on #51
@devRD is already working on this issue and @mitchell-frost  you are already assigned another issue..  you can't work on two at the same time.. complete the first one

[2020-05-27 18:53] adi-001 commented on #51
@nandini45  there's no harm if @mitchell-frost  is willing to work two issues at the same time, also if she is unable to work then she will update us

[2020-05-27 18:55] adi-001 commented on #51
@mitchell-frost are you willing to work on this issue?
If yes then I can assign it to you

[2020-05-27 19:04] devRD commented on #51
@adi-001 Yes, I'm currently working on this.

[2020-05-27 19:04] nandini45 commented on #51
@annabauza i had a question  can a first timer work on two issues at the same time??

[2020-05-27 19:06] nandini45 commented on #51
Now i don't think so @adi-001 that a coding issue can be assigned to two people at the same time??
Just correct me if i am wrong??

[2020-05-27 19:16] adi-001 commented on #51
Hush also I haven't heard anyone telling if there would be any fuss,
Anyways lets clear it in next bi-weekly meet

[2020-05-28 01:31] Sonal240 commented on #51
The design was again put under review as we all are developing the metric guidelines so I have deleted the design link...
I'll update the issue once the design gets approved again

[2020-05-28 05:08] mitchell-frost commented on #42
@nandini45 I will work on this issue. I will start by setting it up locally. Thanks!

[2020-05-28 09:27] nandini45 commented on #51
@adi-001  i apologize for sounding rude.
there are some rules which are to be maintained. those contribution guideline will be updated soon.

[2020-05-28 12:07] adi-001 commented on #51
Never mind 😙
And @nandini45  yes coding issue can't be assigned to two people, my bad

[2020-05-28 14:27] mitchell-frost commented on #42
@nandini45 @gaurivn  I have set it up locally and I have installed the react native dependencies. The dependencies are added in the package.json file. Is that okay? or do I need to create another file?

[2020-05-29 11:51] saurabhkanswal commented on #48
@Sonal240 please check the comment i have made in [design ](https://xd.adobe.com/view/86c6a5f0-a4b9-4e0a-7fa6-4bb69c05572b-f0f7/) . Also can you please share xd file, it will help me more to review your design better.
thanks

[2020-05-29 12:35] Sonal240 commented on #48
Have you viewed it again??

[2020-05-29 16:11] Sonal240 commented on #48
Regarding footer... I've created the issue already and mentioned all the points and is under development,you may check there
and Paragraph spacing ...it is the same as AnitaB.org website about page... Kindly have a look.... I don't think the spacing is unnecessary

[2020-05-29 16:39] gaurivn commented on #47
@vardhinipawar , how is the progress... please give us an update.

[2020-05-29 16:45] saurabhkanswal commented on #48
oops just trying to review😂

[2020-05-30 07:53] saurabhkanswal commented on #42
@mitchell-frost any update? or if get stuck please let me know.

[2020-05-30 09:10] gaurivn commented on #42
@saurabhkanswal , can you help @mitchell-frost with this

[2020-05-30 16:28] saurabhkanswal commented on #42
@gaurivn sure 💯
@mitchell-frost please go through this doc - > https://reactnavigation.org/docs/getting-started
it has all the information you need.

[2020-05-31 13:24] Sonal240 opened #59 "Content - Create content for the following Contribute Page Section"
## Description
As a user,
I need a brief yet engaging content for the following section,
so that as a newcomer I get a rough idea of open source.

## Mocks
(develop content for section in red box only)
![newcomer](https://user-images.githubusercontent.com/49720151/83353260-e4e27d80-a36e-11ea-8e13-32f2a1b9b5f8.png)

[design link](https://xd.adobe.com/view/0bfde3f8-de19-4c3d-61e9-0d11752d875d-7dcc/)

[2020-05-31 13:44] Sonal240 opened #60 "Content - Create content for Ways to Contribute section"
## Description
As a user,
I need a brief description for each heading of the following marked section
so that as a newcomer I understand the role of each team.

## Mocks
(develop content for section in red box only)
![ways to contribute](https://user-images.githubusercontent.com/49720151/83353557-0f353a80-a371-11ea-8558-f31eac51f3f7.png)

[design link](https://xd.adobe.com/view/0bfde3f8-de19-4c3d-

[2020-06-01 06:12] mitchell-frost commented on #42
@saurabhkanswal  thanks!

[2020-06-01 16:44] sakshi1499 commented on #59
Seems good @Sonal240 I think we can tag the content team :)

[2020-06-01 16:45] sakshi1499 commented on #60
Seems good @Sonal240 I think we can proceed and ask the content team to start making the pr :)

[2020-06-01 17:04] Sonal240 commented on #60
@anitab-org/content-team 👆

[2020-06-01 17:06] Sonal240 commented on #59
@anitab-org/content-team 👆

[2020-06-02 08:45] gaurivn commented on #47
@annabauza , I would like to work on this issue.

[2020-06-03 20:39] annabauza commented on #42
@mitchell-frost is this issue in progrees?

[2020-06-03 20:59] mitchell-frost commented on #42
@annabauza I am adding in the changes to the code. Will open a pull request shortly.

[2020-06-04 07:44] mitchell-frost commented on #42
@saurabhkanswal after navigating to a particular page, I think only that should be displayed in the header along with a go back button redirecting to the home page right?

[2020-06-04 09:34] mitchell-frost commented on #42
@saurabhkanswal I am a little confused. Should I create the Home function and the corresponding functions for the different pages as stacks and then create their stacks? What do I do with the MenuItem function inthe header? Also, should i change the look of the header on every page?

[2020-06-04 17:48] sakshi1499 commented on #60
@anitab-org/content-team Can you please start working on it?

[2020-06-04 18:03] sakshi1499 commented on #47
@gaurivn Hey would you like to work on it still? I am assigning you. Thank you <3

[2020-06-04 18:57] foongminwong commented on #60
@Sonal240 @sakshi1499 I saw no one takes this issue, you can assign it to me

[2020-06-05 03:09] Sonal240 commented on #60
I've assigned you @foongminwong 😊

[2020-06-05 13:33] ShreyaPrasad1209 commented on #35
Is anyone working on this issue? If not, then can I work on it?

[2020-06-05 14:16] nandini45 commented on #35
@mayburgos  @annabauza can i open it and assign it to her???

[2020-06-05 17:23] mayburgos commented on #35
@nandini45 Github Wiki editing requires Write Access. However, Shreya can create the markdown files here so someone can upload. Here's an [example from Powerup iOS](https://github.com/anitab-org/powerup-iOS/issues/251). A zip file was uploaded.

[2020-06-05 22:09] #46 closed

[2020-06-06 05:19] nandini45 commented on #35
ok May
..
@ShreyaPrasad1209  are u interested in working on this issue??

[2020-06-06 05:47] ShreyaPrasad1209 commented on #35
@nandini45 yes

[2020-06-06 08:09] sakshi1499 commented on #59
@anitab-org/content-team Can you please work on this issue?

[2020-06-06 11:37] annabauza opened #61 "maintain: content folders and consistancy in naming"
All content json should be in content folder and should follow lowercase naming with underscore.

Acepted Criteria:

- [ ] Move `src/aboutUs.json` to `src/content/about_us.json`
- [ ] Move `src/homet.json` to `src/content/home.json`

[2020-06-06 11:57] annabauza commented on #51
@devRD how is it going?

[2020-06-06 12:04] devRD commented on #51
@annabauza The design was being re-evaluated and the issue was on hold. I'll soon work on this and send a PR. :)

[2020-06-06 15:46] nandini45 commented on #35
ok i will assign it to you. you can work on it

[2020-06-06 15:50] nandini45 commented on #61
only the first timer can work on it?/

[2020-06-06 16:37] #39 closed

[2020-06-06 17:14] simranaggarwal1999 opened #62 "Design: Events Page UI Tweaks"
### **Describe the bug**

[This design](https://xd.adobe.com/view/ef6821ef-76d9-4a96-75dd-021545d11ebc-9959/) needs the following UI Tweaks:

- [ ] Should follow Margin Guidelines

- [ ] Add a Google Calendar Screenshot for Events Calendar Component

- [ ] Add a component for Tech Talks

- [ ] Improvise Events and Highlight section (should have past, current and future event cards organized neatly

[2020-06-06 17:25] Sonal240 commented on #55
Hey, @tichnas sorry for responding late..you don't need to cater responsiveness of the footer it's later going to be developed on react-native..it was discussed today in the session..you may submit a or if you are done..thanks

[2020-06-06 17:29] Sonal240 commented on #53
@sakshi1499 can I proceed to assign the issue to @mitchell-frost ??
@mitchell-frost are you willing to take up this issue??

[2020-06-06 17:33] nandini45 commented on #53
@Sonal240  she is already working on some issue. you just put the label available

[2020-06-06 18:30] foongminwong commented on #59
@sakshi1499  I'm one fo the content teams, you can assign it to me. I'm also working on this [issue](https://github.com/anitab-org/anitab-org.github.io/issues/60), which they are connected under Contribute Page section :)

[2020-06-06 18:31] foongminwong commented on #60
Just a heads up, it'll take me 3-5 days to work on this issue

[2020-06-06 18:42] Sonal240 commented on #60
Cool... I've updated the estimation as well take your time 🙃😊

[2020-06-06 19:50] nandini45 commented on #59
no issue @foongminwong .

[2020-06-06 19:53] nandini45 commented on #62
can you please update the issue in the correct format. and accordingly u can be assigned

[2020-06-07 07:05] Sonal240 opened #63 "Coding: Develop the New To Open Source Section of Contribute Page"
## Description
As a user,
I need the following section of the mockup to be developed,
so that I can add it as New To Open Source Component [here](https://github.com/anitab-org/anitab-org.github.io/tree/develop/src/Components).

## Mocks

(Only the section in the red box to be developed excluding navbar)

![contribute part1](https://user-images.githubusercontent.com/49720151/85372095-f6264080-b54e-

[2020-06-07 07:14] annabauza commented on #55
@tichnas can you push your changes to you branch so I could see it?

[2020-06-07 07:22] annabauza opened #65 "Readme should inform that we are using React Native."
### Describe the bug
Readme file does not tell anything about framework we use

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://github.com/anitab-org/anitab-org.github.io
2. Read about project
3. Notice React Native is not mention anywhere

### Expected behavior
It should be clear for developer which framework they should use.

[2020-06-07 08:08] Sonal240 opened #66 "Coding: Develop Ways to Contribute Section of Contribute Page"
## Description
As a user,
I need the following section of the mockup to be developed,
so that I can add it as Ways To Contribute Component [here](https://github.com/anitab-org/anitab-org.github.io/tree/develop/src/Components).

## Mocks
(Only the section in the red box to be developed)

![Code-ways-to-contribute](https://user-images.githubusercontent.com/49720151/83963378-55cfeb00-a8c3-11ea-8397-4

[2020-06-07 08:59] Sonal240 opened #67 "Coding: Develop First Time Issue Section of Contribute Page"
## Description
As a developer,
I need the following section of mockup to be developed,
so that I can add as First Time Issue Component [here](https://github.com/anitab-org/anitab-org.github.io/tree/develop/src/Components).

## Mocks
![code-first-time-issues](https://user-images.githubusercontent.com/49720151/83964284-a9453780-a8c9-11ea-9c72-2a81f6034b3b.png)

Font Size for heading SOME COOL FIRST

[2020-06-07 13:14] devRD commented on #51
@annabauza @anitab-org/coding-team I had a quick question about the setup as I am a bit new to `react-native-web`. How to add media queries for the mobile view of the page?
It looks like this at the moment. Any help regarding how to proceed further would be appreciated. :)

![Screenshot_AnitaBorg_open_source](https://user-images.githubusercontent.com/35831931/83969635-ac9eea00-a8ee-11ea-994a-8f3f1

[2020-06-07 14:13] Sonal240 commented on #51
@devRD are you using Avenir Font... ,coz it doesn't seem so

[2020-06-07 14:55] tichnas commented on #55
@annabauza I have pushed the changes on `footer` branch of my fork (https://github.com/tichnas/anitab-org.github.io/tree/footer). I was not aware of any conventions (of file and variable naming) therefore please suggest me the changes needed before a PR.
Also, @Sonal240 said that it need not be responsive. Should I remove the media queries or keep them as it is?

[2020-06-07 15:54] Sonal240 commented on #51
@devRD can you add an green color triangle as overlay as mentioned in the design
Moreover the image should extend till last line of Insights.. Currently it is not

[2020-06-07 16:47] sakshi1499 commented on #66
Looks good to me @Sonal240

[2020-06-07 16:48] sakshi1499 commented on #66
You can go ahead and tag the coding team :)

[2020-06-07 16:49] sakshi1499 commented on #63
LGTM @Sonal240

[2020-06-07 16:55] sakshi1499 commented on #67
LGTM @Sonal240 Awesome work 💯

[2020-06-07 17:13] sakshi1499 commented on #59
@foongminwong Thank you <3

[2020-06-07 17:33] Sonal240 commented on #63
Can someone from @anitab-org/coding-team kindly take this issue ...thanks

[2020-06-07 17:34] Sonal240 commented on #66
@anitab-org/coding-team kindly take up this issue

[2020-06-07 17:36] Sonal240 commented on #67
@anitab-org/coding-team kindly take up this issue... Thanks

[2020-06-07 18:22] abhi0504 commented on #65
I would like to work on this issue , Should I ?

[2020-06-07 18:23] gaurivn opened #68 "spelling mistake: make changes in content for home page"
### Describe the issue
In src/home_content.json (after famous quote by Einstein-) t is not capital, and knowledge is spelt wrong.
[code]

### Expected
In src/home_content.json, make t of "the" capital (after famous quote of Einstein-) and add "k" for knowledge in the same line as shown in bold below:
[code]

[2020-06-07 18:28] nandini45 commented on #65
yeah sure i will assign it to you
@abhi0504

[2020-06-07 18:38] abhi0504 commented on #68
I would like to work on it

[2020-06-07 18:43] gaurivn commented on #68
@abhi0504 , you are already assigned to [this first timer issue](https://github.com/anitab-org/anitab-org.github.io/issues/65).

[2020-06-07 18:54] annabauza commented on #55
We use react native not reactjs

[2020-06-07 19:06] abhi0504 commented on #68
i have submitted a PR for [first timer issue](https://github.com/anitab-org/anitab-org.github.io/issues/65) can i now work on it

[2020-06-07 19:31] annabauza commented on #51
Regarding the font not sure, it should come from style possibly we will need to attach the font in assets. I would Google it.

[2020-06-07 20:20] gaurivn commented on #68
@abhi0504 , those who have already submitted PRs for first timer issues are not first timers anymore. Please check other issues.

[2020-06-08 13:08] devRD commented on #51
Hi @annabauza, the mentioned font 'Avenir' looks like a paid font, I think we wouldn't want to include a paid font into our open-source project. I would personally recommend using the font '[Nunito](https://fonts.google.com/specimen/Nunito?selection.family=Nunito:wght@200)', which is the closest alternative to 'Avenir' and is also freely available. What's your opinion about it?

[2020-06-08 14:24] tichnas commented on #55
Silly me! I was not familiar with React Native and misinterpreted the issue. However, I changed it to React Native with the dimensions mentioned. Please check it here https://github.com/tichnas/anitab-org.github.io/tree/footer @annabauza .
Currently, email validation takes place by comparison with a regex. Also, the fields only show a red border on wrong/empty input.

@Sonal240 I'm extremely sorry

[2020-06-08 14:38] Sonal240 commented on #55
why sorry buddy.. it's ok 😊...the code looks good to me wait for @annabauza to review it... good work @tichnas

[2020-06-08 14:58] tichnas commented on #55
Thanks, it was all possible due to your continuous help.

[2020-06-08 19:42] annabauza commented on #55
I don't see form to be sended anywhere. Also I found this: `<TouchableHighlight onPress={null}>`, are you missing some informations @tichnas ?

[2020-06-08 19:42] annabauza commented on #55
and you need to create the PR

[2020-06-08 19:50] tichnas commented on #55
@annabauza Where should the form send data? Also, the null should be replaced by `            Linking.openURL('<social-link>')` along with the corresponding image. Can you please provide the social links to update them?

[2020-06-09 06:47] annabauza commented on #42
each page should have own stack and after going to sub page I think we we should leave top and just add back button. Thanks @mitchell-frost

[2020-06-09 13:15] Sonal240 commented on #55
The LinkedIn page link is provided in the issue

[2020-06-09 13:19] tichnas commented on #55
Yes. Currently, all the three social icons have an image of the LinkedIn logo out of which only first one redirects to LinkedIn page. Since in the mockup, there were 3 icons, I left the other two for now.

[2020-06-09 13:32] Sonal240 commented on #55
Only LinkedIn was finalized as far as I remember so I left 2 blanks... @annabauza what else can be added?? Github and medium official page links??

[2020-06-09 13:36] Sonal240 commented on #51
I think the header too is using Avenir font if not then try using the same font as header @devRD

[2020-06-09 16:55] devRD commented on #51
@Sonal240 I checked the font that I was using for the header section, turns out it was 'Avenir', thanks for mentioning it, I added the `font-family` for the rest. I would also suggest keeping a fallback font for the same in case the users' system doesn't have this font available.  :)

I tried correcting the margins accordingly and the top margin of `128pt` looks rather odd. Here's a screenshot for

[2020-06-09 17:21] Sonal240 commented on #51
Have you read this [npm package](https://www.npmjs.com/package/react-native-image-overlay) which deals with having an overlay over the images @devRD if this does not give fruitful output go ahead with react-native-svg
I'll figure out something for other points that you've mentioned and revert back to you

[2020-06-09 17:25] mitchell-frost commented on #42
thanks @annabauza

[2020-06-10 06:41] Sonal240 commented on #51
@devRD instead of using an API to convert given pt values can you directly use them in your code, considering dp=pt like padding:32...I know pt!=dp, but still just want to see how things look...another thing the image extends only till the last line of INSIGHTS section

[2020-06-10 07:19] Sonal240 commented on #51
I found an interesting [article](https://codedaily.io/tutorials/22/The-Shapes-of-React-Native) that deals with creating polygons without using any react library may you go through it else try using react shapes for the same...first try making the polygon responsive keeping in mind the margins that it should maintain from the text fields...

Another[ article on using clip-path for responsive polygo

[2020-06-10 18:04] vj-codes opened #72 "Content: Create descriptions for each recent program for Programs page"
As a user,
I need a brief description for  About Our Recent Programs section of the Programs Page
so that as a newcomer I understand each recent program.
The About Our Recent Programs should contain the  program title , program description and  program eligibility for participants for each program regards the AnitaB.org

**Mocks-**
![programs (2)](https://user-images.githubusercontent.com/60894542

[2020-06-10 18:32] vj-codes opened #73 "Coding: Develop a timeline of recent programs for the Programs Page"
As a developer,
I need a recent programs timeline on Programs Page to be developed.
The timeline should follow the [Web Metrics Guide.](https://docs.google.com/document/d/1HhcXfc1qSj8aoj31psUgfdecI6zTkkzxUvueiEu4eas/edit)

[Programs Page Mock](https://drive.google.com/drive/folders/1QSFH6e1WqJ1t--O_cQa-VS6o6zpF3xeG)

**Timeline -**

![programs-timeline](https://user-images.githubusercontent.com/60

[2020-06-11 06:15] Sonal240 commented on #51
As we are developing it on react-native mobile responsiveness should not be an issue..earlier even I thought that we should provide developers with a mobile view of pages but @annabauza explained to me this point...

Convert px to pt first and then assign the values for all fields like padding: 32, height: 747 like that...

Another query...Is the polygon responsive??

Few links that you may go thr

[2020-06-11 11:49] adi-001 commented on #68
@gaurivn checkout PR #74

[2020-06-11 12:03] #68 closed

[2020-06-11 12:22] gaurivn commented on #68
Yes I saw here.

[2020-06-11 13:11] sakshi1499 commented on #72
@vj-codes Can you please take out specific mocks and add their screenshot in the description instead of redirecting it to the folder? That would be really helpful.

[2020-06-11 13:25] sakshi1499 commented on #60
@Sonal240 Well its up to @foongminwong I feel. Having everything in one place will be much simpler but if the content is too long (which will be long) it might be cluttered. So either way is fine, both have their trade offs.
My personal choice: Two separate Json files.

[2020-06-11 13:58] vj-codes commented on #72
@sakshi1499 done.Should I create a coding issue for the same?Also do you know about any other program that I missed here?

[2020-06-11 15:00] adi-001 commented on #73
@anitab-org/coding-team   anyone interested to take this?

[2020-06-11 16:19] foongminwong commented on #60
@Sonal420 @sakshi1499 Alright, I'll separate them into 2 JSON files, thank you!

[2020-06-12 18:47] gaurivn commented on #47
I am currently working on it, will send a PR soon.

[2020-06-13 08:12] nandini45 opened #75 "CODING:develop the partners section in the project page."
### Description
As a developer,
I need the following section of mockup to be developed,
so that I can add it in my projects page.

https://xd.adobe.com/view/e83904d0-fe4d-47c1-7762-155628f7de25-9e08/

### Mocks
![image](https://user-images.githubusercontent.com/62046625/84561379-78518080-ad69-11ea-87a8-f18f421b20dc.png)

**SIZE AND OTHER markings**
![image](https://user-images.githubusercontent.co

[2020-06-13 08:17] nandini45 commented on #72
i think google code in need not be there. as it is no longer active.

[2020-06-13 09:49] vj-codes commented on #72
yeah I'll do it @nandini45

[2020-06-13 11:33] sakshi1499 commented on #75
Looks good. We can tag coding team to start working on it.

[2020-06-13 12:13] annabauza commented on #75
I'm happy to implement this.

[2020-06-13 12:23] annabauza commented on #73
That one is complex one - I can take it.

[2020-06-13 14:27] sakshi1499 commented on #75
I assigned you <3 @annabauza

[2020-06-13 14:55] Sonal240 commented on #51
how's it going @devRD ??

[2020-06-13 14:57] Sonal240 commented on #55
@sakshi1499 can you look into this part??

[2020-06-13 14:58] Sonal240 commented on #67
Anyone from @anitab-org/coding-team free to take up this issue??

[2020-06-13 14:59] annabauza commented on #55
Remove blanks for now. We can always rise issue and add it. Thanks.

[2020-06-13 16:31] nandini45 commented on #75
here is the link to the drive which has all the images i have arranged all the icons according to alphabets and  placed them number wise. 5 in each row for the 2 section and 3 for the last one.
(65 for supporting, 12 for pioneering 3 for in kind) they are placed folder wise and alphabets.

[2020-06-13 16:33] nandini45 commented on #75
gray scale icons for supporting is missing i will upload it asap.

[2020-06-13 16:39] Frenzyritz13 commented on #62
Me and Simran are working on this. So i will remove the available label

[2020-06-13 16:40] siddhipandare commented on #61
Hello, Can I claim this issue? I have never contributed before and might take a little more time to create a PR if that's okay :sweat:

[2020-06-13 17:28] nandini45 commented on #72
can i work  on it?

[2020-06-14 09:35] tichnas commented on #55
The icons don't link anywhere. Should I remove them (I think only one icon will look awkward)?
Also, anything needs to be done on the form?

[2020-06-14 13:51] #65 closed

[2020-06-14 14:04] devRD commented on #51
Hi, @Sonal240, Can I make a WIP PR so that you can take have a proper look at the code? Maybe I'm messing up somewhere.

[2020-06-14 14:17] Sonal240 commented on #51
ok @devRD

[2020-06-14 14:24] Sonal240 commented on #55
Don't remove them..leave it as it is, as Anna said we will raise an issue for it later on...You may put a pr and later on, we may give it to the QA team for testing it (form part) if required, also I saw that only e-mail is being validated..what about the suggestion/feedback box below??

[2020-06-14 14:36] devRD commented on #51
It kind of looks like this at the moment, although the image is responsive now, it dynamically contains the respective image width and height in different screen sizes. :confused:

![Screenshot_AnitaBorg_open_source5](https://user-images.githubusercontent.com/35831931/84596220-0d439f00-ae7a-11ea-83cd-84c28ae990e6.png)

[2020-06-14 17:01] tichnas commented on #55
@Sonal240 I kept the feedback box required. Is there any other validation required like max/min characters?

[2020-06-14 17:40] Sonal240 commented on #51
Looks good...Can you start the image from OUR MISSION and extend it till the last line if INSIGHTS as mentioned in the mock given in issue?? and adjust the overlayed triangle as well...thanks

[2020-06-14 17:44] Sonal240 commented on #55
Yes...look for test cases..like it should not contain spam words generate a warning by changing the border-color look
@annabauza can ping the QA team for generating test cases ??

[2020-06-14 18:00] tichnas commented on #55
@Sonal240 Sorry but I have no idea on how to implement that. Can you please guide? The best I can even think of is having a list of all possible spam words and check if the message contains any of them.

[2020-06-15 06:13] Sonal240 commented on #55
@tichnas I think it might be a tedious job creating a list of spam words and checking them...to execute it efficiently ML models like the one used for Gmail can be implemented..but I don't think that's our priority as of now...I think we may leave it and raise an issue later if required

@annabauza @sakshi1499 can you review the pr raised by @tichnas...thanks a ton!!!

[2020-06-15 09:51] tichnas commented on #55
Thanks @Sonal240 @annabauza. It was a great experience contributing here. Looking forward to contributing more :)

[2020-06-15 10:32] Sonal240 opened #77 "Content: Add a description for Contact Us Section of Footer"
## Description
As a developer,
I need a short description for the  contact us section,
so that I can replace the dummy text field.

## Mocks
![Footer](https://user-images.githubusercontent.com/49720151/84648702-045ad800-af23-11ea-890c-ecda31d5c0f0.png)

## Acceptance Criteria
### Update [Required]
- [ ] The content should be consistent with the design and be clear enough so that a user can communi

[2020-06-15 10:33] Sonal240 commented on #77
@sakshi1499 can you review it??

[2020-06-15 10:35] sakshi1499 commented on #77
Yes looks good. It would be better if we cropped down the image to just footer. But otherwise great ☺️ @Sonal240

[2020-06-15 10:43] Sonal240 commented on #77
done @sakshi1499

@anitab-org/content-team may you please take up this issue??

[2020-06-15 12:16] siddhipandare commented on #77
Hello, I am from the content team with very little web-dev knowledge. As suggested by admins, I could write up the description in a google doc if that's okay.

[2020-06-15 12:34] nandini45 commented on #77
assigned to u @siddhipandare

[2020-06-15 12:35] Sonal240 commented on #77
I think you may create a json file and write your content that would be easy for the developer as well... If you are ok with that @siddhipandare

[2020-06-15 13:57] siddhipandare commented on #77
@Sonal240 Can you please elaborate a little on what exactly is needed in the PR/Doc? Thank you for assigning me @nandini45

[2020-06-15 14:05] sakshi1499 commented on #77
@siddhipandare Hi! So basically you have to make a .json file and add content in it. This json file will be in src folder
![image](https://user-images.githubusercontent.com/42520146/84666801-2a8e7100-af3f-11ea-80b5-cb583b436658.png)

You can have it in a similar format.

[2020-06-15 14:23] Sonal240 commented on #77
Thank you @sakshi1499

[2020-06-15 15:12] siddhipandare commented on #77
@sakshi1499 Thank you! I am working on it.

[2020-06-15 15:57] annabauza commented on #75
@sakshi1499 I believe those values are wrong but I will fix that.

[code]

[2020-06-15 15:59] sakshi1499 commented on #75
@annabauza Can you please share the changes? I'll see if other issues have the same problem. Thank you

[2020-06-15 16:19] nandini45 commented on #75
@annabauza  you said avenir and medium for the font weight but that type of font was not available so i changed it. temporarily. i will change that and other than that is there anything else which is wrong?

[2020-06-15 17:35] saurabhkanswal commented on #42
hey, @mitchell-frost sorry for the unavailability 😃
Any update on this issue?
please let me know if you find this issue a little bit hard as a first-timer, also you can check other issues. We love to you to help you 😄

[2020-06-16 07:00] siddhipandare commented on #77
Is the content and structure okay?
![vs](https://user-images.githubusercontent.com/50794652/84741579-e8137580-afcc-11ea-92ca-4f9ac6cbb88c.JPG)
![contactus](https://user-images.githubusercontent.com/50794652/84741652-feb9cc80-afcc-11ea-91e0-70b21dc23671.JPG)

P.S.: sorry for taking so much time and asking questions this is my first time contributing i don't want to mess up :sweat:

[2020-06-16 09:34] Sonal240 commented on #77
I'm not so good at making content so can someone from @anitab-org/content-team
review this ...the structure looks nice though @siddhipandare

[2020-06-16 11:18] Trimankaur commented on #61
Hi , I would like to work on this issue. This would be my first contribution to open source so can you please suggest me steps for getting started ?

[2020-06-16 16:33] siddhipandare commented on #77
Update: waiting for @anitab-org/content-team to review the content.

[2020-06-16 16:39] annabauza commented on #75
all good @nandini45 :)

[2020-06-16 16:42] Sonal240 commented on #77
@isabelcosta @foongminwong may you review the content please!!! Thanks 😊

[2020-06-16 18:58] nandini45 commented on #72
@annabauza  can i work on it? i know its for the content team. no one has taken it so can i?

[2020-06-16 19:01] annabauza commented on #72
Sure!

[2020-06-16 23:13] isabelcosta commented on #77
@siddhipandare you can submit a PR and we can review it there :) I think it would be easier for us.

[2020-06-17 06:16] siddhipandare commented on #77
@isabelcosta Thank you! I opened an PR. I hope I did it correctly 😓 . @sakshi1499 @Sonal240 Thank you for helping me 😄

[2020-06-17 07:06] Trimankaur commented on #61
I have fixed the issue and created a PR ( #78 ) , waiting for review.

[2020-06-17 09:08] Sonal240 commented on #67
The issue is open for all

[2020-06-17 09:52] Akanksha1212 commented on #67
Hi! Can I work on this?

[2020-06-17 10:47] Sonal240 commented on #66
This issue is open for all

[2020-06-17 13:52] sanchibansal340 commented on #63
@Sonal240 Can I work on this issue?

[2020-06-17 15:52] Sonal240 commented on #51
How is it going? are you done with the issue @devRD ? May you submit a pr for the same...thanks

[2020-06-17 15:53] husainattar commented on #66
Hi @Sonal240 for developing the given section from contribute page do we require the knowledge of React native or Vanilla Js is enough?

[2020-06-17 16:33] Sonal240 commented on #66
react native @husainattar

[2020-06-17 16:35] Sonal240 commented on #53
The issue is open for all

[2020-06-17 17:30] sanchibansal340 commented on #63
@Sonal240 @gaurivn I just saw that this issue requires knowledge of react and react native. I am beginner in JavaScript, so can I take 2 days to resolve it?

[2020-06-17 17:36] gaurivn commented on #63
No issues @sanchibansal340

[2020-06-17 18:54] husainattar commented on #66
So I want to work on this section but I am beginner to React-Native.
So can I take a little more time to develop than the required estimation time? @Sonal240

[2020-06-18 08:17] #61 closed

[2020-06-18 14:58] saurabhkanswal commented on #42
unassign @mitchell-frost as there is no response.

[2020-06-18 14:59] saurabhkanswal commented on #42
@anitab-org/coding-team anyone?

[2020-06-18 16:24] nandini45 opened #80 "CODING:develop the contribution section in the project page."
### Description
As a developer,
I need the following section of mockup to be developed,
so that I can add it in my projects page.
https://xd.adobe.com/view/e83904d0-fe4d-47c1-7762-155628f7de25-9e08/

### Mocks
![image](https://user-images.githubusercontent.com/62046625/85045661-e56f7680-b1ac-11ea-9b19-3b9279de7f05.png)

**sizing/spacing-**
![image](https://user-images.githubusercontent.com/6204662

[2020-06-18 16:30] nandini45 commented on #80
@annabauza  can you review the issue?

[2020-06-18 16:38] #35 closed

[2020-06-18 17:09] nandini45 commented on #72
@annabauza can u tell me what does our recent program actually means?
does it includes our programs that we conduct we organize or the program with which we are associated?

[2020-06-18 17:29] alpha2320 opened #81 "CODING: Develop the projects section on projects section"
### Description
As a developer,
I need the following section of mockup to be developed,
so that I can add it in my projects page :  https://xd.adobe.com/view/e86737c2-ff84-4e23-b4b1-e541508d5279-bd34/

### mocks

spacing and all details

![image](https://user-images.githubusercontent.com/62046625/86233427-04a9d300-bbb3-11ea-9e37-5f507af9db30.png)

![image](https://user-images.githubusercontent.com

[2020-06-18 17:30] alpha2320 commented on #81
@sakshi1499 @annabauza @nandini45  please have a look 😺!

[2020-06-18 17:39] Sonal240 commented on #81
@alpha2320 you may remove the label once the issue is approved and add status available label thanks

[2020-06-18 17:41] alpha2320 commented on #81
sure 😄

[2020-06-18 19:42] annabauza commented on #81
I left a comment on Zulip @alpha2320

[2020-06-18 20:59] annabauza commented on #72
@anitab-org/content-team @mayburgos can you help @nandini45 with programs?

[2020-06-18 21:00] annabauza commented on #72
Accepted criteria tells which projects

[2020-06-18 21:38] annabauza commented on #80
Actually last 30 days is the same font color

[2020-06-19 05:04] nandini45 commented on #72
these three programs are with which we are associated . the programs like grace hopper celebrations wont be included then?

[2020-06-19 18:24] mayburgos commented on #61
@Sonal240 @annabauza Please follow the first come, first serve contributing guidelines. @siddhipandare commented first and wasn't assigned.

[2020-06-19 18:49] annabauza commented on #61
Thank you May, missed that somehow 😟

[2020-06-20 03:54] Sonal240 commented on #61
I was not following the issue and by the time I saw it @siddhipandare was working on another one... So I assigned @Trimankaur  I'll take care of it from next time thanks @mayburgos 😊

[2020-06-20 08:12] annabauza commented on #61
@Sonal240 can we find first time for @siddhipandare ?

[2020-06-20 08:24] Sonal240 commented on #61
Are you talking about some first time issues? @annabauza

[2020-06-20 08:26] Sonal240 commented on #60
Hey @foongminwong  how's it going? 🙃

[2020-06-20 08:41] annabauza commented on #61
Yep

[2020-06-20 09:12] Sonal240 commented on #61
I think once the homepage and events page gets finalized and the content issues are created she may choose any one section and contribute coz I saw all content issues are closed if she's interested in coding then there's one issue of About us page meet our community section

[2020-06-20 10:55] siddhipandare commented on #61
Hello! Actually, in the content meet I had few doubts about contributing (I am a beginner at it) and one of which was "Can I start working on an issue and open PR even if I am not assigned because I saw someone do it " and send the link to this issue. I didn't know it was a mistake and against contributing guidelines 😓 </br>

I can work on any new content issues raised no problem 😅 Thank you for h

[2020-06-20 12:22] foongminwong commented on #60
Hi @Sonal240 I'm still working on it, have been dealing with other priorities this week, will update as soon as I can

[2020-06-21 16:04] nandini45 commented on #72
@vj-codes  i am working on this issue but due to other work i couldn't update here. i will update asap

[2020-06-21 17:05] vj-codes commented on #72
I was aware of these 3 programs and not exactly sure about Rail Girls and GHC , but if confirmed will be included in recent programs.

Sure:) @nandini45

[2020-06-23 05:55] Sonal240 commented on #62
![EventsPageDesign-Simran Shilky](https://user-images.githubusercontent.com/49720151/85365971-008f0d00-b544-11ea-956e-8cc7805dc40e.png)

[Design Link
](https://xd.adobe.com/view/7956c9f9-f4dc-4de6-7616-c127feeed71f-0f67/)

@simranaggarwal1999 @Frenzyritz13 kindly work on the top illustration and share it thanks

[2020-06-23 06:06] Sonal240 commented on #51
@devRD kindly see the issue again and do the required changes in the code and update it here...thanks

[2020-06-23 07:13] Sonal240 commented on #63
@sanchibansal340 I've updated the margins have a look...thanks

[2020-06-23 07:23] Sonal240 commented on #66
@husainattar I've updated the issue kindly have a look and make necessary changes in the code thanks

[2020-06-23 07:24] Sonal240 commented on #67
@Akanksha1212  I've updated the issue kindly have a look and do the necessary changes in the code

[2020-06-23 09:01] nandini45 commented on #72
@vj-codes  @sakshi1499  should be include some scholarship programs also like women techmakers or else?

[2020-06-23 09:35] nandini45 commented on #72
@vj-codes
just like google code in
rails girls summer of code has been cancelled or closed now due to the pandemic and shortage of funding as well..

[2020-06-23 16:56] devRD commented on #51
@Sonal240 I have made a WIP pull request, please feel free to go through the code and the needed modifications for the same.

[2020-06-23 21:24] isabelcosta commented on #75
@annabauza @nandini45 @sakshi1499 what is supposed to be the content for this page? What is a partners in this context?
This is a mockup for Projects, right? If so, we can start thinking about the content

[2020-06-23 21:32] annabauza commented on #75
We put things in section so there will be more content here 😊when we merge more sections.

[2020-06-23 21:33] annabauza commented on #75
But @isabelcosta maybe partners should go under about us page?

[2020-06-23 21:40] isabelcosta commented on #75
Is the "Partners" section supposed to be about Partners (like in the context of a company that has partners) or Projects (like mentorship system, vms, portal)?

[2020-06-24 08:29] anna4j commented on #53
@Sonal240 Can I work on this issue?

[2020-06-24 08:31] sakshi1499 commented on #53
@anna4j Sure

[2020-06-24 08:32] Sonal240 commented on #53
Thanks @sakshi1499

[2020-06-24 09:03] nandini45 commented on #75
partners here actually refer to the companies with which Anitab.org is related to.
@isabelcosta

[2020-06-24 09:07] anna4j commented on #53
@sakshi1499 currently there are 32 members in the member's list on the main GitHub page.
Should I only include those members? Or is there another list?
If you could also tell me how many members to be placed per row and column, so I can accordingly work on the responsiveness
Thanks :)

[2020-06-24 09:11] sakshi1499 commented on #53
@anna4j If you go on the org page of AnitaB where you can see all the repositories, you'll see that there is a section named Members. I can see there are 100 members. I guess we can add them.

[2020-06-24 09:21] nandini45 commented on #72
@isabelcosta  https://railsgirlssummerofcode.org/about/

[2020-06-24 10:30] siddhipandare commented on #72
If the descriptions are needed for open-source programs only then these programs could be included:
Google Summer of Code
Outreachy
Hacktoberfest
Open-Source Hackday ([#outreach-research](https://anitab-org.zulipchat.com/#narrow/stream/216324-outreach-research/topic/Task.20Force.20-.20Open.20Source.20HackDay) on Zulip)
details about Hackday are in this [doc](https://docs.google.com/document/d/1HDi

[2020-06-24 13:53] anna4j commented on #53
@sakshi1499  I'm able to see only 32 :(

![image](https://user-images.githubusercontent.com/43845261/85569440-2dc8e180-b650-11ea-9a60-43057fe09ec0.png)

[2020-06-24 13:57] anna4j commented on #53
@sakshi1499 I'm able to see only 32, could you look into this, please?

![image](https://user-images.githubusercontent.com/43845261/85570035-ab8ced00-b650-11ea-9175-f1b81fc37c71.png)

[2020-06-24 14:12] Sonal240 commented on #53
@anna4j Can you check out this link https://github.com/orgs/anitab-org/people

[2020-06-24 14:23] sakshi1499 commented on #53
@Sonal240 If you see the link in her screenshot, its the same as yours. I am not sure if all the members don't get visible for everyone. :/
Still @anna4j if you could confirm, it'll be of some help.

[2020-06-24 14:41] anna4j commented on #53
@sakshi1499 The link that @Sonal240 sent also shows 32 members only

[2020-06-24 14:57] Sonal240 commented on #53
![Screenshot_20200624_202626](https://user-images.githubusercontent.com/49720151/85580050-062a4700-b659-11ea-9412-47e01785d923.png)
well it has arrow buttons for navigation below
Same link @anna4j

[2020-06-24 15:42] anna4j commented on #53
@Sonal240 It shows only 2 arrows and 32 members. Do I need to be added somewhere or something to see all members? Actually @isabelcosta had addressed this issue in yesterday's meeting, perhaps she knows what the issue is

[2020-06-24 18:13] isabelcosta commented on #53
@anna4j I'm not sure what I can help you with. What is the question here?

[2020-06-24 18:17] sakshi1499 commented on #53
@isabelcosta Her question is asking about the reason why 32 members are visible to her and not 100.

[2020-06-24 18:21] isabelcosta commented on #53
@sakshi1499 @anna4j I have no idea 🤔 I really don't. @mayburgos do you have any idea about this?

[2020-06-24 18:22] sakshi1499 commented on #53
@isabelcosta I think she hasn't been added as a member that is she hasn't been invited to the open source teams. I guess that is the reason, not sure though.

[2020-06-24 18:27] gaurivn commented on #53
I think this is because these 32 members have made their member visibility as Public, the remaining are Private, if they too can change it to Public, it would be visible to @anna4j .

[2020-06-24 18:41] anna4j commented on #53
@sakshi1499 I've already started work with the 32 members, but please do update me when you have any information about how I should go about it :)

[2020-06-24 18:44] sakshi1499 commented on #53
@anna4j Sure. I'll confirm and get back.

[2020-06-24 18:45] annabauza commented on #75
But I have made it in a way we can edit the content structure to add remove. And we can easily move it from one sub page to other or split and show on 2 subpages. I wish to merge the PR if everything looks good. There are common components there which should be reused in other sections like SectionHeader and SectionSubheader. @isabelcosta .

[2020-06-24 18:51] vj-codes commented on #53
Heyy I can see all 100 members , you just have to check the remaining pages by clicking on pg no/next button at bottom.
Or
There's a role button on right of display bar click on that and select everyone .  @anna4j

[2020-06-24 18:58] anna4j commented on #53
@vj-codes hi, were you by any chance recently added to OS teams? because that would explain why I can see 33 members now instead of 32, and you can see 100. If not nevermind :)

[2020-06-24 18:58] annabauza commented on #47
@sakshi1499 you assigned @gaurivn while @vardhinipawar was next in the queue according to messages.. Let's make sure we keep the queue properly.

[2020-06-24 19:01] sakshi1499 commented on #47
@annabauza I thought of the 4 day no update rule. @vardhinipawar hadn't responded in 4 days, exactly why I went ahead and assigned @gaurivn

[2020-06-24 19:02] sakshi1499 commented on #47
I guess @mitchell-frost could have been made the next assignee. That's my fault, sorry :(

[2020-06-24 19:08] vj-codes commented on #53
Ahh no I've been there since april but made my profile public few mins before.
Another thing I observed is when I'm on guest or incognito mode on chrome I see 33 members too.Just check if you have signed in on chrome and try again .Maybe it'll work . @anna4j

[2020-06-24 19:09] annabauza commented on #47
Ient @mitchell-frost  😬

[2020-06-24 19:10] sakshi1499 commented on #47
@annabauza Haha, got it!! I am sorry will take extra care next time.

[2020-06-24 19:11] anna4j commented on #53
@vj-codes I tried signing in again too! I think it's a matter of me not being a member. Because only members can see private and public members.

[2020-06-24 19:14] #77 closed

[2020-06-24 19:32] gaurivn commented on #47
@annabauza, @sakshi1499 , I'm sorry I didn't notice the same before commenting here due to inactivity. I suggest @mitchell-frost be assigned this issue.

[2020-06-25 08:24] gaurivn commented on #47
@mitchell-frost , would you like to work on this issue?

[2020-06-25 10:27] nandini45 commented on #80
@anitab-org/coding-team can someone work on this issue?

[2020-06-25 11:50] abha224 commented on #62
@simranaggarwal1999 HI! I see that the issue you created does not follow the issue template. Can you pls modify the description of the issue so that it appropriately follows one of the 3 issue templates?

[2020-06-25 22:10] isabelcosta commented on #75
I understand what you mean @annabauza @nandini45 , since this is still in the works I guess we can have it like that. I just wanted to avoid adding information that is not accurate in the open source website, that relates to external entities/companies we may not be affiliated with. It can mislead people who go to https://anitab-org.github.io/

I was just wondering if this information is not accur

[2020-06-26 12:25] anna4j commented on #53
@sakshi1499 hey! I'm almost done with code, just need to fetch images so if I could have an update since I can only see 34. I also had 2 questions:
1) if someone has not set a profile picture, what to do in that case?
2) should I write the corresponding em values for all the specifications that are mention in pixels, or should I move forward with pixel only?
thanks

[2020-06-26 12:37] sakshi1499 commented on #53
So I am not sure how many members we will have on the whole screen if only 50 are visible we can try and keep the people who have display picture otherwise we can keep even the ones who don't have picture. I'll talk to may today in my 1:1 about this issue and get back to you tonight okay?
So i think writing em values is better than writing pixels but @annabauza will be the best judge about that.

[2020-06-26 15:15] happycoder0011 commented on #81
Can I work on it?

[2020-06-26 15:31] navkumar258 commented on #81
Is it still open, is someone working on it..? I am looking for my first contribution. thanks !

[2020-06-26 15:46] Sonal240 commented on #81
Hey @happycoder0011 @navkumar258 the issue is on hold as the design is under review...thanks

[2020-06-27 07:03] nandini45 opened #85 "Content: Add description for project in Projects page"
### **DESCRIPTION**
write the description for the project heading

### **Mocks**

![image](https://user-images.githubusercontent.com/62046625/85916686-cfc71480-b870-11ea-9e8d-966f44ff89c7.png)\

### Acceptance Criteria
**Update [Required]**
- [x] projects content

**Definition of Done**

- [x]  All of the required items are completed.
- [x]  Approval by 1 mentor.

**Estimation**
3 hours

[2020-06-27 16:46] Sonal240 commented on #53
@anna4j We are discussing the point that you've raised  so I have put it on hold, it will be open soon once we get a clear picture...thanks

[2020-06-28 06:17] Souvikns commented on #85
I will like to do this as my first contribution.
I checked for content to write but couldn't find any in the content folder. I only contains:
-  about
- contact
- home

*Please specify what to write*.

[2020-06-28 20:23] anna4j commented on #80
@nandini45  I'd like to work on this!

[2020-06-28 21:12] adi-001 commented on #80
@anna4j , go ahead - assigned it to you🙃

[2020-06-28 21:28] #75 closed

[2020-06-30 09:29] anna4j commented on #80
I'm facing some issues with the react-native-svg package that is needed for the contribution graph. It shows syntax error of Unexpected token
in one of the module files itself :(
The react-native-svg-web package shows the same error
how can I go about this? thanks

[2020-06-30 11:19] Sonal240 commented on #62
![EventsPageDesign-Simran Shilky](https://user-images.githubusercontent.com/49720151/86120160-6b66b800-baf1-11ea-9362-824b0bdb9da9.png)

I've updated the design with your illustration @simranaggarwal1999
@annabauza @sakshi1499 can I make coding issues for this??

[2020-07-01 08:02] siddhipandare commented on #85
@nandini45 Hey! Can you mention a few more details about what is needed? How is this issue different from issue #47? :smile:

[2020-07-01 10:13] nandini45 commented on #85
yeah.. @siddhipandare  descriptions actually refer to the project we are working on and everything about it..
 whereas in this issue you only have to describe what is a project(definition sort) and something about Anitab,org related to it..

@Souvikns  i explained what you need to do in the above text.. if you clear about what it is and want to work on it.. i will assign it to u.. ok?

[2020-07-01 10:29] nandini45 commented on #81
@happycoder0011  are you still interested in working on this issue?

[2020-07-01 10:35] happycoder0011 commented on #81
Yes I am interested.

[2020-07-01 11:58] Souvikns commented on #85
Yeah I would like to work on it.

[2020-07-01 14:38] Souvikns commented on #85
I had started working on this, and I wanted to clarify somethings before making a pr.
- I found the image in the mock-up but it is a paid image, I used another image instead.
- Is this a website or are you planning for a react-native mobile app to.

## This is what I have done so far
![image](https://user-images.githubusercontent.com/41781438/86256097-84489980-bbd5-11ea-846d-72ce48d0f598.png)

For

[2020-07-01 20:06] anna4j commented on #80
@nandini45
![image](https://user-images.githubusercontent.com/43845261/86286506-326b3800-bc04-11ea-82aa-3e0d12dd7590.png)

So this is the error I've been stuck on. "Line" is a component imported from the react-native-svg package and it's contained in a .tsx file

[2020-07-02 23:07] PriViji commented on #81
I am interested. Is anyone working on this?

[2020-07-03 09:46] nandini45 commented on #81
already taken by someone.. you can look for some other issue @PriViji

[2020-07-03 16:00] mayburgos commented on #53
Actually, it doesn't show if the member hasn't added it to their profile.

[2020-07-03 16:03] anna4j commented on #80
I'm working on this issue, sorry for the delay. I aim to open a pull request soon!

[2020-07-04 00:11] foongminwong commented on #59
Check out @archanaserver suggestion here for newcomers contribution: https://anitab-org.zulipchat.com/#narrow/stream/212722-general/topic/%28no.20topic%29/near/202613341

[2020-07-04 07:40] #59 closed

[2020-07-04 12:19] sakshi1499 commented on #53
@anna4j Hii! I hope you are still interested in working on the PR for this issue. For now use the 32 members that are visible to you and repeat them until the grid the completed. We will update it later with actual members as we are currently also unsure about who among the 100 members is still active or in the org.

[2020-07-04 12:21] anna4j commented on #53
@sakshi1499 okay sure! I'll use only the visible members

[2020-07-04 12:23] sakshi1499 commented on #72
@nandini45 Hii! Just saw your question. I hope you are working on it, because it has already been 10 days. Yes I agree that RGSoC has gotten cancelled and GCI has been discontinued, so Add about Open Source Hack Day, GSOC & Outreachy.

[2020-07-04 12:24] sakshi1499 commented on #67
@Akanksha1212 Hi what are the updates? Are you still working on this issue?

[2020-07-04 12:28] sakshi1499 commented on #42
@anitab-org/coding-team Please take up this issue

[2020-07-04 12:29] sakshi1499 commented on #60
@foongminwong Hii!! Any updates?

[2020-07-04 13:25] anna4j commented on #55
@tichnas could you please tell me how you set up the project? The way I did is causing some trouble with react-native modules required for the features I'm adding. thanks

[2020-07-04 14:18] foongminwong commented on #60
@sakshi1499 sent a PR for #59 will be working on this next 👍

[2020-07-04 18:19] Akanksha1212 commented on #67
Hi @sakshi1499 Yes, I am working on it. Will make a PR in 1-2 days.

[2020-07-04 18:43] sakshi1499 commented on #67
@Akanksha1212 Great

[2020-07-04 18:45] sakshi1499 commented on #60
@foongminwong Awsome. Yes I saw that one!

[2020-07-05 08:02] Sonal240 opened #89 "Content- Add a description for Events Section"
## Description
As a developer,
I need a welcoming and friendly description for Events,
so that I can replace the default text field in the mock.

## Mocks
![events-content](https://user-images.githubusercontent.com/49720151/86528230-a38c4300-bec3-11ea-8582-44d8eb98fef5.png)

## Acceptance Criteria
### Update [Required]
- [ ] The description should be brief yet engaging and should encourage the use

[2020-07-05 08:04] Sonal240 commented on #89
@sakshi1499 kindly check the issue...thanks

[2020-07-05 08:10] Sonal240 opened #90 "Coding: Develop the following Events Section"
## Description
As a developer,
I need the following section to be developed,
so that I can add it as an Events component [here](https://github.com/anitab-org/anitab-org.github.io/tree/develop/src/Components).

## Mocks
Develop the section in the red box only
![event1](https://user-images.githubusercontent.com/49720151/86531909-03dead00-bee3-11ea-8e04-ada95ba44b4c.png)

Font Size for heading EVENTS

[2020-07-05 08:11] Sonal240 commented on #90
Hey @sakshi1499, kindly review the issue..thanks

[2020-07-05 11:28] sakshi1499 commented on #89
LGTM @Sonal240

[2020-07-05 11:30] sakshi1499 commented on #90
Can you zoom in and change the screenshot because dimensions are not visible? @Sonal240

[2020-07-05 12:38] anna4j commented on #90
@Sonal240 I can work on this I'm going to create a PR for the previous issue assigned to me, in an hour :)

[2020-07-06 06:17] Sonal240 opened #92 "Content: Replace all dummy text fields in the given mock of events page"
## Description
As a user,
I need brief yet engaging descriptions for all events displayed in cards and the heading EVENTS and HIGHLIGHTS,
so that I can walk through all of them and participate.

## Mocks
![event-con-2](https://user-images.githubusercontent.com/49720151/86560649-6fc12400-bf7c-11ea-924d-e87230ba0f6f.png)

## Acceptance Criteria
### Update [Required]
- [ ] The description below the m

[2020-07-06 06:18] Sonal240 commented on #92
@sakshi1499 kindly review the issue thanks...

[2020-07-06 06:30] sakshi1499 commented on #92
@Sonal240 Awesome!!

[2020-07-06 06:30] sakshi1499 commented on #92
@anitab-org/content-team Please take up this issue :)

[2020-07-06 07:30] anna4j commented on #90
@Sonal240 where can I find the image that's visible in the mockup, which I'm supposed to add? thanks

[2020-07-06 07:33] sakshi1499 commented on #90
@anna4j Here is the link to the image [Link](https://www.figma.com/file/g9MmU2PP7Jhr3S8l10ciiQ/Untitled?node-id=0%3A1)

[2020-07-06 08:17] Sonal240 commented on #90
I've updated the issue as well

[2020-07-06 08:22] sakshi1499 commented on #90
@Sonal240 Not an issue 😬♥️

[2020-07-06 08:46] anna4j commented on #80
could someone else please take up this issue? I'm facing issues with the react-native modules that haven't been developed for the web yet but are being used in this thanks.

[2020-07-06 08:54] anna4j commented on #89
@sakshi1499 I can work on this since I'm working on the component already :)

[2020-07-06 10:25] Sonal240 commented on #63
Hey @sanchibansal340, how is it going? May you submit a pr if you are done...thanks

[2020-07-06 10:26] Sonal240 commented on #66
@husainattar how is it going? May you please submit a pr if you are done...thanks

[2020-07-06 10:28] sanchibansal340 commented on #63
@Sonal240 I am almost done, there are just some minor styling issues and will submit it by day after tomorrow. Thank you for giving me plenty of time to work on this issue.

[2020-07-06 10:28] Sonal240 commented on #67
@Akanksha1212 can you submit a pr...thanks

[2020-07-06 11:26] husainattar commented on #66
Hi @Sonal240  I have done the work just working on responsiveness and I will create a PR within 1-2days.

[2020-07-06 11:49] siddhipandare commented on #92
Hey can I work on this?

[2020-07-06 12:08] Akanksha1212 commented on #67
Hi @Sonal240, I spent time working on this issue but I am not getting the exact result as it's expected in the issue. So I don't think I'll be able to make a PR soon. Please unassign me.

[2020-07-06 12:15] anna4j commented on #90
@sakshi1499 @Sonal240  I have to include this image in the component as .png format and not .svg right? please confirm this
Also, the background isn't white as it should be as per mockup
![Untitled](https://user-images.githubusercontent.com/43845261/86592032-4d48fe00-bfb0-11ea-98bc-29acea1b8c74.png) please have a look. thanks :)

[2020-07-06 12:31] sakshi1499 commented on #90
Have you snipped it? @anna4j I think if you download it directly from figma it should come without any background and just the image we need.

[2020-07-06 12:34] sakshi1499 commented on #67
@Akanksha1212 Its okay if its taking you time, you can take some more time not an issue.

[2020-07-06 12:35] sakshi1499 commented on #92
@siddhipandare Hey, sure. I'll assign you

[2020-07-06 12:41] sakshi1499 commented on #90
@anna4j I got it! @Sonal240 Can you change the background to white instead of grey. If you can't edit then, we'll ping Simran aggarwal to change it to white.

[2020-07-06 14:08] Sonal240 commented on #90
I don't have an access...@anna4j download the image from development link

[2020-07-06 14:09] Sonal240 commented on #90
If problem persists then we may ping her @sakshi1499

[2020-07-06 14:11] Sonal240 commented on #67
Hey @Akanksha1212 you may pose questions here as well no issues... I just asked about the pr coz you had mentioned it earlier...

[2020-07-06 15:27] anna4j commented on #90
@Sonal240 I've downloaded it from the development link. thanks

[2020-07-06 17:04] happycoder0011 commented on #81
![image](https://user-images.githubusercontent.com/62816994/86619738-c2c8c480-bfd8-11ea-807e-2975acb7e13d.png)
![image](https://user-images.githubusercontent.com/62816994/86619774-ceb48680-bfd8-11ea-99fb-22d6111f8e9b.png)

[2020-07-06 17:07] happycoder0011 commented on #81
this is what I have designed till now keeping in mind the design guidelines. I am stuck since it's my first contribution. Kindly guide me on how should I go ahead. I am unable to make further development.
I didn't want to waste your time so I thought to reach out.

[2020-07-06 17:10] PriViji commented on #81
Just give Padding size to the image container (div)

On Mon, Jul 6, 2020 at 1:07 PM happycoder0011 <notifications@github.com>
wrote:

[2020-07-06 17:27] siddhipandare commented on #92
@sakshi1499 Thank you!
@Sonal240  Few doubts , since the event names are not mentioned I suppose these are one day (short) events and *not* GSoC or hackathons
I found the details of AnitaB open source Events ➡️  [here](https://drive.google.com/drive/folders/1S76M1Iy1-K-pcaHbTS04-LwZ-peuP1sV)

But I don't know if these are recurring events. Are these the events you need description for?
Also, as th

[2020-07-06 21:31] gaurivn opened #93 "Content: add badges for projects page"
## Description
As a developer,
I need to see badges for PR #84,
so that I can add them to Projects page following [this design](https://xd.adobe.com/view/5a5a8a52-a713-4d60-6bd5-536dfb21c2ae-2c6b/).

## Acceptance Criteria
### Update [Required]
- [ ] Added badges for each project mentioned in Issue #47

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor

[2020-07-07 05:17] Sonal240 commented on #92
I think @mayburgos would be the right person to answer this...

[2020-07-07 11:48] tonythetiger323 commented on #23
I would like to take a stab at this!

[2020-07-07 11:53] gaurivn commented on #23
Sure @tonythetiger323, assigning to you, happy coding!

[2020-07-07 12:06] tonythetiger323 commented on #23
Thanks! Getting started right now.

[2020-07-07 19:03] Akanksha1212 commented on #67
Hi @Sonal240 and @sakshi1499, I think it would be better if someone else takes it up for now. I am pretty new to this so need some time to figure it out. I'll try to look for simpler issues 😅

[2020-07-07 20:58] anna4j commented on #67
@sakshi1499 I can take it up :) could you also see the changes in my latest pr please

[2020-07-08 07:05] anna4j commented on #67
@sakshi1499 @Sonal240 I have to feature issues of which GitHub repository in this component? anitab-org.github.io?

[2020-07-08 07:27] Sonal240 commented on #67
All the issues that have the label first timer issue only

[2020-07-08 17:23] nandini45 commented on #72
@sakshi1499  i just saw the reply....
yes i am working but just needed a confirmation to submit the pr.. will do it by tomorrow then

[2020-07-08 18:02] nandini45 commented on #81
@happycoder0011  i am sorry i missed your comment did u solve your issue?

[2020-07-09 20:14] anna4j commented on #67
@sakshi1499 hey! currently stuck on this issue. There isn't a lot of documentation around this either. I did tag the coding team in zulip because I read an article by an open-source contributor at systers 2 years ago and they had implemented a similar feature in their systers.github.io but I tried everything she shared and it doesn't work :(
In fact, I went ahead and mailed her too. Waiting for a

[2020-07-10 12:24] siddhipandare commented on #92
@anitab-org/content-team  @mayburgos  Can you help with this?

[2020-07-10 12:26] sakshi1499 commented on #67
@anna4j So as much as I got it, I believe you need help with embedding first timer issue in the code?

[2020-07-10 12:30] anna4j commented on #67
@sakshi1499  yes absolutely

[2020-07-10 12:31] sakshi1499 commented on #67
@anna4j give me some time, i'll do my research and get to you. Give me a day max

[2020-07-10 13:56] sakshi1499 commented on #67
@anna4j Hi, Read about GitHub Gists and Read about this [Link](https://developer.github.com/v3/issues/#list-repository-issues). Tell me if it solves your problem!

[2020-07-10 16:03] abha224 commented on #48
@Sonal240 can you pls tell me if the work has been reviewed so that we can close this issue?

[2020-07-10 23:07] gaurivn commented on #42
I would like to work on this issue.

[2020-07-11 07:24] vj-codes commented on #42
Assigning you @gaurivn
Happy coding!

[2020-07-11 09:15] abha224 commented on #63
@sanchibansal340 Hey! Can you pls give us an update on your progress?

[2020-07-11 09:16] abha224 commented on #66
@husainattar Hi! Can you pls give us an update on your progress?

[2020-07-11 09:27] abha224 commented on #89
@anna4j Hey! How is the work going? Can you pls update here?

[2020-07-11 09:30] anna4j commented on #67
@sakshi1499 ya, I've been trying out this approach! will update soon

[2020-07-11 09:32] anna4j commented on #89
@abha224 hey! so the coding part is almost done for this section, I'm working on the responsiveness right now. So I'll open PR for both content and coding part together within a day or two

[2020-07-11 09:39] abha224 commented on #89
@anna4j okay, that sounds great! :smiley:

[2020-07-11 13:33] husainattar commented on #66
Hi @abha224 actually my code is complete but I am having a problem with responsiveness it's not working as wanted in the smaller screens so I am actually working on it and create a PR .

[2020-07-11 17:55] nandini45 commented on #89
@anna4j  i will be unassigning you from this issue.

[2020-07-11 17:55] nandini45 commented on #90
@anna4j  i will be unassigning you from this issue too.

[2020-07-11 18:02] nandini45 commented on #67
@anna4j  I have unassigned you from two issues. there are some guidelines you should abide by that is you can work on only one issue at a time and moreover i think it will be to much work for you  to work on more than one issue. i see you opened one PR therefore you can continue working on this. and when you will complete it if that issue(which i have unassigned you) is still available you can tak

[2020-07-11 18:03] nandini45 commented on #90
@anitab-org/coding-team  can someone take up this issue?

[2020-07-11 18:03] nandini45 commented on #89
@anitab-org/coding-team  can someone take up this issue?

[2020-07-11 18:04] nandini45 commented on #92
@annabauza  Can you look into this issue and answer her questions?

[2020-07-11 18:18] anna4j commented on #89
@nandini45 oh but i was going to open a PR I mentioned above a few hours ago

[2020-07-11 18:20] anna4j commented on #90
@anna4j but I already told @abha224 that I'm working on the responsiveness and I'll be opening a PR within a day

[2020-07-11 19:23] anna4j commented on #90
@Sonal240 @sakshi1499 Kindly review the content for this component and let me know the changes!

[2020-07-11 19:47] annabauza commented on #92
@nandini45 can we provide the json/js format like we implement under content folder?

[2020-07-12 07:00] nandini45 commented on #90
about us page is a different page
 how will that issue close this issue.

[2020-07-12 07:05] anna4j commented on #90
@nandini45 I didn't update the heading of the PR. Please check the actual PR description

[2020-07-12 07:35] nandini45 commented on #90
@anna4j  have  u create one single pull request for all the three issues?

[2020-07-12 09:31] sanchibansal340 commented on #63
@abha224 I am having problem with adding spaces between the elements.

[2020-07-12 09:36] nandini45 commented on #90
i was having the issue but someone helped me out. i hope this helps u out
Before working on any issue follow these steps-
1 checkout the develop.
2 fetch the latest repo-> run git pull if upstream is set otherwise run git pull https://github.com/anitab-org/mentorship-backend.git.
3 create a new branch xyz from the develop branch git checkout -b XYZ.
4 if you are done with your changes, then add th

[2020-07-12 13:20] saideepesh000 opened #97 "Improvement Of README.md File."
### Description
As a developer,
While setting up the remote upstream, documentation was unclear.

The README.md file describes the following.
"When a repository is cloned, it has a default remote named origin that points to your fork on GitHub, not the original repository it was forked from. To keep track of the original repository, you should add another remote named upstream. For this project, i

[2020-07-12 13:23] saideepesh000 commented on #97
can I work on this, this could be my first issue.

[2020-07-12 13:36] nandini45 commented on #97
@saideepesh000  i think one such issue was created and merged
i will mention that issue give me a minute

[2020-07-12 13:38] nandini45 commented on #97
https://github.com/anitab-org/anitab-org.github.io/issues/29

[2020-07-12 13:39] saideepesh000 commented on #97
But why it is not on the README.md file.

[2020-07-12 13:45] nandini45 commented on #97
that's a different issue the. i will ask the admin for the confirmation if she agrees you can make the changes in the readme ..meanwhile just one more thing edit the template of you issue

@annabauza  can u tell me if this change has to be made on the readme??

[2020-07-12 13:48] saideepesh000 commented on #97
Ok

[2020-07-12 13:55] nandini45 commented on #92
@sonal420 can u tell the purpose of these boxes.. what are these for.?
![image](https://user-images.githubusercontent.com/62046625/87248126-4cfba780-c475-11ea-8fd3-2cf6cb7d06d9.png)

[2020-07-12 13:57] nandini45 commented on #92
yes if we have to put the content of the events page then yeah sure @annabauza

[2020-07-12 14:01] nandini45 commented on #92
@siddhipandare  yes the events which you are referring to are the events that you need to mention.
As for location of the events all of them will be conducted virtually i suppose. and for the timezone i think you can mention two standard time Indian standard time, European standard time.
i think when @Sonal240  answers your questions all the question will be answered. if still any query feel free

[2020-07-12 14:16] Sonal240 commented on #92
Those boxes are for thumbnail images of events

[2020-07-12 14:26] siddhipandare commented on #92
@nandini45  Thank you 👍 I am working on this.
 I'll keep you all posted.
 @Sonal240 I'll refer to the existing code in the content folder for the structure. 😄

[2020-07-13 11:05] happycoder0011 commented on #81
I tried i am unable to resolve the issue.
You can unassign me.I am unable to make progress.

[2020-07-14 04:05] IC1101Virgo commented on #97
Can I claim this? This can be the first github issue I might work on 😃

[2020-07-14 16:27] Sonal240 commented on #60
@foongminwong how's it going? May you post your updates here...thanks

[2020-07-14 16:29] siddhipandare commented on #92
Update : I am still editing the content. Just confirming, I'll name the file as events.js which will be in src/content/events.js is that okay?

[2020-07-14 16:39] Sonal240 commented on #92
rename it as events and highlights...I think it might conflict with another file with the same name...the top description...thanks

[2020-07-14 16:47] foongminwong commented on #60
@Sonal240 thank for checking, still working on it, have been dealing with job interviews recently... will create a PR as soon as I can

[2020-07-14 17:20] nandini45 commented on #72
@sakshi1499  @vj-codes  l will create a PR as soon as i can. i know i said to do it the next day.. but i am caught in some college work. some sort of training is going on therefore i couldnt create a PR.. sorry for the late work

[2020-07-14 17:22] nandini45 commented on #81
@happycoder0011 i think u were half way through your work, are u sure u dont want to work on it?

[2020-07-14 17:22] nandini45 commented on #81
and if you have any issue please tell us we will help you resolve it?

[2020-07-14 17:25] nandini45 commented on #97
@IC1101Virgo  actually the person who created this issue. wants to work on it and he asked it beforehand, so i cant assign it to u.
you can  look for other issues

[2020-07-14 17:26] nandini45 commented on #63
@sanchibansal340  can u tell us the issue.. so that we can help you out

[2020-07-14 17:32] anna4j commented on #63
@sanchibansal340 you can add justiftContent: "space-between" in the styles

[2020-07-14 18:16] tonythetiger323 commented on #23
My apologies, had a computer issue and had to erase my system and reinstall, getting things set back up today and then will be on it, sucks as I had pretty much had it done. My apologies.

[2020-07-14 18:16] Sonal240 commented on #60
Sure... Good luck for your interviews 🙂👍

[2020-07-14 18:18] gaurivn commented on #23
No problem @tonythetiger323, thanks for the update.

[2020-07-15 02:49] sanchibansal340 commented on #63
@nandini45 I have been using the 'Under Construction' image as a dummy. Can you tell me how to snip the image that goes next to the 'New To Open Source' section? Also, I am having problem with the folder structure. Where should I place the folder that I created which contains the index.js file? Lastly, I am not able to view the changes that I have made? Can you please help me with that as well?

[2020-07-15 07:35] vj-codes commented on #72
thanks for the update @nandini45

[2020-07-15 08:17] #89 closed

[2020-07-15 08:22] anna4j commented on #63
@sanchibansal340 hey! So you can add the folder you created under the Components folder which can be found inside the src folder. And in order to view the changes, you're making kindly import the component ( that you've exported from your index.js ) into the App.js which is also under the src folder. Hope that helps!

[2020-07-15 09:32] sanchibansal340 commented on #63
![Screenshot (87)](https://user-images.githubusercontent.com/51092036/87528817-b06f1a80-c6ab-11ea-923f-4074b7236fe8.png)
@anna4j Yes, thank you that helped. I took a screenshot of the image from the Design Link and the cropped it. Now my image is not appearing properly. Can anyone please tell me what might be the reason for this?

[2020-07-15 09:51] anna4j commented on #63
@sanchibansal340 okay so if you see on the rightmost side after opening the development link, there are three small icons. Select the "code" icon and then you'll actually be able to download the image by right-clicking on it instead of taking a screenshot. Hope that helps :)

[2020-07-15 10:18] #53 closed

[2020-07-15 10:18] sanchibansal340 commented on #63
Thank you so much @anna4j

[2020-07-15 11:56] sanchibansal340 commented on #63
@Sonal240 How do I have to change it to responsive, according to the platform, screen orientation or both?

[2020-07-15 12:45] Sonal240 commented on #63
Both @sanchibansal340  if possible...else leave it to screen size

[2020-07-15 15:06] happycoder0011 commented on #81
I am missing on three major features:
1.The view more option for more cards to expand
2.The tags of the languages in each card
3. In the design, it is mentioned 4 cards in a row but according to card dimension only three fits.

I could not figure out a way to add them. I am using material UI.
See if anything can be done.
Thanks.

[2020-07-15 16:16] sanchibansal340 commented on #63
@Sonal240 One last question. Do you know why flexWrap : 'wrap' might not be working because when I am decreasing the size of the browser window the image is not moving to next line?

[2020-07-15 16:21] Sonal240 commented on #63
How's it looking now? Can you share a screenshot... For both responsive and large screens ...I'll see and get back to you asap🙂

[2020-07-15 16:27] sanchibansal340 commented on #63
I don't think the responsiveness is working.

![Screenshot (88)](https://user-images.githubusercontent.com/51092036/87570284-052f8700-c6e6-11ea-9aba-d37e17f2b28c.png)
![Screenshot (89)](https://user-images.githubusercontent.com/51092036/87570367-2db78100-c6e6-11ea-8669-8a1f710d668b.png)

[2020-07-15 16:29] Sonal240 commented on #63
Have you tried changing the width to max width :(max size of screen)....or 100% of viewport

[2020-07-15 16:31] sanchibansal340 commented on #63
I will try max-width of screen but 100% of viewport is not working

[2020-07-15 16:35] Sonal240 commented on #63
Instead of width... Use max width and add max screen size value

[2020-07-15 17:19] anna4j commented on #67
@sakshi1499 Hello! So I was playing around with the GitHub API to fetch issues and here some shortcomings I've faced:
1. Only issues of a **particular** Repo can be fetched at once, but I guess one way around this is to call the function multiple times for various repos.
2. **All** issues are fetched at the same time, I haven't been able to find a way to fetch them **label-wise** since we need "Fi

[2020-07-15 17:30] sanchibansal340 commented on #63
@Sonal240 You can unassign me the issue. I am not able to make it responsive and I have already taken a lot of your and the coding team's time. I am sorry.

[2020-07-15 17:39] anna4j commented on #63
@sanchibansal340 https://necolas.github.io/react-native-web/docs/?path=/docs/apis-platform--page
you could try this :)

[2020-07-15 18:04] nandini45 commented on #81
firstly if three cards are fitting.. no problem i will ask the team and update you about it. what can you do and what changes can be done.
then the tags i have shared a link check that out and tell me if it of any help to u. the tags have to be permanent so just dont use the close function (i will suggest use any three tag like for ex javascript python java and place them all in the cards).
https:

[2020-07-15 18:04] Sonal240 commented on #67
Have you tried filtering the latter response according to labels? Similar to this one https://devdocs.magento.com/guides/v2.4/rest/retrieve-filtered-responses.html  ...@anna4j

[2020-07-15 18:07] PriViji commented on #80
Hi, Is this available?

[2020-07-15 18:10] sanchibansal340 commented on #63
Oh okay. Thank you @Sonal240 . I will try to complete it by tomorrow :)

[2020-07-15 20:36] gaurivn commented on #80
Yes it is.

[2020-07-15 22:42] PriViji commented on #80
I would like to take up

[2020-07-16 00:03] gaurivn commented on #42
I had faced the error (screenshot below), tried solving it following [this post](https://peterthaleikis.com/posts/how-to-fix-throw-er-unhandled-error-event.html) but the same error persists. Can anyone help solve this error
![integrate_react-nav_err](https://user-images.githubusercontent.com/48416306/87611508-4c833b00-c719-11ea-80a4-ed6c2abf58bb.png)

[2020-07-16 16:02] mitchell-frost commented on #42
I am really sorry for the delay. Yes, it was tough for me and hence, I could not open a PR. I will look for other issues :)

[2020-07-16 18:16] siddhipandare commented on #92
This is the structure of ```events_and_highlights.json``` file (In the last update I said it's a .js file, apologies)

The current structure is -
[code]
I am almost done with the content. Let me know is it's okay, will open PR soon 😄

[2020-07-17 10:33] anna4j commented on #67
@Sonal240 hey! could you please make this issue available again...I'm not able to implement it, but I tried  :)

[2020-07-17 11:10] Sonal240 commented on #67
Just a query did you filter the json response...by using the second one by fetching all the issues at a time... @anna4j

You may give it another try if you want... It's your call...

[2020-07-17 13:26] anna4j commented on #67
@Sonal240 actually it will take me some time to do this, I've understood the logic and the link you sent also helped. But what's the deadline?

[2020-07-17 14:52] Sonal240 commented on #67
There's no deadline as such...

[2020-07-17 18:36] nandini45 commented on #92
@Sonal240  can u check the content and approve it.. so she can proceed further and open the PR

[2020-07-17 18:39] nandini45 commented on #66
@abha224  @Sonal240  can you help him here and tell what he can do to resolve the issue?

[2020-07-18 04:27] Sonal240 commented on #92
@siddhipandare can you add 2 more sections for event highlight(images) and know more( links to respective event website if available, or a particular section of a website)...thanks

[2020-07-18 04:38] Sonal240 commented on #66
@husainattar can you share a screenshot of the work that you have done so far..both responsive and for large screen sizes...if you are familiar with bootstrap grid system...[this link](https://www.npmjs.com/package/react-native-responsive-grid-system) might help...
Consider image and description as 2 columns of a row...maybe similar to task 2 of [this link](https://www.coursera.org/learn/bootstrap

[2020-07-18 09:43] anna4j commented on #67
@Sonal240 okay, that's pretty cool but still please do make it available so that someone else can give it a try. I'm not 100% sure if I'll be able to crack it that's why :)

[2020-07-18 09:49] nandini45 commented on #67
@anitab-org/coding-team  can anyone take this up?

[2020-07-18 10:42] husainattar commented on #66
yes @Sonal240  @nandini45  ma'am I would be sharing the screenshots of the work. Actually I am having a problem when I am viewing the page on a small screen. Sure I would try to use the above suggestion.

[2020-07-18 16:29] parthsarthiprasad commented on #67
Hi, @nandini45 Can I take up this issue, I'd like to work on this, if possible. Thanks.

[2020-07-18 17:05] nandini45 commented on #67
@parthsarthiprasad  just one thing as this is you first issue. it is a little tricky or difficult issue i suppose. so if you are well versed with JavaScript then feel free to continue

[2020-07-18 17:07] parthsarthiprasad commented on #67
Yep, I understand your concern. I am comfortable with JavaScript, I'll read through the source code and try to do the necessary.

[2020-07-18 17:24] nandini45 commented on #66
@husainattar  i am also a student like you.. so take your time doing the work just keep us updated in case you need any help anything

[2020-07-18 20:35] husainattar commented on #97
Hi, @nandini45  ma'am, we can add in the readme for synchronized the forked using repository if someone is not comfortable with git.

[2020-07-18 21:42] husainattar commented on #66
Hi @nandini45 ma'am I have done the design but now I am working on responsiveness and getting some difficulties in it so that to get the accepted result.
![ways_to_contribute](https://user-images.githubusercontent.com/49016363/87862432-919fab00-c96d-11ea-8421-1d274bc1dbd8.png)

[2020-07-19 05:16] nandini45 commented on #97
i am a student like you.. not maam please @husainattar
and as u approved i will assign it to the person who made it. thanks

[2020-07-19 05:18] nandini45 commented on #66
ok @husainattar any question which we can answer to help you out? feel free to ask

[2020-07-19 05:56] siddhipandare commented on #92
Okay, will do that! By add images do you mean I should add promotional flyers? For reference, in this folder ➡️ [events](https://drive.google.com/drive/folders/16BJylmGwkuIK_yn9QbFnq7y-z79i26dt) there are promotional images, **Why I contribute to open source_Twitter.png** (or **Why I contribute to open source_LinkedIn.png**). If yes, I'll add images in a new folder called events_and_highlights ➡️

[2020-07-19 06:19] Sonal240 commented on #92
Instead of contact us section, we can redirect them to the specific website(eg open-source hack day). Use promotional images for online events and for rest of the events that were conducted offline try collecting onsite images if possible

[2020-07-19 06:32] siddhipandare commented on #92
I thought 'events' are only online (virtual) guest speaker events because the description for Open Source Hackday, etc will be covered in issue #72. As for the offline events, I couldn't find any 🤔

[2020-07-19 07:54] Sonal240 commented on #92
I just gave an example for the website...I think grace hopper event etc can also be considered here

[2020-07-19 08:23] saideepesh000 commented on #97
@nandini45, should I put this(anitab-org.github.io) above this(git remote add upstream https://github.com/anitab-org/anitab-org.github.io) line on README.md or anything else I can add.

[2020-07-19 15:14] sakshi1499 commented on #81
@happycoder0011 Any updates?

[2020-07-19 15:27] sakshi1499 commented on #51
@devRD Are you still working on it? You closed the PR.

[2020-07-19 15:57] happycoder0011 commented on #81
yeah,working on it.Will update soon.

[2020-07-19 16:05] happycoder0011 commented on #81
Thanks for supporting.

[2020-07-19 20:34] nandini45 commented on #51
@sakshi1499  he said he cant work on it. so i think we should reopen it. or you can ask him if anything we can do to help him out

[2020-07-19 20:37] sakshi1499 commented on #51
@nandini45 Actually the issue was assigned and also labelled as available. I might have missrd comments by him, where he said he won't work on it. So yes, you can unassign him then.

[2020-07-19 20:40] nandini45 commented on #97
after the fork and clone in the remote you can add it with some instructions that if you forked cloned the repository , now for entering locally into the repository write this command and then you will enter into the stream and then you can work accordingly.. ok?

[2020-07-19 20:42] nandini45 commented on #51
![image](https://user-images.githubusercontent.com/62046625/87884801-6b8e0f80-ca2e-11ea-86d9-8284e9929fd1.png)

[2020-07-20 08:21] parthsarthiprasad commented on #67
@nandini45 just a design discussion, I was considering of implementation using an `iframe`, while I read above consideration about implementation using Github API above(which will serve only the data in JSON schema I suppose , which would require creating a  template UI to show data like github, @anna4j ),
does the first sound good to you?( though Ill check if that will be feasible for different s

[2020-07-20 08:40] anna4j commented on #67
@parthsarthiprasad so initially I had started out with the iframe approach as well. And tried using the community-toolbox by public labs. But there are few issues regarding GitHub security as they don't allow their content to be displayed in iframe

This PR deals  with the same: https://github.com/systers/systers.github.io/pull/263

This is from two years ago when systers.io team was implementing

[2020-07-20 17:29] happycoder0011 commented on #81
1. I am done with all the other aspects except the view more.I am attaching the screenshots.So if an issue kindly bring to my notice.
2. Should I make a pull request?
3. The cards on making the screen size to approx 600px ,is getting organized in single card per row.Anything that I should do for it.
![image](https://user-images.githubusercontent.com/62816994/87967519-9040c080-cadc-11ea-91c2-b2a887

[2020-07-21 02:40] sanchibansal340 commented on #63
@Sonal240 can you help me know why flexWrap might not be wrapping elements? I have tried to search a lot but can find any results

[2020-07-21 03:02] Sonal240 commented on #63
@sanchibansal340 I read it in stackoverflow that flexWrap needs to be applied on a container rather than a specific element...if this is not working then try using grid classes...have you tried this? Also @anna4j had shared a link... Did that help you in some way?

[2020-07-21 08:29] nandini45 commented on #81
@happycoder0011  yes go ahead u can make a pr .
 nope no changes as far as i knw

[2020-07-21 14:59] Abhishec177 commented on #50
Can I work on this?

[2020-07-21 15:07] alpha2320 commented on #50
@Vuyanzi  it's in the google drive of anita.b design

[2020-07-21 17:31] nandini45 commented on #50
@Abhishec177  it is not available..those issues which have the label available are the ones which you can work on.

[2020-07-21 22:18] nandini45 commented on #80
@PriViji  can you update us whether you are working on issue or not?

[2020-07-21 22:20] nandini45 commented on #42
@gaurivn  are u working on it?

[2020-07-21 22:22] PriViji commented on #80
Sorry for the late update.
Is any Open source package is allowed to use?

I was exploring on d3.js in my local.

On Tue, Jul 21, 2020 at 6:18 PM Nandini goel <notifications@github.com>
wrote:

[2020-07-21 22:26] nandini45 commented on #80
@PriViji  no issue. take ur time.
just keep us updated.

[2020-07-21 22:32] PriViji commented on #80
Sure

On Tue, Jul 21, 2020 at 6:26 PM Nandini goel <notifications@github.com>
wrote:

[2020-07-21 22:50] gaurivn commented on #42
Yes I am working on it

[2020-07-24 05:14] Akanksha1212 commented on #63
Hi @sanchibansal340 Were you able to resolve this? let us know if you need some help

[2020-07-24 07:20] sanchibansal340 commented on #63
No @Akanksha1212 I am not able to. You can unassign me. Thank you for giving me time and sorry for taking so long.

[2020-07-24 09:30] Akanksha1212 commented on #63
@sanchibansal340 it's totally if you need more time. I think you're very close in fixing it. Can you share the screenshot of the code? Or @Sonal240 @anna4j can she make a PR and then we can suggest changes?

[2020-07-24 09:35] Sonal240 commented on #63
I'm cool with anything 🙃👍

[2020-07-24 10:23] #47 closed

[2020-07-24 11:01] sanchibansal340 commented on #63
Okay @Akanksha1212 @Sonal240 that's so kind of you. I'll share screenshots of the code
![Screenshot (116)](https://user-images.githubusercontent.com/51092036/88384952-09852f80-cdcb-11ea-8a75-9195d099a127.png)
![Screenshot (117)](https://user-images.githubusercontent.com/51092036/88384956-0b4ef300-cdcb-11ea-8d0c-4fcb5393b42f.png)
![Screenshot (118)](https://user-images.githubusercontent.com/5109203

[2020-07-24 11:21] Sonal240 commented on #63
We have a component for SectionHeader use that instead of using inline styling for headings...there's a typo mxWidth  line 57

[2020-07-24 11:28] sanchibansal340 commented on #63
Okay, I will do the SectionHeader thing and mxWidth might have been by mistake, I was adding and deleting things to check if any would work. Thanks for checking.

[2020-07-24 11:45] Sonal240 commented on #63
Another thing, did you try Platform.OS thing without flex?

[2020-07-24 12:10] sanchibansal340 commented on #63
No, I didn't. I will do it and get back to you in an hour.

[2020-07-24 12:19] happycoder0011 commented on #81
It would take me time to convert it into react native code.So unassign me.

[2020-07-24 13:58] gaurivn commented on #93
@annabauza, can this issue be closed

[2020-07-24 17:35] #55 closed

[2020-07-24 18:00] Sonal240 commented on #63
Any updates?

[2020-07-24 18:28] sanchibansal340 commented on #63
@Sonal240 Oh sorry! No, it didn't work. i just removed all flex related items and changed the maxWidth according to Platform.OS. But the image even on full-width moved to the next line and with/ without Platform.OS or flex thing: on decreasing the screen size the width of the left column(Text) keeps decreasing but the image doesn't have any effect

[2020-07-24 21:06] isabelcosta opened #106 "Deploy a development version of the app to Heroku"
## Description
As a contributor,
I need to have a development deployed version of the app,
so that I can test the app before releasing a production version.

We want to have this available from a URL on Heroku.

## Acceptance Criteria
### Update [Required]
- [ ] Make this deployable on Heroku

## Definition of Done
- [ ] All of the required items are completed.
- [x] Approval by 1 mentor.

## Esti

[2020-07-24 21:11] isabelcosta commented on #106
I tried this and I did not get this yet. This is not very straight forward.
So I am opening this to anyone else to help.

[2020-07-25 08:04] saideepesh000 commented on #106
I can try this, I think it should be fairly simple as there is no back-end involved in it.

[2020-07-25 17:55] gaurivn commented on #23
How's it going....pls give an update

[2020-07-25 18:55] saideepesh000 opened #107 "Bug: renderContent() function was declared two times"
### Describe the bug
In src/Components/Content/index.js, renderContent() function is declared two times.

### To Reproduce
Steps to reproduce the behavior:
1. Go to [src/Components/Content/index.js](https://github.com/anitab-org/anitab-org.github.io/blob/develop/src/Components/Content/index.js)
3. Scroll down to 'line 32'
4. See error

### Expected behavior
This block of code should be present onl

[2020-07-25 18:56] saideepesh000 commented on #107
Can I do this

[2020-07-26 05:18] saideepesh000 commented on #106
@isabelcosta Can I use my account or is there any account for this project?

[2020-07-26 07:30] Malvika18 commented on #90
hello i  am a beginner , would like to contribute in this can you please guide me how to get started.

[2020-07-26 07:38] Sonal240 commented on #90
Hey @Malvika18 this issue is assigned to @anna4j and she has put a pr as well.. May you look for some other issue thanks

[2020-07-26 08:15] nandini45 commented on #107
u are already working on a issue i cant assign u more than one issue at a time

[2020-07-26 08:16] nandini45 commented on #107
if u want i can do it for u..

[2020-07-26 08:19] nandini45 commented on #60
@foongminwong  if u are free and available can u complete the work?

[2020-07-26 08:22] #97 closed

[2020-07-26 08:32] nandini45 commented on #90
@Malvika18  welcome to the community girl. and if u want to start contributing to this repository  look for the issue that have tag of available.. if u want to know more about this project you can checkout the zulip app.
 i ,mentioned u the link below

https://anitab-org.zulipchat.com/#narrow/stream/235478-anitab-org.2Egithub.2Eio.

[2020-07-26 08:36] saideepesh000 commented on #107
@nandini45, I can do this, because with the previous issue I need a response to a question till then I can't start that, meanwhile, I can work on this because I think it's a serious one and needs to be corrected immediately.

[2020-07-26 11:40] vj-codes opened #108 "Content: Create introduction to AnitaB.org Open Source section for home page"
### Is your feature request related to a problem? Please describe.
As a user,
I need a brief yet engaging introduction about AnitaB.org Open Source.

### Mocks
![Screenshot (26)](https://user-images.githubusercontent.com/60894542/88477964-230caf80-cf62-11ea-85c3-97927be36879.png)

### Acceptance Criteria

**Update [Required]**

- [ ] The description should be engaging and should encourage the user

[2020-07-26 11:50] vj-codes opened #109 "Coding : Develop Introduction section of Home Page"
### Is your feature request related to a problem? Please describe.
As a developer,
I need the following section to be developed so that I can add is as a Home component [here](https://github.com/anitab-org/anitab-org.github.io/tree/develop/src/Components)

### Mocks
Develop the section in red box only.

![Screenshot (27)_LI](https://user-images.githubusercontent.com/60894542/88478134-703d5100-cf63

[2020-07-26 11:56] vj-codes opened #110 "Coding: Develop the following section for Home Page"
### Is your feature request related to a problem? Please describe.
As a developer,
I need the following section to be developed so that I can add is as a Home component [here](https://github.com/anitab-org/anitab-org.github.io/tree/develop/src/Components)

### Mocks
Develop this section only

![Screenshot (28)_LI](https://user-images.githubusercontent.com/60894542/88478297-c5c62d80-cf64-11ea-9f1f-

[2020-07-26 12:04] vj-codes opened #111 "Coding : Develop the following section for Home Page"
### Is your feature request related to a problem? Please describe.
As a developer,
I need the following section to be developed so that I can add is as a Home component [here](https://github.com/anitab-org/anitab-org.github.io/tree/develop/src/Components)

### Mocks
Develop this section only

![Screenshot (30)_LI](https://user-images.githubusercontent.com/60894542/88478423-c3b09e80-cf65-11ea-8cb8-

[2020-07-26 12:58] isabelcosta commented on #106
@saideepesh000 feel free to use your account. We don't have an organization account on Heroku, I use my personal one. I tried before yesterday, and the page did not render the website, so I suspect we have to change something in the code to work with Heroku, I created an extra file `.procfile` I think.

So if you can do it on your own Heroku, then you can help us admins do the same :)

[2020-07-26 13:00] #72 closed

[2020-07-26 13:26] saideepesh000 commented on #106
@isabelcosta, Okay I'll try

[2020-07-26 16:04] jivthesh opened #112 "content: add badge in the README.md"
### Description
As a developer,
I need to see the badges symbolising the our communication channel

### Acceptance Criteria
Update [Required]
Add badges

### Definition of Done

- [ ]  All of the required items are completed.
- [ ]  Approval by 1 mentor.

### Estimation
30 min

[2020-07-26 18:12] saideepesh000 commented on #106
@isabelcosta, one doubt regarding the setup, 1. So the develop branch of my repo will be on the Heroku, right? ,2. When someone commits the main repo I need to pull the commits to my develop branch to keep the Heroku app updated, is this how it works?

[2020-07-26 18:15] isabelcosta commented on #106
Yes, we want the heroku deployment to uses `develop` branch, so we can test it before merging into `production`.
Currently, I think, develop branch is breaking and not building correctly, because when we merged to `production` the build failed.

Yes, and on Heroku you can setup "Automatic Deploys"

@saideepesh000

[2020-07-27 07:57] Malvika18 commented on #108
Hey I want to contribute in this i am a beginner please guide me how to get started.

[2020-07-27 08:26] saideepesh000 commented on #106
@isabelcosta,  I tried it on Heroku as you said it's failing, So I tried it on netlify, it worked. There are some warnings in the develop branch of the repo I removed those(on production create-react-app treats these as warnings, I think). If you are Ok with this I can share the process.

[anitab-org develop](https://pedantic-saha-b6acb9.netlify.app)

Warnings
![Screenshot (249)_LI](https://user-i

[2020-07-27 13:37] vj-codes commented on #108
@Malvika18 hey!Welcome to the community!
Would you like to work on this issue?

[2020-07-27 13:43] Malvika18 commented on #108
@vj-codes yes
please guide me what i have to do

[2020-07-27 15:22] nandini45 commented on #112
@jivthesh  please follow the issue template to create a issue
and i think you mean badges right?

[2020-07-27 15:24] nandini45 commented on #109
@anitab-org/coding-team can  anyone take up this issue?

[2020-07-27 15:24] nandini45 commented on #111
@anitab-org/coding-team can  anyone take up this issue?

[2020-07-27 15:24] nandini45 commented on #110
@anitab-org/coding-team can  anyone take up this issue?

[2020-07-27 17:24] jivthesh commented on #112
@nandini45 which template to use

[2020-07-27 17:25] jivthesh commented on #112
which template to use

[2020-07-27 17:54] isabelcosta commented on #106
For now, netlify is a good option. It's better then nothing, we can figure out later how to use heroku, so we can keep to tools we already use.

If you have to submit a PR with any fix you did please do and refer to this PR. @saideepesh000

[2020-07-27 17:55] saideepesh000 commented on #106
Okay

[2020-07-27 18:51] isabelcosta commented on #106
@saideepesh000 have you tried Heroku, with your fix?

[2020-07-27 18:53] nandini45 commented on #112
i knw there is not a specific template for it. but still the layout has to be followed.
 should i update it for you?
then you can work on it?

[2020-07-27 18:56] nandini45 commented on #112
![image](https://user-images.githubusercontent.com/62046625/88580197-ea0b3280-d068-11ea-9644-aea30f2c0c37.png)
 see such a layout.
 although its for project page you can replace it with readme.

[2020-07-27 19:00] nandini45 commented on #107
@saideepesh000  you want to work on it now?

[2020-07-27 19:04] saideepesh000 commented on #106
No, sorry, Ya would've tried in heroku. Should I?

[2020-07-27 19:08] isabelcosta commented on #106
@saideepesh000 yes please :) That would be great!

[2020-07-27 19:09] saideepesh000 commented on #107
Actually I sent a PR(for deployment) which also fixes this issue, https://github.com/anitab-org/anitab-org.github.io/pull/113

[2020-07-27 23:14] isabelcosta commented on #112
@jivthesh you can follow this template: https://github.com/anitab-org/anitab-org.github.io/blob/develop/.github/ISSUE_TEMPLATE/user-story.md

Please be clear in the issue description which badges you are talking about :)

[2020-07-28 00:13] Techno-Disaster opened #115 "Missing mentorship-flutter in project_content.js"
### Describe the bug
As a developer i want to see all the projects listed on our sit including Mentorship-flutter. I am not sure if this is the only place but i could not find mentorship-flutter in project_content.js file.

### To Reproduce
Steps to reproduce the behavior:
mentorship flutter is one of our new project, we need to mention that.

### Screenshots
![image](https://user-images.githubuse

[2020-07-28 05:12] jivthesh commented on #112
@nandini45 i can work on it

[2020-07-28 05:29] Malvika18 commented on #108
git checkout temp
error: you need to resolve your current index first
asset-manifest.json: needs merge
index.html: needs merge
service-worker.js: needs merge
src/assets/contribute.552c3589.png: needs merge
static/js/2.9460ca0e.chunk.js.LICENSE.txt: needs merge
static/js/runtime-main.a8d8665d.js: needs merge
static/js/runtime-main.a8d8665d.js.map: needs merge

while creating a new branch i am getti

[2020-07-28 07:06] saideepesh000 commented on #107
If you want to send a PR on this issue, I will do that, please assign me. @nandini45

[2020-07-28 08:00] saideepesh000 commented on #106
@isabelcosta, it's not deployed in heroku, https://anitab-org.herokuapp.com/

[2020-07-28 08:08] RiaDhanani commented on #111
I am new but I would like to work on this issue. Can you asssign it to me please? @nandini45

[2020-07-28 09:20] Sonal240 commented on #110
@vj-codes the margins are incorrect

[2020-07-28 09:21] Sonal240 commented on #109
@vj-codes the margins are incorrect

[2020-07-28 09:30] Sonal240 commented on #92
@siddhipandare kindly have a look I have updated the issue and update the pr

[2020-07-28 09:34] Sonal240 commented on #62
![EventsPageDesign-Simran Shilky](https://user-images.githubusercontent.com/49720151/88647191-6c383d00-d0e3-11ea-8470-633fe3320a7f.png)

I've updated the design

[Design Link](https://xd.adobe.com/view/7956c9f9-f4dc-4de6-7616-c127feeed71f-0f67/)
@nandini45 @annabauza @sakshi1499

[2020-07-28 10:24] vj-codes commented on #109
@Sonal240 which ones? I checked with the doc didn't find any

[2020-07-28 10:24] vj-codes commented on #110
@Sonal240 which ones? I checked in the doc didn't find any

[2020-07-28 11:10] Sonal240 commented on #109
It's not 16...it's 32 in total see the doc. I have not designed a separate component or so, hence I didn't break 32pt margin to 16-16...also 32pt margin from horizontal line

[2020-07-28 11:19] Sonal240 commented on #110
refer t[his comment](https://github.com/anitab-org/anitab-org.github.io/issues/109#issuecomment-664978876) for margin
Margin top for GETTING STARTED heading: 64pt
In between each section: 32pt
distance between image and text: 32pt
distance from horizontal line: 32pt
Avenir Body light 18pt
Heading 24pt
Text Color:#103B81

[2020-07-28 11:29] nandini45 commented on #112
OK change the issue template and i will assign it to u

[2020-07-28 11:31] nandini45 commented on #115
@Techno-Disaster  can you edit the issue template you followed?

[2020-07-28 11:33] nandini45 commented on #115
i will like to work on it?

[2020-07-28 11:35] nandini45 commented on #107
please revert your commit if you have mixed it with the other issue..
and create a separate PR for it.

[2020-07-28 12:00] saideepesh000 commented on #107
@nandini45, Before this, I need to confirm with @isabelcosta whether she noted those changes to deploy the site so that she could close the PR.

[2020-07-28 12:35] jivthesh commented on #112
@nandini45 update the issue template and assign me

[2020-07-28 16:29] vj-codes commented on #110
@Sonal240 I see a mess has been sent on zulip to , will change accordingly.BTW the metrics say body is still 14 pt  , when was it changed to 18pt?

[2020-07-28 16:32] annabauza commented on #115
Thank you @Techno-Disaster for catching this. We will add    :)

[2020-07-28 18:07] Sonal240 commented on #110
Well I remember last time when Anna had introduced the doc she mentioned this...also note that if body is 14pt then how can View More be 16pt? Body should be given more emphasis than view more right?

[2020-07-28 19:08] annabauza commented on #81
quick update card background color is `#E1E8FD`

[2020-07-29 13:55] RiaDhanani commented on #111
@vj-codes For the home section that is to be developed, is the whole thing one image or six seperate images and where can I get them?

[2020-07-29 16:50] jivthesh commented on #112
@nandini45 updated please check

[2020-07-29 18:52] nandini45 commented on #115
@Techno-Disaster  can i work on it?

[2020-07-30 09:24] vj-codes commented on #111
@RiaDhanani sorry for the late reply, they are 6 different illustrations and you can find them in the open source drive >>design folder
https://drive.google.com/drive/folders/1Y_yPuxBUYz0pVkPZ5RdWrs4rxdijdJZ6

[2020-07-30 10:24] annabauza commented on #108
@vj-codes the content is already merged, no?

[2020-07-30 10:30] vj-codes commented on #108
No @annabauza
The next section of getting started, projects... content is merged though

[2020-07-30 10:55] annabauza opened #118 "Critical BUG: Remove duplicated renderContent function from Components/Content/index.js"
### Describe the bug
Whole page is not rendering due to duplicated `renderContent` function in `Components/Content/index.js`

### To Reproduce
Steps to reproduce the behavior:
1. Run web locally
2. See the error

### Expected behavior
Web is rendering and not throwing error

### Additional context
Only one renderContent function is needed

[2020-07-30 11:15] annabauza commented on #108
Thank you @vj-codes can we make sure the description of the issue is clear?

[2020-07-30 11:37] #118 closed

[2020-07-30 11:38] annabauza commented on #107
@saideepesh000 please work on this PR this is a critical issue and need to be solved immediately. I will not deploy anything until this has been resolved. Thanks!

[2020-07-30 12:19] #107 closed

[2020-07-30 12:24] saideepesh000 commented on #106
@isabelcosta, The PR was closed and develop branch can now be deployed in netlify :)

[2020-07-30 17:08] saideepesh000 commented on #109
@Sonal240 , @nandini45, @vj-codes I would like to work on it.

[2020-07-30 17:10] sakshi1499 commented on #109
@saideepesh000 Its on hold right now, we'll get back to you once its confirmed.

[2020-07-31 04:48] gaurivn commented on #42
I don't have the bandwidth to complete this atm ... something came up with work, making it available

[2020-07-31 12:21] foongminwong commented on #60
@nandini45 I was unavialble for these 2-3 weeks due to job relocation. Once I relocate, I'll be availabel to complete the work. I apologize for the delay...

[2020-08-01 15:27] nandini45 opened #121 "coding: integrate google calendar in events page"
## Description
As a developer, I need to integrate google calendar in events page , so that the user can see all the events related to community.

## Mocks
![image](https://user-images.githubusercontent.com/62046625/89104737-34a9f780-d439-11ea-813f-a99824639650.png)

the spacing is 16 from both sides

## Acceptance Criteria
### Update [Required]
- [ ]  Follows all the design guidelines as mentione

[2020-08-01 15:33] nandini45 opened #122 "coding: develop the tech talk section in events page"
## Description
As a developer, I need to see all the videos of the talks held by the community regarding open source and anitab-org , so that the user can know more about us and what we do.

## Mocks
![image](https://user-images.githubusercontent.com/62046625/89104902-4e980a00-d43a-11ea-98cf-78835c31c020.png)

the spacing is 16 from both sides

## Acceptance Criteria
### Update [Required]
- [ ]  F

[2020-08-01 15:42] nandini45 opened #123 "coding: make cards and develop the event section in event page"
## Description
As a user,i need to know about the events that take place in the community,
so that I can be a part of them.

## Mocks
![image](https://user-images.githubusercontent.com/62046625/89105047-91a6ad00-d43b-11ea-9c80-52e603800b6e.png)

## Acceptance Criteria
### Update [Required]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimat

[2020-08-01 15:42] nandini45 commented on #123
@sonal420 can u tell me the marking of this section

[2020-08-01 15:44] happycoder0011 commented on #81
I won't be able to do it.kindly assign to someone else.

[2020-08-01 15:45] happycoder0011 commented on #81
You can take my work and someone can continue .

[2020-08-01 16:42] Sonal240 commented on #123
The overall margin of the card -16pt
EVENT TITLE top margin- 16pt
icon- 32 X 32
the margin between icon and text along it-16pt
the margin between EVENTS TIMINGS, LOCATION, AND DATE thing- 16pt
the top margin of lorem ipsum text description and EVENTS TIMING- 32pt
the top margin of Know More from description-32pt

[2020-08-01 16:42] Sonal240 commented on #123
the rest of the colors are same as doc

[2020-08-02 00:59] PriViji commented on #80
I am trying to use https://www.npmjs.com/package/react-native-chart-kit
But I am getting an error which I couldn't figure out. Can someone help?
Screenshot of the error
<img width="1552" alt="Screenshot 2020-08-01 at 8 56 00 PM" src="https://user-images.githubusercontent.com/47263404/89113047-b7cb4d80-d439-11ea-9dc1-a931c27d813c.png">

[2020-08-03 21:57] #106 closed

[2020-08-04 07:32] RiaDhanani commented on #111
@vj-codes @gaurivn @annabauza Could you please review my PR? This is my first PR 😄

[2020-08-04 07:38] vj-codes commented on #111
@RiaDhanani sure!
There's a minor change , the  margins are 32 pt from both sides. Could you update accordingly. Really sorry it was a mistake from my side and forgot to update the issue :)

[2020-08-04 07:56] RiaDhanani commented on #111
@vj-codes Made the change. Could you review it?

[2020-08-04 08:41] saideepesh000 commented on #42
@nandini45, @sakshi1499, @annabauza, Can I work on it.

[2020-08-04 16:31] saideepesh000 commented on #42
@gaurivn, @annabauza, @nandini45, @sakshi1499, (Just to be clear)I need to integrate 'ABOUT US', 'PROGRAMS', 'PROJECTS', 'EVENTS', 'CONTRIBUTE', in a stack navigator(according to the React Navigation).

[2020-08-04 18:16] isabelcosta commented on #106
@saideepesh000 thank you for all your work! It was super important to get this issue fixed :) Now the develop branch is being deployed on a specific path 🙌

[2020-08-05 05:05] saideepesh000 commented on #106
Thank you 👍

[2020-08-05 05:21] saideepesh000 commented on #42
Actually, according to the file structure, there are no separate components for those pages('ABOUT US,..'), but either [React Navigation](https://reactnavigation.org/) or [React-Router-Native](https://reactrouter.com/native/guides/quick-start) need individual components to use the navigation( <Route path={/path`} component={Topic} />).

[2020-08-05 11:32] sakshi1499 commented on #42
@saideepesh000 Those screens are being created through other PRs in the web format. For now, you have to integrate [this](https://reactnavigation.org/docs/getting-started/) & Each menu tab should have its own stack so we can go back from nested pages.

[2020-08-05 12:55] saideepesh000 commented on #42
@sakshi1499, @gaurivn, @nandini45, @annabauza, Once review this [codesandeboxlink](https://codesandbox.io/s/interesting-khayyam-vkyi8?file=/src/Navigation.js)(This may load slowly), I am going to change if we use "tab navigator".

[2020-08-05 12:56] annabauza commented on #42
Yes we want tab navigator so we can reuse it in native app

[2020-08-05 13:04] saideepesh000 commented on #42
@annabauza, Is the "Navigation.js"([codesanbox](https://codesandbox.io/s/interesting-khayyam-vkyi8?file=/src/Navigation.js)) file what we want. I mean is that correct.

[2020-08-05 14:19] annabauza commented on #42
Are you talking about linked [document](https://reactnavigation.org/docs/getting-started/) ?

[2020-08-05 14:27] saideepesh000 commented on #42
@annabauza, No, This one -> [Project](https://codesandbox.io/s/interesting-khayyam-vkyi8?file=/src/Navigation.js). Is this what we want for the mobile version. Review this, I would make changes if any.

[2020-08-05 14:31] annabauza commented on #42
but we should be able to use it on web as well right?

[2020-08-05 16:37] Akanksha1212 commented on #115
You can take this up @nandini45

[2020-08-05 16:46] saideepesh000 commented on #42
@annabauza, why can't we use react-router-native for react-native version & react-router-web for the web version?. Like this
`import React from 'react'
import { Platform } from 'react-native'

let Router
if (Platform.OS === 'web') {
  Router = require('react-router-dom').BrowserRouter
} else {
  Router = require('react-router-native').NativeRouter
}`

[2020-08-05 19:57] annabauza commented on #42
router will not work with static pages unfortunitely.

[2020-08-05 20:02] #112 closed

[2020-08-05 20:03] #92 closed

[2020-08-05 20:19] isabelcosta opened #126 "Zulip badge links to design stream instead of the project's stream"
## Description

Change the zulip badge link on the README to the anitab-oorg.github.io stream on Zulip

## Acceptance Criteria
### Update [Required]
- [ ] Change the link of the zulip badge to the link of this project's stream

## Definition of Done
- [ ] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
30 min

[2020-08-06 05:38] dwvicy commented on #126
@isabelcosta can I work on this?

[2020-08-06 06:39] saideepesh000 commented on #42
@annabauza, Then, should I try like this [article on react-navigation on the web](https://codersera.com/blog/how-to-do-navigation-in-react-native-web-in-2020/)

[2020-08-06 07:31] annabauza commented on #42
Maybe I'm wrong with router, can you please deploy on your repo static github page and test it?

[2020-08-06 09:59] saideepesh000 commented on #42
@annabauza, [react-router example](https://codesandbox.io/s/react-router-basic-d3wix?file=/example.js)

[2020-08-06 10:30] annabauza commented on #42
Code sandbox is not github static pages environment. Can you please check on the same environment we deploy to?

[2020-08-06 13:57] dwvicy commented on #123
Can I work on this?

[2020-08-06 15:27] saideepesh000 commented on #42
@annabauza, When trying to deploy it on Github pages this error has occurred, I searched it online but couldn't find the solution, could you help me with this. If you want the repository -> [repository](https://github.com/saideepesh000/react-router-demo/)

![Screenshot (253)](https://user-images.githubusercontent.com/43727167/89550180-ef197000-d826-11ea-80ea-f61a59cab3cf.png)

[2020-08-06 15:28] annabauza commented on #42
Have you added this package to package.json?

[2020-08-06 15:30] saideepesh000 commented on #42
@annabauza, which package, "gh-pages"?, please go through the repo if you have time.

[2020-08-06 15:31] annabauza commented on #42
Router

[2020-08-06 15:32] annabauza commented on #42
React-routed-basic

[2020-08-06 16:07] saideepesh000 commented on #42
@annabauza, yes, added.

[2020-08-06 16:20] saideepesh000 commented on #42
@annabauza, Actually, React-router-basic is the name of the folder for this app -> [react-router-demo](https://github.com/saideepesh000/react-router-demo/)

[2020-08-06 17:11] isabelcosta commented on #126
Sure it's assigned to you :)

[2020-08-06 20:44] annabauza commented on #42
You can try to connect it to Travis and merge to your repo master, this will kick a build from Travis. You just need to add personal token to Travis settings and setup github pages to use master. Not sure if it help, but this has to be tested against github pages before we move forward with this code.

[2020-08-07 07:33] saideepesh000 commented on #42
@annabauza, It's not working, can I leave this issue for now and work on some other issues, I apologize for taking up this issue and wasting your time.

[2020-08-07 10:00] annabauza commented on #42
You can take any other issue if that one is too hard. You are not waisting my time at all. I think you are close, just have challenges to solve.

[2020-08-07 10:01] annabauza commented on #42
If you decide to drop maybe you want to keep your changes for others. Thanks

[2020-08-07 12:01] saideepesh000 commented on #42
@annabauza, this issue is now available.

[2020-08-07 12:19] saideepesh000 commented on #51
@nandini45, @sakshi1499, @annabauza, is [this](https://xd.adobe.com/view/ba1323d0-760e-4f29-4658-c83848c894ba-cc22/specs/) the final design, can I work on this.

[2020-08-07 15:51] RiaDhanani commented on #121
I just had a few questions. Are we building a web app or a mobile app because the picture looks like a part of a web app. Also, can we add a link to the google calender ? Does this issue mean we need to show a google calender component on our UI ?

[2020-08-08 08:39] saideepesh000 commented on #51
@annabauza, @Sonal240 should I use "SectionSubHeader" component for titles like "OUR MISSON", "OUR HISTORY", "ABOUT ANITA BORG", "INSIGHTS".

[2020-08-08 08:57] annabauza commented on #51
Yes

[2020-08-08 10:22] saideepesh000 commented on #51
@annabauza, @Sonal240, @sakshi1499, For content, Should I follow the [design ](https://xd.adobe.com/view/ba1323d0-760e-4f29-4658-c83848c894ba-cc22/specs/), or the content/about_us.json, because both have got different content. And the styling of the "SectionSubheader" component doesn't match with the design.

[2020-08-08 10:24] sakshi1499 commented on #51
@saideepesh000 Follow about_us.json for content. The design has dummy content.

[2020-08-08 11:06] Sonal240 commented on #51
@saideepesh000 follow section subheader...I had updated the design accordingly long ago when it was discussed. Try working on the image thing first after a dummy set-up because that's the most tricky part of this section...thanks

[2020-08-08 16:43] nandini45 commented on #121
@RiaDhanani  a web app to ans your question. we have to integrate that calendar in that page not just add the link.
yeah we have to show a google calendar in that page.
@Sonal240  this was your design can you further help our out
and did i answer here questions correctly?

[2020-08-08 16:43] nandini45 commented on #123
@dwvicy  sure i will assign it to u

[2020-08-08 16:46] nandini45 commented on #123
sorry i didnt see you were working on other issue..
 you can work on it after you complete merge that one

[2020-08-08 18:06] dwvicy commented on #123
@nandini45 I've already submitted the pull request for the other issue

[2020-08-08 18:13] Sonal240 commented on #121
Yep @nandini45

[2020-08-08 19:46] nandini45 commented on #109
@vj-codes  did you update the design metrics?

[2020-08-08 19:47] nandini45 commented on #123
ahh ok @dwvicy  here you go
the web metric are given in the comment box by simran'
feel free to ask any query..

[2020-08-08 19:48] nandini45 commented on #121
@RiaDhanani  are u willing to work on it?

[2020-08-09 06:58] RiaDhanani commented on #121
@nandini45 Is it okay if I use iframe to get the google calender on the page?

[2020-08-09 08:28] Sonal240 commented on #121
Make sure it is responsive... We are developing it on react native so that in near future if required we may convt it to an app

[2020-08-09 16:59] RiaDhanani commented on #121
?

[2020-08-10 10:31] saideepesh000 commented on #51
@annabauza, @Sonal240, @sakshi1499, Are we going to use this library for responsiveness [react-native-web-responsive](https://www.npmjs.com/package/react-native-web-responsive)

[2020-08-10 10:52] Sonal240 commented on #51
So far the issues that I have been following...the assignees have not used this library(they might have tried at their end)... They have used Platform OS etc for responsiveness... You may give that lib a try...
@sakshi1499 @annabauza what do you say?

[2020-08-11 04:52] 19-pragya commented on #126
can i work on this issue

[2020-08-11 08:37] yerramsettysaimeghana commented on #126
Can I work on this issue ?

[2020-08-11 08:45] vj-codes commented on #126
Sorry @yerramsettysaimeghana @19-pragya this issue has already been claimed and a PR has been sent.
[Here](https://github.com/anitab-org/anitab-org.github.io/issues?q=is%3Aopen+is%3Aissue+label%3A%22Status%3A+Available%22) are a few available issues!

[2020-08-11 08:47] 19-pragya commented on #123
Can i work on this issue

[2020-08-11 08:51] 19-pragya commented on #51
If it is open can i work on this issue

[2020-08-11 17:56] #126 closed

[2020-08-12 13:13] saideepesh000 commented on #51
@Sonal240, @annabauza  Is this fine.
![Screenshot (261)](https://user-images.githubusercontent.com/43727167/90018539-b405b980-dcca-11ea-9763-1242d0ac3ae3.png)

Was trying with responsiveness, I think Platform==='web' doesn't work for 'web' according to the [RN docs](https://reactnative.dev/docs/platform-specific-code), now trying with some external modules for responsiveness, can we use 'rem' for

[2020-08-12 13:38] Sonal240 commented on #51
Make sure you don't use em for font size... For others give it a try
Also the insights should have a count Up effect on Number mentioned
So far it looks good to me...
Share the responsive view once done.. Thanks

[2020-08-13 08:24] sakshi1499 opened #130 "Code: Update the Footer Color"
### Is your feature request related to a problem? Please describe.
The footer color has to be changed so that it follows the AnitaB Color Guidelines.

### Describe the solution you'd like
The existing color code should be changed to #231b4e.
The footer color inspiration has been taken from [GHC](https://ghc.anitab.org/speakers/)

[2020-08-13 10:27] Frenzyritz13 opened #131 "Create the config.yml file for the Welcome Bot"
## Description
 As a first time contributor,
 I need a bot to help guide my first contribution,
 so that I can follow this org's contribution guidelines.

 ## Mocks
 ![Screen Shot 2020-08-06 at 10 26 14 AM](https://user-images.githubusercontent.com/2440938/89543720-44299780-d7cf-11ea-82a0-bd81664f0d8e.png)

 ## Acceptance Criteria
 ### Update [Required]
 * [ ]  newIssueWelcomeComment is complete w

[2020-08-13 16:16] adithyaakrishna commented on #130
Can I claim this issue and work on it?😊

[2020-08-13 16:31] vj-codes commented on #130
Sure assigning you @adithyaakrishna
Happy coding!

[2020-08-13 16:34] adithyaakrishna commented on #130
Thank you! :)

[2020-08-13 23:46] adithyaakrishna commented on #131
This commit added a config.yml file for the welcome bot as requested in Issue #131
The file is placed in .github directory to allow for easier installation and setup of the Welcome-Bot :)

[2020-08-13 23:50] adithyaakrishna commented on #131
My bad, Should have claimed this issue first. Sorry for that

[2020-08-14 10:12] vj-codes commented on #131
@adithyaakrishna Assigned it to you , please don't send PRs until a specific issue is assigned to you from next time!

[2020-08-14 10:20] adithyaakrishna commented on #131
Yeah, sure will keep that in mind :)

[2020-08-14 18:16] saideepesh000 commented on #51
@Sonal240, On the mobile screen either image should come first or the text part should come first, and both of them should be aligned column wise, right?

[2020-08-14 18:32] Sonal240 commented on #51
aligned column wise

[2020-08-15 07:01] saideepesh000 commented on #51
@Sonal240, Here's [Progress](https://drive.google.com/file/d/1g8uGJa0oJcr3jO-k7h1cVVedtBY-onAv/view?usp=sharing), I've used this package called [react-native-reflect](https://sntx.github.io/react-native-reflect/#/?id=single-style), it's super helpful for these kind of projects.

[2020-08-15 08:18] Sonal240 commented on #51
Hey,@saideepesh000  it looks great!! just few comments...
make sure the image extends till the last line of the insights section
also the trapezium looks a bit cut try to fix that...
regarding the mobile view, I'm not sure if it looks good, the image below the text...can you try not to shift the image below or up...keep it side by side ...in this case I think the user would need to zoom in ....@sa

[2020-08-15 09:31] saideepesh000 commented on #51
@Sonal240, As a confirmation, should I send a PR with [this](https://drive.google.com/file/d/1g8uGJa0oJcr3jO-k7h1cVVedtBY-onAv/view?usp=sharing)(with changes mentioned above) or should I send the unresponsive code?

[2020-08-15 09:55] RiaDhanani commented on #121
@nandini45 @Sonal240 To use iframes in react native, I tried adding the react-native-webview dependency but it has many configuration issues. There isn't really another way of adding iframes that I could find, so is there anything else  that I could try?

[2020-08-15 10:36] Sonal240 commented on #121
Try using an API instead of iframe

[2020-08-15 10:39] Sonal240 commented on #51
Put a pr with the video and I'll ask @sakshi1499 and @annabauza for reviews...Anna is busy right now so may be by next week or so your pr would get approved

[2020-08-15 11:24] nandini45 commented on #130
@sakshi1499
we are not updating the footer color. we have to redesign it whole.

[2020-08-15 11:28] nandini45 commented on #123
@19-pragya it is already taken please look for any other issue, sorry for the mistake

[2020-08-15 11:30] nandini45 commented on #110
@vj-codes
complete and update the labelling please
there are contributors looking for new issues . if you can update this issue and other one we can make it available as soon as possible

[2020-08-15 11:30] #93 closed

[2020-08-15 11:34] saideepesh000 commented on #51
@Sonal240, Ya but which one should I send one with the responsive view(image going down on resize) or just the normal view

[2020-08-15 12:00] Sonal240 commented on #51
both responsive and web view

[2020-08-15 15:13] #130 closed

[2020-08-15 15:16] #115 closed

[2020-08-16 16:42] dwvicy commented on #123
@nandini45 just an update as it's been quite long, I am halfway through. Would be submitting the PR in a couple of days!

[2020-08-16 18:12] nandini45 commented on #123
yeah thanks for the update.
i literally forgot to ask for the update

[2020-08-16 18:13] nandini45 commented on #63
@sanchibansal340  any updates?

[2020-08-16 18:14] nandini45 commented on #66
@husainattar  any updates?

[2020-08-16 18:15] nandini45 commented on #67
@paritoshsinghrahar  any updates?

[2020-08-16 18:16] nandini45 commented on #73
@annabauza  as i know you are quite busy with your open source work as well new job search.
so do u want me to make it available for the other contributors?

[2020-08-16 18:17] nandini45 commented on #80
i think it is a plugin issue
.
maybe you have to add a new plugin or something?

[2020-08-16 18:29] sanchibansal340 commented on #63
Hi @nandini45 I tried quite a few things but wasn't able to add responsiveness. I apologise for wasting the team's time. You can unassign me this issue.

[2020-08-16 19:05] parthsarthiprasad commented on #67
I think you tagged wrong guy? (Yeah sorry I've been little caught up in interviews lately so didn't get opportunity to work on this recently) ( holding on might cause delay, if no-one else picks up this. I'd complete this later on, presently I can't give enough precedence )

[2020-08-16 20:15] vj-codes commented on #110
@Sonal240 @nandini45 check once please!

[2020-08-16 20:17] vj-codes commented on #109
@nandini45 @Sonal240 please chack once!

[2020-08-17 05:51] Sonal240 commented on #109
The screenshot is not visible @vj-codes

[2020-08-17 05:59] vj-codes commented on #109
It is visible,can you try refreshing? I'm on phone right it's visible on it too![Screenshot_2020-08-17-11-28-19-825_com.github.android.jpg](https://user-images.githubusercontent.com/60894542/90361896-ee7da680-e07c-11ea-9f0b-0d6c2ec5065b.jpg)

[2020-08-17 06:00] Sonal240 commented on #110
LGTM @vj-codes !!

[2020-08-17 06:03] Sonal240 commented on #109
it's not I tried it refreshing it as well

[2020-08-17 06:05] Sonal240 commented on #109
on clicking the link it is though...so I don't think it would create an issue...

[2020-08-20 18:17] adithyaakrishna commented on #109
Can I work on this issue? :)

[2020-08-20 20:25] nandini45 commented on #63
@sanchibansal340
ok are you sure about that?
can we help you somehow?

[2020-08-20 20:30] nandini45 commented on #67
oh i am so sorry.
so should i make it available for other contributors?

[2020-08-20 20:40] husainattar commented on #66
Hi @nandini45  sorry for late reply . Actually I still haven't figure out how to make images and content  responsiveness. I tried Flex and grid and also applied the given measurements but its not working properly. Otherwise the designing and other logic is complete it's just the responsive part which is blocking .

[2020-08-20 20:42] husainattar commented on #66
I am really very sorry for wasting so much time on this . I can give you final updates by end of this week if you want ?

[2020-08-20 20:52] nandini45 commented on #66
ok sure no issue.  just try and update till the end of the week,

and i think you can do one thing that make a PR with whatever work you have done maybe the person reviewing can help you,
upto you. just my suggestions
 thanks for the update
@husainattar

[2020-08-21 00:13] gaurivn commented on #23
Unassigning due to inactivity.

[2020-08-24 16:17] raksh543 commented on #110
Will you be providing the four images as present in design or can i use any sample image?

[2020-08-24 16:37] Sonal240 commented on #110
Give me 10 min I'll share link for development

[2020-08-24 16:45] Sonal240 commented on #110
https://xd.adobe.com/view/09a9fdf0-a193-4b3f-47c2-216055c7ca42-7f98/
is it working? are you able to download it?

[2020-08-24 17:10] raksh543 commented on #110
Yes now its working, i am able to download

[2020-08-24 17:17] raksh543 commented on #110
I also wanted to ask that what are the dimensions of the image to be displayed?

[2020-08-24 17:20] Sonal240 commented on #110
kindly click on the image and see the  properties

[2020-08-25 15:32] raksh543 commented on #110
![screencapture-localhost-3000-2020-08-25-20_53_39](https://user-images.githubusercontent.com/51185686/91194517-d90c1a80-e715-11ea-844b-fcd712eff24c.png)
Update of work:
This is the screen shot of things that have been implemented.
Work left: Responsiveness and final checking the margins.

[2020-08-25 15:37] raksh543 commented on #110
![Screenshot (149)](https://user-images.githubusercontent.com/51185686/91195473-a7478380-e716-11ea-91e9-dabc5aa56572.png)
 The Ways to contribute section looks like this. It got overlapped in the previous screenshot.

[2020-08-29 11:29] annabauza commented on #81
can I make this , developer is not responding.

[2020-08-31 03:50] PriViji commented on #81
Hi,

I wasn’t feeling well and I apologize for the late response.
I appreciate, if someone could take this one. I can do any bug fixing.

Thanks & Regards,
Priyanka.

On Sat, Aug 29, 2020 at 7:29 AM Anna Bauza <notifications@github.com> wrote:

[2020-08-31 10:55] mtreacy002 opened #136 "Bug: Wrong Tech Stack on BridgeInTech Web and Backend"
### Describe the bug
The Tech stack mentioned in the BridgeInTech Web and Backend are wrong

### To Reproduce
Steps to reproduce the behavior:
1. Go to browser anitab-org.github.io
2. See tech stack on Bridge-In-Tech Web as javascript
3. See tech stack on Bridge-In-Tech Backend as react ja and python

### Expected behavior
Bridge-In-Tech Web tech stack supposed to be: react js
Bridge-In-Tech Backe

[2020-08-31 10:57] mtreacy002 commented on #136
@annabauza, can you please assign this issue to me? I'd like to give it a try 😊

[2020-08-31 10:58] annabauza commented on #136
Thanks you @mtreacy002 we don't need issue for that it was from my pr 🤗 so it's not live.

[2020-08-31 10:59] mtreacy002 commented on #136
aa...I see.... Ok, no worries then... maybee next time... 😂😂😂. Will clost the issue now. 👍

[2020-08-31 10:59] #136 closed

[2020-08-31 22:37] mtreacy002 opened #137 "Content: Add more information to Bridge-In-Tech web and backend project"
## Description
As a project initiator,
I need add more information to Bridge-In-Tech web and backend project description,
so that I can make sure the descrription captures the concept of the project.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] update the desccription for Bridge-In-Tech web and backend

### Enhancement to Update [Optional]
NA

## Definition of Done
- [ ] All of

[2020-08-31 22:39] mtreacy002 commented on #137
@annabauza, Is iit ok for me to open this issue on this? Plus, I'd like to work on it so can I please be assigned to this? Thanks

[2020-09-01 06:26] annabauza commented on #137
Sure.

[2020-09-01 06:50] mtreacy002 commented on #137
Ok. Will start working on it 😉

[2020-09-01 08:02] nandini45 commented on #60
@foongminwong
 if you want i can unassign you this issue.
i can work on it

[2020-09-01 08:04] nandini45 commented on #63
@saideepesh000  can you have a look at this issue and help her here?

[2020-09-01 08:06] nandini45 commented on #80
@PriViji  any update?

[2020-09-01 08:10] nandini45 commented on #108
@vj-codes  can you make the required changes ?
just tell me what is the issue about?

[2020-09-01 08:11] nandini45 commented on #121
@RiaDhanani  any update?

[2020-09-01 08:13] nandini45 commented on #131
@adithyaakrishna  you are already working on another issue. i have to unassign you from this.

[2020-09-01 08:14] vj-codes commented on #108
@nandini45 making intro to anitab content for the lorem ipsum part in the screen shot provided

[2020-09-01 08:15] vj-codes commented on #108
I can edit the template but what are the changes required? @nandini45

[2020-09-01 09:32] foongminwong commented on #60
Hi @nandini45 please unassign me, I apologize I didn't give any updates here for the past few months, thank you so much...

[2020-09-01 11:36] PriViji commented on #80
Hi,

I couldn't fix it and I wasn’t feeling well and I apologize for the late
response.
I appreciate it if someone could take this one. I can do any bug fixing.

Thanks & Regards,
Priyanka.

On Tue, Sep 1, 2020 at 4:07 AM Nandini goel <notifications@github.com>
wrote:

[2020-09-01 15:05] saideepesh000 commented on #63
@sanchibansal340, have a look at my PR, it may help you I think. [My Pr](https://github.com/anitab-org/anitab-org.github.io/pull/133), I used [React-Native-Reflect](https://sntx.github.io/react-native-reflect/#/?id=single-style), It is used to give responsiveness for React(Native(Web))) projects.

[2020-09-01 19:04] #137 closed

[2020-09-01 19:07] nandini45 commented on #60
@Sonal240  can i work on it?

[2020-09-02 11:51] sanchibansal340 commented on #63
Thanks @saideepesh000 Will check it 👍🏼

[2020-09-02 16:17] imrishabh18 commented on #122
Can I take up this issue @nandini45? If it's not in hold now

[2020-09-02 16:55] RiaDhanani commented on #121
I couldn't really get it done with an iframe as well so I've unassigned myself.

[2020-09-02 17:16] nandini45 commented on #122
@nandini45  ah ok
actually the video url has to be mentioned in the section
when u come to that part tell me i will provide you with all the links.

[2020-09-02 17:20] gaurivn opened #139 "docs: Update wiki with guidelines on how to deploy a fork to GitHub Pages"
## Description
As a developer,
I need to update the wiki with guidelines on how to deploy a fork to GitHub pages,
so that it would aid contributors in doing the same.

## Mocks
[INSERT RELEVANT PNG FILE]

## Acceptance Criteria
### Update [Required]
- [ ] Update wiki with guidelines on how to deploy a fork to GitHub Pages

## Definition of Done
- [ ] All of the required items are completed.
- [ ]

[2020-09-02 18:30] shravani05 commented on #139
Can I work on this issue?

[2020-09-02 18:33] shravani05 commented on #123
Is this issue still open?
I am interested in taking this issue

[2020-09-02 18:34] gaurivn commented on #139
Hi @shravani05, this issue is currently not available to others since it requires edit access for the wiki.

[2020-09-02 18:34] shravani05 commented on #123
Is this issue still available?
I would like to work on this issue

[2020-09-02 18:35] shravani05 commented on #139
Okay, no problem
Thank you!

[2020-09-02 18:59] shravani05 commented on #121
Can I work on this issue?

[2020-09-02 19:27] gaurivn commented on #121
Sure, assigning you @shravani05

[2020-09-02 19:57] shravani05 commented on #121
I installed the react-google-calendar-api from the npm package.
But in order to access the API, I need googleApi clientId and ApiKey. So do you already have one or should I create my own credentials on https://console.developers.google.com/flows/enableapi?apiid=calendar ?
PS: I am following the above steps as per https://www.npmjs.com/package/react-google-calendar-api

[2020-09-03 09:14] dwvicy commented on #123
@shravani05 I am working on it got carried away with other work.

[2020-09-03 09:32] shravani05 commented on #123
Okay, no problem :)

[2020-09-03 11:36] shravani05 commented on #121
@gaurivn I have added the google calendar using iframe of Google Calendar, but the iframe looks different from the expected output. Following are the screenshots of the current Events page
![Events2](https://user-images.githubusercontent.com/43898702/92108861-a644df00-ee05-11ea-829d-7ca250138f8b.png)
![Events1](https://user-images.githubusercontent.com/43898702/92108868-a80ea280-ee05-11ea-8299-6f6

[2020-09-05 08:57] #81 closed

[2020-09-05 15:54] rutvi18 commented on #67
Can I take up this issue?

[2020-09-05 15:58] #51 closed

[2020-09-07 06:29] imrishabh18 commented on #122
@nandini45 Can I install a carousel package in react for this feature?

[2020-09-07 17:13] nandini45 commented on #122
yeah sure @imrishabh18

[2020-09-11 02:58] Akanksha1212 commented on #139
Hi, @gaurivn @nandini45 I've updated the steps on the doc. Have a look and suggest changes.

[2020-09-11 08:53] annabauza commented on #123
there is a card decorator, please use it @shravani05

[2020-09-11 15:49] Aaishpra commented on #131
@nandini45 can i take this up if no one is working on it currently?

[2020-09-11 20:30] B417037 commented on #80
Can I take up this issue?

[2020-09-11 20:34] B417037 commented on #73
Can I take up this issue?

[2020-09-12 10:04] Akanksha1212 commented on #67
Sure @rutvi18. Go ahead!

[2020-09-12 10:07] Akanksha1212 commented on #80
Sure @B417037.

[2020-09-12 10:10] B417037 commented on #80
thank you @Akanksha1212

[2020-09-12 10:49] adithyaakrishna commented on #131
Hey, sorry for the delay and @Aaishpra I've finished creating the file but had forgot to push the changes, my bad :/ @nandini45, Can I push those changes seperately?

[2020-09-12 11:06] nandini45 commented on #73
@B417037  Someone is already working on it.
 look for a issue with available tag in it

[2020-09-12 11:08] nandini45 commented on #131
did you merge the issue with other issue and openend a PR? @adithyaakrishna

[2020-09-12 11:11] adithyaakrishna commented on #131
Yeah, had done that but Anna told me not to do that and create another one so Ig she had deleted the commit

[2020-09-12 11:13] nandini45 commented on #131
@adithyaakrishna  Yes you have to open two separates PR for both the issues you are working on.

[2020-09-12 11:17] adithyaakrishna commented on #131
Okayy, got it. So can I create another pull request now

[2020-09-12 11:31] nandini45 commented on #131
yes

[2020-09-12 14:50] annabauza opened #143 "bug: About us is not displaying, code and style is inconstant with guide."
### Describe the bug
 About us is not displaying, code and style is inconstant with guide.

### To Reproduce
Steps to reproduce the behavior:
1. Go to About us on testing environment
2. See about us is not displayed

### Expected behavior
About us should display with expected code and styles consistency and following our guides.

### Screenshots
If applicable, add screenshots to help explain your

[2020-09-13 08:47] radhikasethi2011 commented on #108
I wish to work on this issue. Please assign it to me.

[2020-09-15 06:06] nandini45 commented on #131
any updates?? it is your pending work?

[2020-09-15 06:07] nandini45 commented on #122
any updates?

[2020-09-15 06:12] imrishabh18 commented on #122
Yeah, I have made the carousel and the structure. Just the styling part is left. Will push the update today.

[2020-09-15 06:17] nandini45 commented on #121
it seems fine to me
@annabauza  can you review this issue?

[2020-09-15 06:18] nandini45 commented on #66
@husainattar  will you update us with your work?

[2020-09-15 06:23] nandini45 commented on #108
@vj-codes  it is a content issue.

[2020-09-15 07:38] vj-codes commented on #108
@nandini45 yes

[2020-09-15 11:47] adithyaakrishna commented on #131
@nandini45  Yess, I've created the pull request, Do lmk if any changes are needed :)

[2020-09-15 13:34] B417037 commented on #80
is it okay to use [calender-graph](https://github.com/d-band/calendar-graph#readme)?

[2020-09-16 17:07] #143 closed

[2020-09-16 17:16] nandini45 commented on #66
@husainattar
 i am unassigning you now it has been over a month  .
thanks for the contribution.

[2020-09-16 17:20] nandini45 commented on #73
@annabauza do you want to work on it or should i make it available?

[2020-09-16 17:21] nandini45 commented on #80
yeah

[2020-09-16 17:32] nandini45 commented on #63
@sanchibansal340  do you want to continue working on it?

[2020-09-16 17:34] nandini45 commented on #123
@dwvicy  any updates?

[2020-09-16 17:35] dwvicy commented on #123
Would need like a couple more days at max! I'm extremely sorry for the delay :(

[2020-09-16 17:38] nandini45 commented on #109
@adithyaakrishna  any updates?

[2020-09-16 17:43] nandini45 commented on #60
@Sonal240  can you tell me what content is required for the page here
only the ways to contribute? or any other content?

[2020-09-17 03:39] sanchibansal340 commented on #63
Sorry @nandini45 for not updating. I was not able to apply this.

[2020-09-17 03:45] Sonal240 commented on #60
I would suggest you to have a look at medium article written by @foongminwong contributing to Open source where she has written about all the sections in detail
The content should acquaint the newcomer with that particular section, how to contribute and ask them to  join respective channels for further details
Hope it's clear @nandini45

[2020-09-17 05:17] Aaishpra commented on #63
Hey @nandini45 can i try working on this issue if no one else is currently working on it.

[2020-09-18 05:49] Aaishpra commented on #63
@nandini45 are we going to use cpontribute_intro.json file for the content?

[2020-09-18 14:31] Aaishpra commented on #63
Another question should i use scaledimage or imagecontent for the image part?

[2020-09-19 12:03] Akanksha1212 commented on #139
Closing this as discussed in website open session.

[2020-09-19 12:03] #139 closed

[2020-09-19 17:22] nandini45 commented on #63
yes @Aaishpra

[2020-09-20 05:54] dwvicy commented on #123
I'm having some compiling issues after pulling the latest code.

[2020-09-20 10:00] dwvicy commented on #123
where can I find this doc? I need to change the colors

[2020-09-21 15:09] tichnas commented on #66
Hi, I would love to work on this. Can I please be assigned?

[2020-09-21 18:48] tichnas commented on #66
@Sonal240
This is my progress so far: https://pasteboard.co/Js91JaO.png
I made one assumption that there is a gap of 16pt between paragraphs.

I tried my best to replicate the design given, but please let me know if there can be improvements.

Now, where should I get the real data and images?
What I understood so far from the doc given (https://docs.google.com/document/d/1bt1Dfi_LK8-IDOX-vxgc_PT-C

[2020-09-22 03:10] Sonal240 commented on #66
LGTM so far.. And don't worry about the content... Issue for it is under progress
May you share the screenshot of responsive view as well

[2020-09-22 07:33] tichnas commented on #66
Ok, Thanks :smiley:

The breakpoint of the design is 400pt (~778px in my case).
Just before the breakpoint: https://pasteboard.co/Jse3Nbs.png
Just after the breakpoint: https://pasteboard.co/Jse4ohP.png
For even more smaller screens (~377px, design similar to last one): https://pasteboard.co/Jse5gEk.png
After this, the design starts breaking because we have fixed sized image and it starts to overf

[2020-09-22 08:26] Sonal240 commented on #66
Replace the dummy image with the images mentioned in the issue and share the updated one here

[2020-09-22 08:27] Sonal240 commented on #66
See the design link for development

[2020-09-22 14:39] tichnas commented on #66
@Sonal240 Sorry I didn't know that I can download images from the design link assets.

Designs for different screen sizes:
https://pasteboard.co/JsgPyYk.png (Largest)
https://pasteboard.co/JsgRR8B.png (Just before breakpoint)
https://pasteboard.co/JsgSaZ2T.png (Just after breakpoint)
https://pasteboard.co/JsgSPi9.png (Smallest)

Also, should I take the data (even if it's lorem ipsum) from a json f

[2020-09-22 16:05] Sonal240 commented on #66
I think the images are not aligned and leveled as mentioned in the design... See yourself... It would be great if you could implement that as well thanks

And regarding content sure... Avoid hard coding wherever possible

[2020-09-22 16:33] tichnas commented on #66
@Sonal240 I'll implement that also, no problem in that...
So what image alignment means? Like is it that the image should not be vertically aligned to the middle where the text is longer than the image height?

[2020-09-22 16:50] Sonal240 commented on #66
By alignment I meant leveling.... The image looks vertically and horizontally stretched due to which the image is not consistent with the text
The image should extend till last line of the respective content
Kindly go through the issue image... I've tried to make it clear but still if you feel any thing is missing out do let me know

[2020-09-22 17:14] tichnas commented on #66
Ohk, now I understood what you meant. But in the issue image given, coincidently the text is just as long as the image height. Since both the font size and image height are fixed, I'm not sure how to achieve the required design. I'm still a beginner in designing stuff so any suggestions on what we can do?