[2020-09-23 14:08] iamkryptonite commented on #73
hey @nandini45, can I work on this ?

[2020-09-24 08:17] khushishikhu commented on #23
@annabauza  @gaurivn  may i take this issue?

[2020-09-24 08:24] khushishikhu commented on #109
may i work on this issue

[2020-09-24 09:10] annabauza commented on #23
Yours

[2020-09-24 09:12] Sonal240 commented on #109
@khushishikhu this issue is assigned to someone else may you please look for some other issue thanks 😊

[2020-09-24 09:20] adithyaakrishna commented on #109
Hi @nandini45 @Sonal240 , Sorry for not giving updates here, but I'm currently held up with my final year project work, you can assign it to @khushishikhu

[2020-09-24 11:38] nandini45 commented on #60
@Sonal240  yes i will update as soon as possible

[2020-09-24 11:41] nandini45 commented on #123
colors for what exactly?
cards have color hex #E2EAF2

[2020-09-24 11:44] nandini45 commented on #121
@shravani05 are you done with the work?
i think using big calendar will be fine as long as all the updates are there in it.

[2020-09-24 11:45] nandini45 commented on #109
ok

[2020-09-24 11:46] nandini45 commented on #80
@B417037  any updates?

[2020-09-24 12:37] B417037 commented on #80
I am using [calender-graph](https://github.com/d-band/calendar-graph#readme) for making its basic layout and the git command: `data-count=git rev-list --count --since=data-date --before=data-date` for making the heatmap. Just fixing some bugs; will pull the request soon...

[2020-09-24 14:44] shravani05 commented on #121
Yes, currently I have an iframe of the Google Calendar associated with my google account. In future, you can just replace it with the iframe of the Google Calendar according to which you want to make the updates.
So, now the work is done and the output is shown in the images I had sent earlier. So, I think there is no need to use Big Calendar, as it will give same results as I am getting now by us

[2020-09-24 18:09] khushishikhu commented on #23
@annabauza do we have to write tests for the automated test on PR, like for travis-ci in app.test.js file

[2020-09-25 10:40] annabauza commented on #23
One snapshot and one test is enough to show integration works

[2020-09-25 17:24] pallavithakare28 commented on #109
@vj-codes @nandini45 May I work on this issue?

[2020-09-25 19:00] vj-codes commented on #109
Assigning you @pallavithakare28
Happy coding!

[2020-09-25 19:12] nandini45 commented on #66
@tichnas  why don't u make a rough sketch of what you are trying to say..if it's good we will go with it.. If not the design team will help you out.
I hope you understand what I means. Go with the idea you have in mind.

[2020-09-25 21:10] tichnas commented on #66
@nandini45 I was thinking of something like https://pasteboard.co/JsgPyYk.png (looks like https://pasteboard.co/JsgRR8B.png on smaller screens). @Sonal240 suggested keeping the image height just as long as the text (in the screenshot, the image height is fixed). I also like her suggestion but not sure if we can implement that.

More details:
In the issue image (with all dimensions) both the image

[2020-09-26 07:06] pallavithakare28 commented on #109
@vj-codes Thank you :)

[2020-09-28 17:06] khushishikhu commented on #23
@annabauza  can you please explain me for what we need to check integration test here.

[2020-09-28 17:10] annabauza commented on #23
@khushishikhu ahh unit test is interesting question. Not sure if we do anything adbance here, so maybe just snapshot of projects screen?

[2020-09-28 17:29] khushishikhu commented on #23
@annabauza  yes, i think we can do snapshot testing for project's screen 👍

[2020-09-29 04:31] Aaishpra commented on #109
Hey, @vj-codes if @pallavithakare28 somehow couldn't complete the work here . I would like to get assigned to this as i have already worked on a similar kind of issue .😊

[2020-09-29 11:17] pallavithakare28 commented on #109
@Aaishpra @vj-codes I am working on this issue currently. As I am new to open source and GitHub too, so it is taking the time. I'll try to give my best to solve this issue. And soon will make a PR.  It'll be great if you can guide me where I have to start. Thank you :)

[2020-09-29 11:31] vj-codes commented on #109
@pallavithakare28 sure, take your time but also remember to update your progress after every 3 days and if you come into any errors or doubts you can ask on zulip or here in comments:)

[2020-09-29 13:04] Aaishpra commented on #109
Yes, ask any question would be more than delighted to help u through this.

[2020-09-29 17:33] pallavithakare28 commented on #109
@vj-codes @Aaishpra  Can you please help me? I am not getting from where I have to start. And from where I have to make changes.

[2020-09-30 04:23] Aaishpra commented on #109
Hey, @pallavithakare28 you can start by making a new folder or a new file inside the src/Components folder. The next part would be to go to the design link (given in the issue description) and download the image and understand all the CSS required for designing this section. After that, you can probably start writing the code in the new file you created, my suggestion would be to have a look at th

[2020-10-01 00:47] B417037 commented on #80
could someone else please take up this issue? I'm facing issues with the react-native modules that haven't been developed for the web yet but are being used in this thanks.

[2020-10-01 03:16] pallavithakare28 commented on #109
Hey, @Aaishpra Got it.  Thank you for helping me.

[2020-10-01 05:11] madhhuurrii commented on #108
@nandini45  @vj-codes if any body isnt working in this issue can i work on this??

[2020-10-01 09:35] nandini45 commented on #108
@madhhuurrii  someone is already working  on it. Look for a issue with  tag available. Those will be the issue for which we need contributors

[2020-10-03 13:58] pallavithakare28 commented on #109
@vj-codes I am working on it. I hope you consider it.

[2020-10-10 08:11] khushishikhu commented on #23
can anyone please review my PR

[2020-10-10 12:16] Akanksha1212 commented on #123
Hi @dwvicy, Any updates on work? Let us know if you need any help

[2020-10-10 13:39] dwvicy commented on #123
@Akanksha1212 Thanks for asking, actually I switched laptops and lost all the local changes due to screen damage. I'll give you an update by tomorrow EOD.

[2020-10-14 17:28] nandini45 commented on #73
@iamkryptonite  are you working on it?

[2020-10-14 17:29] Akanksha1212 commented on #67
How is it going? @rutvi18 Let us know if you need any help

[2020-10-16 18:15] iamkryptonite commented on #73
Hey, I'm really sorry about this. I will try and get it done by the end of this week.

[2020-10-17 12:20] rutvi18 commented on #67
I am working on it. It got delayed due to other commitments. Will request for PR in 2-3 days.

[2020-10-22 09:17] parthsarthiprasad commented on #123
@nandini45 is the top bar a progress bar?
![image](https://user-images.githubusercontent.com/44730599/96850945-0dc9f300-1475-11eb-9ff6-87a01b25f81a.png)
Something like :
![progressbar](https://user-images.githubusercontent.com/44730599/96851122-4cf84400-1475-11eb-86b8-109b863f72a5.gif)

[2020-10-22 10:12] parthsarthiprasad commented on #80
@nandini45  just a clarification, I understand that 30 days column wise are marked, but since `anita-b`  has ~20 repos, but we selectively present these 6 repositories? or otherwise it'll have 20 rows?

[2020-10-22 20:01] nandini45 commented on #80
6 rows only for the main projects.
mentorship android
mentorship flutter
portal
mentorship
anitab.org website
stem tv

[2020-10-22 20:02] nandini45 commented on #80
it contains the stats like a new issue created a prs created a commit made etc

[2020-10-22 20:03] nandini45 commented on #80
and @parthsarthiprasad  are u working on this one or other?

[2020-10-22 20:13] nandini45 commented on #73
ok

[2020-10-22 20:13] parthsarthiprasad commented on #80
@nandini45 I researched about this, backend is to fetch data is managable, for UI it'll require little efforts, on the lines of calendar graph but we'll require 6X30 boxes. will look for that. + @refer ZULIP chat?

[2020-10-22 20:14] nandini45 commented on #108
@radhikasethi2011  there has been no updates from you. i am un-assigning you

@madhhuurrii  do you want to work on it?

[2020-10-22 20:16] nandini45 commented on #109
@pallavithakare28  there has been no updates from you.
if are working then update us with what you have done and the issue you are facing to complete it?

[2020-10-22 20:18] nandini45 commented on #121
ok create a PR we can review it there further
 @shravani05  and sorry for the late comment.
 i missed your update among all

[2020-10-22 20:23] nandini45 commented on #80
yeah probably, 6*30 boxes for all the projects.
 if the code is good then no issue
if the UI is the issue here do tell how we can help you.
 any changes you think will be the solution to the problem?
@parthsarthiprasad

[2020-10-23 02:05] madhhuurrii commented on #108
Yes! @nandini45 I am willing to contribute

[2020-10-24 14:08] #63 closed

[2020-10-24 14:39] Aaishpra commented on #109
@nandini45 well if this issue gets available for reassignment i am more than happy to work on it.

[2020-10-24 15:10] #111 closed

[2020-10-24 15:49] #131 closed

[2020-10-24 17:58] pallavithakare28 commented on #109
@nandini45 Sorry for delay, but I am busy with exam so can't make PR now. It's ok for me if someone wants to work on this issue. Sorry for the inconvenience.

[2020-10-26 11:27] shravani05 commented on #121
@nandini45 no problem.
I have made the PR #159

[2020-10-26 13:35] nandini45 commented on #108
@madhhuurrii  u can work on it
do update your work status within 3 days

[2020-10-29 15:04] rutvi18 commented on #67
@Akanksha1212 I have done few updates. Please check my PR. But ,still I am not able to add png files under contribute tab. Please guide for same.

[2020-10-30 19:29] Harshita-Kanal commented on #109
Is it available,  can I take this up?

[2020-10-31 11:34] Akanksha1212 commented on #109
Yes @Harshita-Kanal you can take this up. Let us know if you need any help.

[2020-11-02 20:03] Vuyanzi commented on #123
@nandini45 can I kindly be assigned to this.

[2020-11-04 21:13] StarTrooper08 commented on #48
I had one suggestion regarding the design .If you don't mind can I give my suggestion.

[2020-11-06 06:04] purnima143 opened #161 "Create/Improve Landing Page (Home page)"
## PROBLEM
A website without landing page doesn't look like a website.
When the website loads, the front page looks like any documentation which has a long description of the organisation and their activities-no icons, no bullets. Even the chosen font is so thin, that's not the user friendly.
![image](https://user-images.githubusercontent.com/57852378/98330648-dc2e5b80-2020-11eb-8151-9ad89f6a3e75.

[2020-11-06 06:12] purnima143 commented on #161
Can I work on this issue?

[2020-11-07 11:48] Akanksha1212 commented on #161
Hi @purnima143, The work on content is going on (https://github.com/anitab-org/anitab-org.github.io/issues/108) and for design and color scheme you can discuss it with design team on Zulip. Pls join [AnitaB zulip](https://anitab-org.zulipchat.com/) if you haven't.

[2020-11-07 11:51] Akanksha1212 commented on #161
Closing this issue as the work on these tasks is going on.

[2020-11-07 11:51] #161 closed

[2020-11-07 11:52] Akanksha1212 commented on #123
Sure @Vuyanzi

[2020-11-16 14:13] nandini45 commented on #66
@tichnas  make the changes u deem fit. we can review it when the PR is made

[2020-11-16 14:14] nandini45 commented on #80
@parthsarthiprasad  are you working on it?

[2020-11-16 14:16] nandini45 commented on #109
@Harshita-Kanal  are you working on it.? if yes
please mention the updates

[2020-11-16 14:18] nandini45 commented on #123
@Vuyanzi  are you working on it? if yes can you give us updates on the progress you made so far

[2020-11-19 15:50] tichnas commented on #66
I changed some things to reuse the components created after I wrote the initial code.

[2020-11-20 17:54] tichnas commented on #109
Please assign me this if no update comes from @Harshita-Kanal in a few days.

[2020-11-20 17:54] tichnas commented on #110
@raksh543 Are you working on the changes requested in the PR?

[2020-11-20 20:22] parthsarthiprasad commented on #80
hello, @nandini45 THanks for patiently waiting, got busy with SIH finals, which might wrap up by end of November. I'll weigh in as soon as possible, these issues can be opened for someone else if not found up to the mark.

[2020-11-21 12:26] Harshita-Kanal commented on #109
Hello, sorry for not giving updates here, I had my exams so couldn't complete. You can unassign me and I am very  sorry for the delay and inconvenience

[2020-11-21 12:32] tichnas commented on #109
@Harshita-Kanal If you're still interested, I think we'll be happy to wait for you :)

[2020-11-24 11:15] prabhat04011998 commented on #90
**Hey Guys,**
I seen that this issue is open and unassigned , can i pick up this issue if not assigned to anyone?

[2020-11-24 11:18] Akanksha1212 commented on #90
Sure @prabhat04011998. Go ahead. Looking forward to your PR. Let us know if you need any help and do update us with your progress after 3 days.

[2020-11-24 16:25] prabhat04011998 commented on #90
Sure @Akanksha1212  i'll update my status .
here is my current status , Component Implemented , alignments left.

![image](https://user-images.githubusercontent.com/28345582/100122699-b2d65200-2e9f-11eb-8792-91bae90d224e.png)

[2020-11-24 20:07] nandini45 commented on #109
@tichnas here... do give us the updates of your work after 3 4 days.. if any issue or doubts feel free to ping us here🙂

[2020-11-24 20:08] nandini45 commented on #108
@Akanksha1212  should we close this issue if the work has been done?

[2020-11-24 20:10] nandini45 commented on #80
@parthsarthiprasad ok.. i will make it available for now.. if you want to claim it later I will assign you if available

[2020-11-25 11:16] tichnas commented on #109
@nandini45 Till now I've designed this much:
![image](https://user-images.githubusercontent.com/56799401/100220457-68a3ae00-2f3d-11eb-87b8-cc70a5123ab4.png)
Please let me know any improvements. Also, are the icons acting as a link to Medium, Zulip and Github?

[2020-11-25 11:19] nandini45 commented on #109
Yes they are the links to the community channels..

On 25 Nov 2020 4:46 p.m., "Sanchit Arora" <notifications@github.com> wrote:

[2020-11-25 11:23] nandini45 commented on #109
It looks great Just one thing can u check the right side alignments??

[2020-11-25 11:24] nandini45 commented on #109
If you think 32 it a bit too much space make it 16 both sides.

[2020-11-25 11:26] nandini45 commented on #109
![20201125_165516](https://user-images.githubusercontent.com/62046625/100221725-15caf600-2f3f-11eb-9f2e-6263a610b7ac.png)
I am taking about these alignments

[2020-11-25 17:14] prabhat04011998 commented on #90
Hey @Akanksha1212 ,
Component done,
responsiveness checked.
i can generate the PR or any step i am missing need to follow?

[2020-11-25 18:40] Akanksha1212 commented on #90
Great! @prabhat04011998 You can create a PR now and please follow the PR guidelines especially the deployment part and share the link in PR as well.

[2020-11-26 07:09] prabhat04011998 commented on #90
Done Please Check .
I am attaching the deployed URL.
Deployment Guidelines followed.
https://prabhat04011998.github.io/anitab-org.github.io/

[2020-11-26 08:36] codewithvk commented on #52
Can you share more description on this issue?

[2020-11-26 08:45] codewithvk opened #165 "Create New Contact Page"
### Is your feature request related to a problem? Please describe.
It seen like ugly so I would suggest creating a new contact page

### Describe the solution you'd like
A clear and concise description of what you want to happen.

[2020-11-27 06:02] purnima143 commented on #109
@nandini45  @tichnas I wanna give small advice regarding the homepage design. The current state of the homepage is full with texts only, that looks bulky.

-  Keep the page **minimalistic and free of clutter**. In someplace instead of text, you can use more images and icons to present your thought.

- “**Readability**” measures how easy it is for people to recognize words, sentences, and phrases.

[2020-11-27 16:04] prabhat04011998 commented on #165
Hey @codewithvk
can you explain a bit , actually i am unable to find the contact's page on the web ,
so it'll be good if you can solve my doubt?

[2020-11-27 16:08] prabhat04011998 commented on #40
Hey @annabauza
can you explain the issue little bit,
we have to create a different component on which the announcement's will be fetched,
and we have to call the zulip api for that.

if my understanding is right?
so few more question assignee have to design the component also in the same issue?

[2020-11-27 16:24] prabhat04011998 opened #166 "Fix: the Navbar Collision in responsive View(Logo and About-us tab)"
### Describe the bug
The Responsive view of website leads to distortion in navbar(Header).

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://anitab-org.github.io/
2. Click on inspect->mobile view icon
3. Scroll up (Upto top)
4. See error( logo and about us us tab colliding)

### Expected behavior
This about us and logo should not collide.

### Screenshots

![issue_in_responsive_v

[2020-11-27 17:17] tichnas commented on #109
@nandini45 @vj-codes What changes do you suggest considering @purnima143's advice?

[2020-11-27 17:32] tichnas opened #167 "Fix: ScaledImage styling"
### Describe the bug
There is a `ScaledImage` component which is used to render images. It doesn't take any style prop, but it's expected when used to create `ImageContent` and `ImageTextSection` components. This results in expected styles like padding ignored.

### To Reproduce
Steps to reproduce the behavior:
1. Go to the homepage
2. Scroll down to a section with image on right
3. Observe that t

[2020-11-28 13:03] nlok5923 commented on #167
@tichnas  I would like to work on this issue.

[2020-11-28 13:53] Bucky25 commented on #165
@codewithvk we can create new page and link it in nav bar would be better as in footer it looks too  messy and footer only has the follow us  links

[2020-11-28 15:58] Bucky25 commented on #122
if nobody is working can i work on this  @nandini45

[2020-11-28 17:21] prabhat04011998 commented on #165
@codewithvk  thanks for solving my doubt where contact page is .

i agree with your suggestion , we should create a new page and add it in navbar or somewhere else, because putting a long para in footer not looking so professional.

[2020-11-29 08:15] tichnas commented on #167
@nlok5923 I think you'll have to wait till a maintainer accepts this issue and assigns it to you. Sorry for the delay.

[2020-11-29 15:50] nandini45 commented on #166
@prabhat04011998  do u want to work on it or any newcomer can work on it?

[2020-11-29 15:51] nandini45 commented on #167
its a v small issue so i think it will be better if you assign a newcomer to it
. or if you wan to work i can assign anyone
@tichnas

[2020-11-29 15:57] nandini45 commented on #165
@codewithvk  yes i agree
this topic has been discussed if we have to redesign it
if any of you want to resdesign it  you propose your designs in the design stream and we assign accordingly

[2020-11-29 16:42] prabhat04011998 commented on #166
@nandini45 yes i can work over it ,please assign it to me!

[2020-11-29 16:47] prabhat04011998 commented on #167
i can work over it. @nandini45 & @tichnas

[2020-11-29 17:02] tichnas commented on #167
Sorry @prabhat04011998, since @nlok5923 asked first, he should be given a chance.
So @nlok5923, start working on the issue and you'll get assigned soon, just let us know (by a comment) that you're working on it.

[2020-11-29 17:08] nlok5923 commented on #167
Thanks @tichnas i am working on it.

[2020-11-29 17:24] nandini45 commented on #167
@nlok5923  if the time limit to do the work exceed 3 days
do give us update. happy coding

[2020-11-29 17:25] Bucky25 commented on #122
@nandini45  cam i use react-bootstrap in it or not

[2020-11-29 17:25] nandini45 commented on #166
@prabhat04011998   if the time limit to do the work exceed 3 days
do give us update. happy coding

[2020-11-29 17:36] nlok5923 commented on #167
Sure @nandini45 😊

[2020-11-29 18:57] devkapilbansal commented on #165
@prabhat04011998 you have to wait until the issue is verified and labelled

[2020-11-29 20:01] nandini45 commented on #122
@Bucky25 i think the person working on it has created a PR already you can work on other issue..i think recently 2 new issues were made available..you can check them

[2020-11-29 20:02] nandini45 commented on #122
#123 and #80 one

[2020-11-29 21:05] Bucky25 commented on #123
@nandini45 i would like to work on it

[2020-11-30 04:14] nandini45 commented on #123
@Bucky25 ok i will assign it to u.
Keep giving us the update of ur work after 3 4 days .

[2020-11-30 04:52] nlok5923 commented on #167
@tichnas i think this issue has been resolved previously as there is enough padding between the image and text .
![Screenshot (1644)](https://user-images.githubusercontent.com/56120084/100563648-e3295080-32e4-11eb-9524-349e1d56cb8f.png)
do i still need to add some more padding?

[2020-11-30 06:33] prabhat04011998 commented on #166
@nandini45  okay i'll update.

[2020-11-30 06:35] prabhat04011998 commented on #165
@devkapilbansal  okay i'll wait.

[2020-11-30 08:56] tichnas commented on #167
@nlok5923 The padding observed in your screenshot is of `Content` component which is only on left. This means that the cases where the image is on right, there will be no padding in between.
Now, observe the `ImageContent` component. It returns a `View` containing another `View` and a `ScaledImage`. The `ScaledImage` component is expected to have a left and right padding of 16 (line 59 and 60).
So

[2020-11-30 09:30] nlok5923 commented on #167
Thanks @tichnas for clearing mine doubt 😄.

[2020-11-30 13:43] tichnas commented on #166
@nandini45 @prabhat04011998 just a suggestion from me, I think this issue is more about a responsive navbar (which gets hidden on the smaller screen and shows when touched on a hamburger icon). Just handling the about us and logo may still cause issues on smaller screens or when there are more pages.

[2020-11-30 14:46] Bucky25 commented on #123
@nandini45 how do we have to attach icons of date, location and time .
is it through material or font-awesome

[2020-11-30 17:48] Bucky25 commented on #123
@nandini45 event and highlight section is ready would sent a pr by tomorrow some questions.
1) i have changed events_and_highlights.json file to to js file and some more changes in objects but no change in data  will it be fine  .
2) is the know more part in card should be click able ? i have made it .

[2020-11-30 19:13] nandini45 commented on #123
@Bucky25  yes know more part should be clickable..
As far as for Changing the file structure i think that is an issue..but let me ask the admin first..i will get back to u.
Btw did u attach the icons??

[2020-11-30 19:18] nandini45 commented on #166
@tichnas ok so as far as for more other pages its considered i can't say anything. But here to be true  idk the exact solution
Do u think aligning will help or we have to redesign some bit,??

[2020-11-30 23:59] Bucky25 commented on #123
@nandini45 for the file structure i have changed as of projects and abt icons should i download it put in assets/events_and_highlights folder then use it ?

[2020-12-01 13:34] Bucky25 commented on #123
can i send a pr i have completed my work and looking for feedback and suggested changes
![Screenshot from 2020-12-01 19-01-08](https://user-images.githubusercontent.com/65112369/100747380-fbde5700-3407-11eb-845e-5561f5422f2e.png)
![Screenshot from 2020-12-01 19-03-26](https://user-images.githubusercontent.com/65112369/100747384-fda81a80-3407-11eb-8b0b-f7f9093414a1.png)

[2020-12-01 18:52] tichnas commented on #166
@nandini45 I don't think changing the measurements will help in this case (even with the current no. of pages).

I tried after removing all the empty space in the navbar (which is extreme, and obviously not look good) and the minimum width it still requires is 440 px with the look as:
![image](https://user-images.githubusercontent.com/56799401/100781222-c5690200-3430-11eb-8bd9-542f7ef81555.png)

G

[2020-12-02 11:41] prabhat04011998 commented on #166
Hey @nandini45
here are the some Snaps of different pages please review once.
![image](https://user-images.githubusercontent.com/28345582/100868165-3eb03580-34c1-11eb-863f-21309e4671f2.png)

[2020-12-04 06:12] Bucky25 commented on #80
@nandini45  i have started working on it can you assign it

[2020-12-04 11:49] nandini45 commented on #80
@Bucky25  here

[2020-12-04 11:53] nandini45 commented on #165
@devkapilbansal  it's is an designing issue.. will you be able to design it? if yes i will assign you.

[2020-12-04 11:54] nandini45 commented on #165
@codewithvk  can you edit the description of the issue firstly?

[2020-12-04 11:56] devkapilbansal commented on #165
No but probably @prabhat04011998 was interested in taking this

[2020-12-04 12:03] nandini45 commented on #166
@tichnas  yes i get ur point. but then this issue is a total different one.
 i like what you did if that can happen well and good. and one more point if you want to do it create other issue or ask the person working on this issue to do so if he can.

[2020-12-04 12:04] nandini45 commented on #166
@prabhat04011998  great job. if you can make the changes that @tichnas  proposed it will be a lot of help.
.

[2020-12-04 12:27] codewithvk commented on #165
@nandini45  added

[2020-12-04 18:51] prabhat04011998 commented on #166
@nandini45  thanks for the review,

@tichnas  please confirm i understand your point right.

so our navbar is fixed right now, like it shows partially on the small screen and need to scroll right ,
what is you suggestion that we develop this navbar or new navbar collapsible,
like you showed in the example.
like on small scree a single menu item will show , on click over it the list of tabs will ap

[2020-12-04 18:53] Bucky25 commented on #80
@nandini45  i have a suggestion for contribution graph as the can we make it past 30 weeks as github api only provides data weekly or in day format it is for 7 days only and commit in day are also less which makes graph look empty most of block it would be better if we make according to weeks
and one more thing
how does we implement api authentication in this repo i am using token method for it is

[2020-12-04 19:13] Bucky25 commented on #80
![Screenshot from 2020-12-05 00-41-34](https://user-images.githubusercontent.com/65112369/101204777-c1d4b580-3692-11eb-8fe9-83079113950a.png)
any feedback on this this i have implemented according to week

[2020-12-05 04:01] nandini45 commented on #80
@Bucky25
I understand ur point but 30 weeks is too much. And moreover i maybe the PM for the project but solely i can't take decision so let's just
Keep it for 30 days only.
Btw what you did is quite a good job.
thanks for the contribution

[2020-12-05 05:07] tichnas commented on #166
@prabhat04011998 Yes, you understood correctly :+1:

[2020-12-05 06:03] prabhat04011998 commented on #166
@tichnas okay i understand , but it's a  whole new issue,
I think you can create a new issue and please assign it to me!

[2020-12-05 06:36] tichnas commented on #166
@prabhat04011998 Ok, let me create one...

[2020-12-05 10:50] Bucky25 commented on #80
@nandini45  can u give me description   of colours of repo name to be written and of the more and less have to be written not given on adobe link given above i have completed implementation of days and will file a pr as soon as colours are with me
 and what abt the github api authentication  process its important

[2020-12-05 17:37] nandini45 commented on #80
@Bucky25  go for the same color as mentioned
and what regarding the authentication process?

[2020-12-05 17:54] Bucky25 commented on #80
@nandini45  authentication process requires access token which has to put in put in the .env file and stored in secrets when hosting on git hub

[2020-12-06 14:20] Bucky25 commented on #42
can i give it a try @Akanksha1212

[2020-12-06 17:22] gaurivn commented on #42
Assigning you @Bucky25

[2020-12-06 17:33] Bucky25 commented on #80
@nandini45 just add a secret named ACCESS_TOKEN in organization repo that is generated from access  token so that authorization works

[2020-12-06 18:23] annabauza commented on #80
Ahh access token not sure how to keep it without exposing to everyone...

[2020-12-07 03:39] prabhat04011998 commented on #80
i think access toke need to be store in a env file which will be ignored by git, put that file in .gitignore.
i m not sure about it.

[2020-12-07 06:37] Bucky25 commented on #80
@prabhat04011998 it is for local use and local testing but for deploying it needs to be strored in secrets on where we are deploying it

[2020-12-07 15:37] nandini45 commented on #108
@vj-codes  is this issue still valid?

[2020-12-07 20:53] Bucky25 commented on #166
@tichnas @tichnas we should think of collapsible nav bar as the scroll on mobile or small screen does not look good only nav bar remains of full width and rest things are of width of small screen
we can make a new issue and have @prabhat04011998 assign it

[2020-12-07 20:57] Bucky25 commented on #166
![WhatsApp Image 2020-12-08 at 2 25 34 AM(1)](https://user-images.githubusercontent.com/65112369/101404584-d74d1800-38fc-11eb-8a5d-62336b9cf103.jpeg)
![WhatsApp Image 2020-12-08 at 2 25 34 AM(2)](https://user-images.githubusercontent.com/65112369/101404590-d916db80-38fc-11eb-8468-b7232588bc26.jpeg)
![WhatsApp Image 2020-12-08 at 2 25 34 AM](https://user-images.githubusercontent.com/65112369/101404

[2020-12-08 09:50] tichnas opened #174 "Coding: Create a responsive Navbar"
### Is your feature request related to a problem? Please describe.
Currently, on small screens, the navbar is still of full width (greater than device width) to accommodate everything because of which full navbar is not visible.
![image](https://user-images.githubusercontent.com/56799401/101652156-e8fcff80-3a63-11eb-8793-29c4c24ba0a5.png)

### Describe the solution you'd like
A possible solution w

[2020-12-08 09:53] tichnas commented on #174
@prabhat04011998 Please comment here if you're interested in taking up this issue.

[2020-12-08 09:53] tichnas commented on #166
@Bucky25 @prabhat04011998 Sorry I got busy and forgot to create the issue, but I've created one now.

[2020-12-08 09:58] tichnas commented on #122
@imrishabh18 Are you working on the changes requested in the PR?
If not, will it be ok if I work on this issue?
Thanks

[2020-12-08 11:27] prabhat04011998 commented on #174
Yes you can assign this to me .@tichnas i am intrerested.

[2020-12-08 11:46] tichnas commented on #174
@nandini45 Please approve this issue and assign @prabhat04011998

[2020-12-08 12:36] nandini45 commented on #174
@tichnas ok.. i approved it and assigned it.
But can you add few screenshots of what it is and what we are trying to do in the description of the jssue??

[2020-12-08 12:43] nandini45 commented on #109
@tichnas  yes agreed but right now i can't ask u  to redesign it again.. there are many features which we will need to work on. I will  say do what was initially said , if u can make minimal changes without affecting the proposed design.. well and good..make changes but dont change the layouts

[2020-12-08 13:58] nlok5923 opened #175 "Improper display of contact us section details"
### Describe the bug
The content present in contact us section is not properly displayed.

### To Reproduce
Steps to reproduce the behavior:
1. Go to Landing page
2. Scroll down to 'Bottom
3. See error

### Expected behavior
Contact us section details must be properly displayed for better user experience.
### Screenshots
If applicable, add screenshots to help explain your problem.
![Screenshot (2)

[2020-12-08 13:59] nlok5923 commented on #175
@nandini45 please review this issue .

[2020-12-08 15:53] tichnas commented on #175
@nlok5923 Sorry, I didn't get what exactly is the issue... Also, what solution do you propose?

[2020-12-08 16:09] nlok5923 commented on #175
@tichnas  The details in the contact us section is not properly formatted as well as they should be concise and clear.
![Screenshot (8)](https://user-images.githubusercontent.com/56120084/101508092-45e1b280-399d-11eb-9317-3b8c14d4fd5d.png)
Solution: To make each point more smaller, clear and concise and to display it in a list format.

[2020-12-08 16:27] Bucky25 commented on #175
@nlok5923 the redesign of contact us page is still ongoing and the issue is already there

[2020-12-08 16:34] #175 closed

[2020-12-08 19:27] nandini45 commented on #165
@nlok5923 this is the issue that you proposed.. if u want to work on it.. i have said before
Share us any design you have in mind regarding the contact us section in the design stream in zulip and then the design team can guide you there.

[2020-12-08 19:29] nandini45 commented on #165
@codewithvk  great.
@prabhat04011998  u want to work on it?
If yes share us ur design and we can help you out further..

[2020-12-09 04:52] Aaishpra commented on #110
@nandini45 @Sonal240 I don't see updates from the current assignee for the requested changes in the PR .
So, can i work on this?

[2020-12-10 09:52] Sonal240 commented on #110
Let's wait for 1 or 2 days
@raksh543 May you please work on the changes requested else this issue would be assigned to
@Aaishpra

[2020-12-10 11:56] Bucky25 commented on #42
@gaurivn i am working on this issue and i think it will take a lot of time guys .

[2020-12-10 12:10] gaurivn commented on #42
@Bucky25 , it is perfectly fine so long as you post an update here regarding progress on the issue every 3 days, all the best.

[2020-12-10 21:22] tichnas commented on #109
@nandini45 No issues.
To be sure that I did what was expected, can you please see the final screen-shot before opening a PR.

![image](https://user-images.githubusercontent.com/56799401/101831278-b7675f80-3b5b-11eb-9848-1df7e8295eb9.png)

[2020-12-11 03:53] raksh543 commented on #110
@Sonal240 I would continue to work on this. Pr for this issue have already been made. There are some minor fixes needed, so i would complete that.

[2020-12-11 04:16] Sonal240 commented on #110
Kindly complete them asap @raksh543

[2020-12-11 13:29] tichnas commented on #122
@nandini45 Can I please be assigned to this issue?

Also, I have a doubt that the section where the VIDEO is written is actually a video or an image which when clicked will open a link containing the video (looking at the closed PR of this issue it seems it's just an image, that too without any link)?

Thanks

[2020-12-12 14:04] alpha2320 commented on #174
@nandini45  can i work on this ?

[2020-12-12 17:40] nandini45 commented on #122
@tichnas video have to be there. I will provide the url to them and you can use it.
I assigned it to u..

[2020-12-12 17:42] nandini45 commented on #109
@tichnas  it looks great..please go ahead with the PR

[2020-12-12 21:13] chinmaym07 opened #179 "Coding : Develop Dark-Mode for community website"
### Is your feature request related to a problem? Please describe.
No. It's not related to a problem .But it's an additional feature as almost every web-app today has a dark-mode feature.

### Describe the solution you'd like
To Implement Dark-Mode

If it's a valid feature .Please assign this to me .

[2020-12-13 12:27] nandini45 commented on #179
@chinmaym07  it is a valid feature. we do want to include but its a future work.
for now we don't need that
 we need to work on the website for now.
you can look for issues in the repositories

[2020-12-13 12:27] #179 closed

[2020-12-14 17:12] Bucky25 commented on #42
@gaurvin @annabauza to integrate react native nav in app either we have to add header and footer in all components as they cannot be rendered differently in app.js under the view component because then we can not change screens through react-navigation so what's are ur suggestions regarding this

[2020-12-14 19:52] tichnas commented on #122
@nandini45 Unfortunately, I'm kind of at a dead-end at implementing the video.

For displaying a video in react-native, we use a package called `react-native-video`, but it only works on android and ios.
I found the only possible solution to make it work with `react-native-web` is dynamically creating a `video` element using `react-native-web`. In short, then it will only work on the web, and we w

[2020-12-17 13:05] Bucky25 commented on #23
@annabauza  if nobody is working on it can i take it over

[2020-12-17 13:23] Bucky25 commented on #80
@annabauza @nandini45 i have suggestion for the contribution box as we should cover in a scroll view as it happens in github page because in responsiveness breaks in smaller screen and row goes in second row . but on github page it just get a scroll in the box which remains in a box .
what are u suggestions abt that

[2020-12-22 05:59] nandini45 commented on #174
@prabhat04011998  are u working on it? or you have opened one PR for both the related issues?

[2020-12-22 06:15] nandini45 commented on #80
both approach are fine for me
 you can go with just scroll which remains in the box
see its just we need to show the daily progress to the person who comes across it.
Therefore go with the approach that you think will give the result and less time of yours
@Bucky25

[2020-12-22 19:40] #167 closed

[2020-12-23 05:17] prabhat04011998 commented on #174
@nandini45 yes i am working over it and i have'nt generated PR yet , i am just waiting for other issues to be resolved,after that i'll generate for this issues else this issue will also create problem.

[2020-12-23 17:21] nandini45 opened #183 "Fix grammatical errors"
### Description

Fixed grammatical/typographical errors in the website.

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
30 min

[2020-12-23 17:23] nandini45 commented on #183
@antrikshmisri here should i assign u this?

[2020-12-23 18:12] antrikshmisri commented on #183
@nandini45 Sure

[2020-12-24 08:38] arnoob16 opened #184 "Re-style the footer"
## Description
As a user, I feel the footer is too complicated looking with the links, stream names etc. I feel it would be better if the text is left aligned, which will make it a lot readable than it is now. Highlighting the links/stream names with a different color and using anchor tags to wrap up the complex looking URLs would make it look better.

I also saw the issue #165 but I don't think a

[2020-12-25 16:16] prabhat04011998 commented on #166
@nandini45  PR for this issue is already merged we can close this.

[2020-12-25 17:12] nandini45 commented on #166
@prabhat04011998 okk thanks for the work

[2020-12-25 17:13] #166 closed

[2020-12-25 17:16] nandini45 commented on #184
@arnoob16  we are not planning for a separate or any other things.
We just  need to redesign the footer for all the pages and then code it.
I said it there and i will repeat if you want to work on it give us the design of how the footer will look like . What content will it have etc

[2020-12-25 18:38] tichnas commented on #110
@raksh543 Are you working on the changes?
If not, can I please work on it @Sonal240? Thanks

[2020-12-26 02:53] tirlochanarora16 commented on #184
Can I also submit a proposed design for the footer?

[2020-12-26 05:12] aditmehta9 commented on #110
@raksh543 are you still working?
If you are busy and are not working on it this issue can be assigned to @tichnas

[2020-12-26 06:08] Bucky25 commented on #123
@nandini45  @annabauza can you please provide me icons of calendar and clock which as given in design page

[2020-12-26 07:59] Bucky25 commented on #23
@nandini45 if nobody is working on this.
I would like to take it over .

[2020-12-26 11:40] #183 closed

[2020-12-26 12:07] #90 closed

[2020-12-26 12:15] annabauza commented on #184
Yes footer is indeed too big. we need to adjust the content there. I think designs were way smaller originally, but content team has created too long text. We need add contact us with e-mail pointing to open-source@anitab.org and also link to zulip. We can add link to github. Best would be use only icons, I think.

[2020-12-26 12:21] annabauza commented on #123
@vj-codes @Vuyanzi @Sonal240 @simranaggarwal1999, can any of you please provide proper icons?

[2020-12-26 12:22] annabauza commented on #23
Yes @Bucky25 please do, good luck!

[2020-12-26 12:40] tirlochanarora16 commented on #184
@annabauza , can you please tell the site on which all these changes have to be made?

[2020-12-26 15:21] rutvi18 opened #185 "Content: Create content for the contribute page of AnitaB-org"
**Description**

As a user,
Would like to have an engaging description of each header in contribute page. Changes to be done to issue #169

**Mock**

![anitab](https://user-images.githubusercontent.com/43277445/103154095-5d050a80-47bb-11eb-8543-e135e8ba0972.png)

**Acceptance Criteria**

- [ ] The description should be engaging and relevant to the headers.

**Criteria for completion**

- [ ] Appro

[2020-12-26 16:45] Sonal240 commented on #123
@annabauza @Bucky25  those are just pngs downloaded from material design site... I recently got my laptop formatted so I don't have them with me as of now...try looking for it else I'll provide it by tomorrow... Thanks

[2020-12-27 08:06] sankha555 commented on #185
Hello @rutvi18,
I would like to work on this issue. Could I please be assigned this? Basically, I need to write and code some content for the headings in the contribute page right (eg. new to open source, ways to contribute, open source programs etc.) ? Also, do I need to make changes to PR#169 or should I start off a new page for the contribution link. A brief walkthrough for the task and relevan

[2020-12-27 08:47] parthsarthiprasad commented on #123
@Sonal240 I'd suggest @Bucky25 can try normal fa-icons, and scale them accordingly, fa-calendar, fa-map-marker etc will work fine?

[2020-12-27 11:38] Sonal240 commented on #123
Ya sure but I think we are following material guidelines so I think it's better to go with material design icons... @annabauza would be the right person to answer this fact

[2020-12-27 13:39] rutvi18 commented on #185
@sankha555 sure....will assign you the issue.
[Resource](https://github.com/rutvi18/anitab-org.github.io/tree/rutvi_contibute)
You can pull a PR instead of making direct changes to #169. Once it is reviewed, it will be merged with  #169

[2020-12-27 14:16] nandini45 commented on #185
@rutvi18  this issue has  been created and there is a PR for that.
And moreover after creating a issue. Any project managers should confirm the issue whether it is required or not then only you can assign it to anyone.

[2020-12-27 14:18] rutvi18 commented on #185
@nandini45 ok thanks

[2020-12-27 14:22] nandini45 commented on #122
@annabauza  can you please help us here??

[2020-12-27 14:23] #185 closed

[2020-12-27 14:25] nandini45 commented on #185
@sankha555 sorry for this.
The issue has been created and a PR is there for it..
Perhaps you can look for other issues to work on.
Thanks

[2020-12-27 14:27] nandini45 commented on #185
@rutvi18  can you tell me one thing the issue is about new to open source section or the other one too??

[2020-12-27 14:29] sankha555 commented on #185
@nandini45 Thanks for the clarification. I'll try to find some other issues to work on using the issue tracker. Also, if you know of some issue that might require contribution now and could kindly direct me to it, it would be great help. Thanks!

[2020-12-27 14:31] nandini45 commented on #185
@sankha555 sure give me a moment.can u mention ur preferred  language??

[2020-12-27 14:32] rutvi18 commented on #185
@nandini45 it is for the entire page....as I have made a PR for the contribute page. And didn't know the issue already exists.

[2020-12-27 14:33] rutvi18 commented on #185
@nandini45 And also can u tell should I now merge that PR with mine, right?

[2020-12-27 14:33] sankha555 commented on #185
Ya sure. I am experienced in and mostly work using Python and specifically use Django framework for web development applications. Would love to contribute in these tech stacks. Thanks!

[2020-12-27 14:35] nandini45 commented on #185
Ok the page content was too much so it was  divided ibto 2 3 sections.
The content in the PR i gave u is for one section.
The content for the other is yet to be merged. Their is a PR but we have to merge it yet. @rutvi18
So  idk to be true probably u can take the content from the pr and then merge??
Just  a suggestion

[2020-12-27 14:37] rutvi18 commented on #185
@nandini45 ok...thanks a lot :)

[2020-12-27 14:38] nandini45 commented on #185
@sankha555  this repo uses djano framework mainly.. there are loads of issue for u
https://github.com/anitab-org/mentorship-backend/issues
Happy coding!!

[2020-12-27 14:40] sankha555 commented on #185
Thanks a lot @nandini45 ! :)

[2020-12-27 17:22] Bucky25 commented on #123
@Sonal240  @parthsarthiprasad  thanks guys for the suggestions . I will try material icons and let you know if any problem

[2020-12-27 18:58] chinmaym07 commented on #122
Hey @nandini45  Can I Try work on this issue .?

[2020-12-28 04:42] nandini45 commented on #122
@chinmaym07 , @tichnas he is already working on it.
You can look for other issues probably

[2020-12-28 14:16] Bucky25 commented on #23
@annabauza some questions are we using react-testing library for conforming that and making a new folder for test will be better so we can latter add more test if needed  .what are your thoughts on it .

[2020-12-28 17:22] Bucky25 commented on #23
@annabauza do i have to write snapshot test for each component

[2021-01-01 13:39] #37 closed

[2021-01-01 13:42] annabauza commented on #85
Closing due to closing PR #86

[2021-01-01 13:43] annabauza commented on #50
Long time no action. Closing this issue.

[2021-01-01 13:43] #50 closed

[2021-01-01 13:44] #62 closed

[2021-01-01 13:49] tichnas commented on #85
@annabauza I think the PR wasn't merged so the issue still exists...

[2021-01-01 13:59] annabauza commented on #85
Thanks @tichnas

[2021-01-02 08:26] annabauza commented on #184
Can @anitab-org/design-team prepare better designs for this issue please?

[2021-01-02 11:16] Shruti3004 opened #187 "Search Engine Optimization (SEO) for the web page"

[2021-01-02 15:03] Shruti3004 commented on #187
@annabauza I want to work on this

[2021-01-02 15:04] annabauza commented on #187
Approved

[2021-01-02 15:05] annabauza commented on #187
@Shruti3004 yours

[2021-01-02 17:08] tichnas commented on #110
@nandini45 I think this work is already done. Can you please confirm?

[2021-01-02 17:46] nandini45 commented on #110
@tichnas yes the work is done. You can see it in this PR
#134

[2021-01-02 17:48] tichnas commented on #110
So, why not close this?

[2021-01-02 18:18] vj-codes commented on #184
@annabauza yes I would like to, shall I send the link here when I'm done or will it be reviewed in design open session?

[2021-01-04 06:17] avinal opened #190 "Same description in Google Summer of Code and Google Code in Section"
### Describe the bug
The introductory description under Google Summer of Code and Google Code-in is the same, even the name of the event has not been changed.

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://anitab-org.github.io/
2. Scroll down to **Open Source Programs**
3. See error

### Expected behavior
Different description of different programs

### Screenshots
If applicab

[2021-01-04 07:15] jalajcodes commented on #190
I think hanging the Program name in the second point should do it, as the years differ in both points? @annabauza

On that note, maybe a line gap between the point heading and text will make everything more readable

[2021-01-06 14:02] Manav1 commented on #190
Can I work on the issue?

[2021-01-09 09:30] #187 closed

[2021-01-09 09:32] #23 closed

[2021-01-09 16:52] zyberg2091 opened #192 "Documentation needs text formatting for better readability"
### Describe the bug
There is a need for line break in between subtopic heading and points. This should be done on the home webpage.

### To Reproduce

Line breaks are needed at several places

1.
Now :
![image 1](https://user-images.githubusercontent.com/42847318/104100098-07545600-52c3-11eb-82a5-d5253685cf5b.png)

After:
![image 4](https://user-images.githubusercontent.com/42847318/104103209-eb5

[2021-01-10 07:24] nandini45 commented on #60
@tichnas are u working on it??

[2021-01-10 07:27] nandini45 commented on #190
@avinal It's a v minute issue.. do u want to do the changes or i should assign it to other person ?

[2021-01-10 07:33] nandini45 commented on #184
@annabauza the issue #165 is related to the same topic that this issue is meant for.
Bcoz the other one was opened 1st
Therefore i am closing this one.
@arnoob16 if u want to work on it. U can comment there. I can assign u when the design is finalised.
@vj-codes when the design is finalised please mention the link in the #165 issue. And thereby we can assign it further to the required person

[2021-01-10 07:33] #184 closed

[2021-01-10 07:37] nandini45 commented on #192
@annabauza do u approve of this issue??

[2021-01-10 07:46] jalajcodes commented on #190
@nandini45 If no one is available assign it to me

[2021-01-10 07:52] avinal commented on #190
Hello @nandini45, I am little occupied now a days so, please feel free to assign it to someone. Sorry I didn't tell earlier. Thanks 😅

[2021-01-10 10:19] nandini45 commented on #190
@jalajcodes here you go.. u can work on it.. and do give us your update if the work  time exceed 3 days..
Happy coding!!

[2021-01-10 11:44] annabauza commented on #192
Yes approved

[2021-01-10 11:46] annabauza commented on #184
@vj-codes yours, remember what we talked about on design session. Just icons + mail icon which opens mail client app.

[2021-01-10 13:38] Amulya-coder commented on #192
@annabauza can I work on this issue.

[2021-01-10 16:10] annabauza commented on #192
Yours @Amulya-coder

[2021-01-10 17:08] tichnas commented on #60
@nandini45 Not currently. There was someone new who wanted to do this to get started, so I thought maybe assign him/her...

[2021-01-10 18:42] nandini45 commented on #192
@Amulya-coder i am so sorry
The PR has been opened for this issue Already.
There is a content issue  if u want i can assign u that

[2021-01-10 18:44] nandini45 commented on #192
@annabauza i apologize for not informing u earlier but the person who made the issue already opened a PR .. i think it will be better if  his PR  is considered and merged

[2021-01-12 06:56] jalajcodes commented on #190
@nandini45 can you please review the pr

[2021-01-14 13:48] Shruti3004 opened #196 "Revamp of the complete website for responsiveness"
# Describe the bug
The site is not responsive on the different screens

# Screenshots
<p align="center">
<img src="https://user-images.githubusercontent.com/56133783/104598005-0db84880-569c-11eb-8730-cc106ae81b44.jpeg"  width="400px">
<img src="https://user-images.githubusercontent.com/56133783/104598024-13159300-569c-11eb-94d0-22684d60cd4d.jpeg"  width="400px">
</p>
<p align="center">
<img src="h

[2021-01-14 13:53] Shruti3004 commented on #196
@annabauza please assign me.

[2021-01-14 16:25] nandini45 commented on #174
@prabhat04011998  any updates??

[2021-01-14 18:43] prabhat04011998 commented on #174
Hey @nandini45  ,
I hope you must be doing well.
Apologies for the delay. I was busy with traveling for my work,
Please can I take two more days?

[2021-01-14 20:18] annabauza commented on #174
2 more days, then we reassign if not ready.

[2021-01-14 20:29] #190 closed

[2021-01-16 08:28] Shruti3004 commented on #196
@annabauza please assign me!

[2021-01-16 19:58] #121 closed

[2021-01-17 08:14] Shruti3004 commented on #196
@annabauza can I start working on it?

[2021-01-17 14:42] sanjay270899 commented on #174
@annabauza Can I work on this issue?

[2021-01-17 15:14] chinmaym07 commented on #174
Hey @annabauza  If this issue is available .. Can I work on this issue. ?

[2021-01-17 17:56] annabauza commented on #174
@prabhat04011998 have you finished this task?

[2021-01-19 13:43] Rahulm2310 opened #198 "Optimize Images"
### Describe the bug
A picture speaks thousand words, but if the picture is of large size, it takes forever to load.
Large images slow down the web pages which creates a less than optimal user experience.
We can reduce your image’s file sizes to help improve your website’s performance.

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://anitab-org.github.io/
2. Right Click -> Inspe

[2021-01-21 13:21] Shruti3004 commented on #196
@annabauza Can I start working on it?

[2021-01-21 13:23] annabauza commented on #196
Yes your @Shruti3004

[2021-01-25 12:02] annabauza commented on #198
Please remeve comments like `I want to work on this issue` from description.

[2021-01-25 13:45] Rahulm2310 commented on #198
@annabauza removed it.

[2021-01-25 17:28] Shruti3004 commented on #196
![Screenshot from 2021-01-25 22-48-49](https://user-images.githubusercontent.com/56133783/105741214-0d536380-5f60-11eb-8e5d-8761cad8bc86.png)
![Screenshot from 2021-01-25 22-48-54](https://user-images.githubusercontent.com/56133783/105741268-18a68f00-5f60-11eb-9f40-d80afaaf4172.png)
![Screenshot from 2021-01-25 22-49-02](https://user-images.githubusercontent.com/56133783/105741283-1e03d980-5f60-11

[2021-01-25 20:25] annabauza opened #199 "TITLE 2 instead of proper title in events tab"
### Describe the bug

Events tab has placeholder text "TITLE 2" instead of proper title.

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://anitab-org.github.io/
2. Click on events
3. See there is `TITLE 2`

### Expected behavior
There should be a proper title

### Screenshots
![Screenshot 2021-01-25 at 20 24 40](https://user-images.githubusercontent.com/31966073/105761737-649b090

[2021-01-25 20:48] annabauza commented on #196
@Shruti3004 I saw that, looks good but if we move to react js I wish to see text wrapping the images. We can always rise an issue if that is too much. Also font is wrong color, not sure about sizing. I have a question though, can we replace pages one by one instead of keeping them in parallel. I keep merging PRs.

[2021-01-26 05:48] Amulya-coder commented on #199
@annabauza I would like to take up this issue but I have a one doubt that in Title2 the description is same as Events so on what basis I would decide the title

[2021-01-26 07:49] annabauza commented on #199
Yours @Amulya-coder

[2021-01-26 07:56] annabauza commented on #198
@Rahulm2310 also remove from description `@annabauza Please share your thoughts 😊` other then that issue is approved

[2021-01-26 13:06] Amulya-coder opened #200 "Spell Checking errors in Documentation"
### Describe the bug
There will be some Spelling errors in documentation on events tab page

### To Reproduce
Steps to reproduce the behavior:
1. Go to ' https://anitab-org.github.io/'
2. Click on ' events'
3. See on Events and TITLE 2 content the first , second line and last line contain errors.

### Expected behavior
There should be correct Spelled words.

### Screenshots
![Bug_Anita_B](https://

[2021-01-26 13:10] Amulya-coder commented on #200
@annabauza please approve this issue and assign it to me

[2021-01-26 17:57] Rahulm2310 commented on #198
@annabauza now can it be assigned to me ?

[2021-01-27 00:30] isabelcosta opened #201 "Add our Medium publication to the website"
## Description
As a visitor of the website,
I need know where I can find more information about the community, such as the Medium publication,
so that I can learn more about the community through community blog posts.

Blog at https://medium.com/anitab-org-open-source

## Acceptance Criteria
### Update [Required]
- [ ] If possible add the Medium publication to the project

## Definition of Done
-

[2021-01-27 03:43] nlok5923 commented on #201
Please assign this to me

[2021-01-27 09:28] Shruti3004 commented on #196
@annabauza okay I'll wrap the wrap the images with text but for the basic level i am just cloning the site as it is current state with react native. Ma'am the font color and sizing is same but I have changed the font family, I felt Avenir text is the better one but though this thing is subjective, if you want me to change that I'll change it. I will create the different folder in this repo named r

[2021-01-27 14:10] rutvi18 commented on #198
Can I take up the issue?

[2021-01-27 15:25] Rahulm2310 commented on #198
@rutvi18 Please have a look on other available issues. I am already looking into it. Thanks

[2021-01-27 17:45] Rahulm2310 opened #203 "Grammatical Errors"
### Describe the bug
There are a few grammatical errors in the `home` , `Projects`  and `About Us` page description.

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://anitab-org.github.io
3. See errors in the descriptions

### Expected behavior
All the grammatical errors needs to be fixed.

### Screenshots
Home Page
![osp-grammar1](https://user-images.githubusercontent.com/542684

[2021-01-27 17:48] Rahulm2310 commented on #203
@isabelcosta Please confirm this issue and if valid please assign me. Thanks 🙂

[2021-01-27 19:44] isabelcosta commented on #203
@Rahulm2310 very good catch! 👏 🎉 I will assign to you :)

[2021-01-28 04:29] sagar-barapatre opened #204 "Dark Mode"
### Describe the solution you'd like
Dark mode has gained popularity thanks to the addition of OS-level dark modes in iOS, macOS, Android, and Windows. Regardless of the hype, dark mode has some real benefits:
- Less blue light could mean less disruption to the body’s sleep cycle if using the display in the evening.
- Light-on-dark text can be easier to read for some people, while others find it h

[2021-01-28 05:17] chinmaym07 commented on #174
@annabauza is this issue available .?

[2021-01-28 08:27] Shruti3004 commented on #196
@annabauza Shall I make a PR?

[2021-01-28 11:33] Amulya-coder commented on #200
@isabelcosta can you please verify this issue.

[2021-01-28 13:40] rutvi18 commented on #165
is this issue available?

[2021-01-28 17:34] Shruti3004 commented on #196
@annabauza Shall I make a PR?

[2021-01-28 18:06] Rahulm2310 commented on #204
@sagar-barapatre Thanks for showing interest in the project. Although, when contributing to a open source project, it is suggested to wait for a maintainer to approve a issue/feature request before creating a pull request for the same. Please have a look at the contributing guidelines [here](https://github.com/anitab-org/anitab-org.github.io/blob/develop/CONTRIBUTING.md). 🙂

[2021-01-28 18:10] vj-codes commented on #204
@sagar-barapatre hey this issue is a valid feature. We do want to include but its a future work.For now we don't need it.
We need to work on the website for now.
You can look for issues in the repository:)
I will close this and also a duplicate of #179

[2021-01-28 18:10] #204 closed

[2021-01-28 18:11] devkapilbansal commented on #165
@rutvi18 propose your design changes in the design stream on zulip channel.

[2021-01-29 00:44] isabelcosta commented on #200
Oh I didn't check this, sorry. I already assigned a similar issue to someone else. I will assign this to you, the other contributor can fix the other typos you did not mention here :)

[2021-01-29 00:46] isabelcosta commented on #200
Oh I noticed you already have a PR in review process, I will close this issue and reference in the other that is a little bit more complete @Amulya-coder

[2021-01-29 00:46] #200 closed

[2021-01-29 00:47] isabelcosta commented on #200
This is the predecessor of https://github.com/anitab-org/anitab-org.github.io/issues/203

[2021-01-29 09:11] Shruti3004 commented on #196
@annabauza shall i make a PR?

[2021-01-29 15:25] Shruti3004 commented on #196
@annabauza shall I make a PR?

[2021-01-29 18:05] anushruti11 commented on #201
Can I take up this issue?

[2021-01-29 19:17] annabauza commented on #201
since @nlok5923 was first, I'm assigning this issue to @nlok5923.

[2021-01-29 19:34] annabauza commented on #198
Technically you have not been assigned @Rahulm2310 , however indeed you asked first to be assigned to this issue. In other hand you have created the issue, so I'm not sure here. @isabelcosta @mayburgos can you help me out here?

[2021-01-29 19:35] annabauza commented on #196
yes please @Shruti3004

[2021-01-29 19:38] #203 closed

[2021-01-30 04:30] nlok5923 opened #210 "feat: adding an editorconfig file to project"
### Is your feature request related to a problem? Please describe.
Editor  config file will help to maintain the standard code formatting throughout the project style which will eventually leads to better code readability

### Describe the solution you'd like
Adding .editorconfig file considering the best code standards for the project.

### Describe alternatives you've considered
This feature do

[2021-01-30 04:31] nlok5923 commented on #210
@annabauza @isabelcosta what's your views over it 🤔

[2021-01-30 17:15] Rahulm2310 commented on #198
@annabauza I have not started working on it. I am just looking for good libraries we could use for image compression . 🙂

[2021-01-30 17:45] Rahulm2310 opened #211 "Add 'react.js' tag to Open Source Programs Web in Projects page"
### Describe the bug
Currently there is no  `react.js` tag on the Open Source Programs Web project under Projects page.

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://anitab-org.github.io/
2. Scroll down to Open Source Programs Web

### Expected behavior
There should be a `react.js` tag for Open Source Programs Web project.

### Screenshots
![anitab-tag-issue](https://user-ima

[2021-01-30 19:26] isabelcosta commented on #201
Is it possible to adds the medium icon with the link to the publication? In terms of design and space on footer. I should have been more clear in the ticket @annabauza

[2021-01-30 21:11] isabelcosta commented on #198
@annabauza I would say @Rahulm2310 created this, and if this is not considered as "first timers only" then @Rahulm2310 can work on this, for asking for it first.

[2021-01-31 10:42] annabauza commented on #198
Thank you @isabelcosta . @Rahulm2310 yours :)

[2021-01-31 10:45] annabauza commented on #201
I think this should be new issue to add it to follow us in footer. Great idea @isabelcosta !

[2021-01-31 10:46] annabauza commented on #211
💯  approved!

[2021-01-31 10:48] annabauza commented on #210
good call, I think someone was already working on code standards, can you review issues and wiki to make sure we have no clash @nlok5923 ?

[2021-01-31 10:52] #73 closed

[2021-01-31 10:53] #201 closed

[2021-01-31 10:55] nlok5923 commented on #210
Sure @annabauza

[2021-01-31 12:19] annabauza opened #212 "Fix programs timeline data to real events"
### Describe the bug
Current Programs timeline show random data. Setup only GSoC 21 real timeline dates for now.

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://anitab-org.github.io/
2. Click on Programs
3. See programs display dummy data

### Expected behavior
Proper data should be displayed on timeline

### Screenshots
<img width="1473" alt="Screenshot 2021-01-31 at 12 17 17"

[2021-01-31 13:08] nlok5923 commented on #212
@annabauza i want to work on it.

[2021-01-31 13:09] nlok5923 commented on #210
@annabauza i reviewed issues and find no one working on code standards.

[2021-01-31 13:45] annabauza commented on #212
yes yours @nlok5923

[2021-01-31 13:46] chinmaym07 opened #213 "Image looks blurred."
### Describe the bug
Main Image looks blurred which can be result in bad user experience

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://anitab-org.github.io/
2. Click on Contirbute tab
4. See the image

### Expected behavior
We can replace it some other image .

### Screenshots
![Screenshot_2021-01-31 AnitaB org Open Source](https://user-images.githubusercontent.com/44670961/1

[2021-01-31 13:59] annabauza commented on #210
Great then it's approved

[2021-01-31 14:01] annabauza commented on #213
@anitab-org/design-team can you provide better image?

[2021-01-31 14:32] nlok5923 commented on #210
@annabauza   Shall I create a pr for it considering standard code format needed for react native project.

[2021-01-31 14:44] annabauza commented on #210
I think you are assigned to other issue atm. @nlok5923

[2021-01-31 15:16] annabauza commented on #174
I'm releasing this issue to the public due to no response.

[2021-01-31 19:53] Rahulm2310 commented on #198
@annabauza @isabelcosta Should we use something like [Imgbot](https://imgbot.net/).
Actually, there are not much image compression libraries for frontend. Most of them are for server side. Ex: [imagemin](https://www.npmjs.com/package/imagemin). Or, if you guys have a suggestions, please share your views

[2021-02-01 06:09] prathameshbhalekar commented on #211
I'm new here, can i work on it?

[2021-02-01 07:14] sanjay270899 commented on #174
@annabauza I have implemented Responsive NavBar in my local machine for this project. Should I send PR?

[2021-02-01 10:52] shades-7 commented on #199
@annabauza can I work on it?

[2021-02-01 10:53] shades-7 commented on #213
@annabauza if image provided I can fix this

[2021-02-01 10:54] shades-7 commented on #165
Can I work on this?

[2021-02-01 13:57] rutvi18 opened #214 "Same picture under two headers in the main page"
### Two same images used in two different headers
Under getting started and Projects same images are used and more impact to users different image should be used especially under Project header

### To Reproduce
Steps to reproduce the behavior:
1. Go to 'https://anitab-org.github.io/'
2. Scroll down to 'Getting Started'
3. See error

### If possible, provide a different image for Project header
A

[2021-02-01 16:01] atharmohammad opened #215 "Missing Key Props ISSUE"
### Missing key props
key props are not implemented in map method in components

### To Reproduce

- start the app
- press cntrl + shift + I to open console
- there are warnings due to missing key props or not having a unique key

![warnings](https://user-images.githubusercontent.com/56029409/106500530-f5438d00-64e7-11eb-8be2-447f4c6bbcbd.PNG)
###components that don't have unique key props or dont

[2021-02-01 16:11] Amulya-coder commented on #214
![image](https://user-images.githubusercontent.com/66437295/106483527-a04a4b80-64d4-11eb-8afd-9708213d8d17.png)
![image](https://user-images.githubusercontent.com/66437295/106483662-cb349f80-64d4-11eb-9b82-04eeffa56ff3.png)
@rutvi18 Add these two images also because they're present on the same page indeed, please adjust the issue and try to cover equivalent sorts of issues in one (Note: if present

[2021-02-01 17:34] nlok5923 commented on #210
@annabauza please can you add appropriate labels to this issue so that interested contributor may know about it.

[2021-02-01 17:55] nlok5923 commented on #212
@annabauza that program section shows timeline in production but showing under construction in develop branch.
![image](https://user-images.githubusercontent.com/56120084/106497942-b3651780-64e4-11eb-8012-31c40972a945.png)

[2021-02-01 18:01] sanjay270899 commented on #174
![image](https://user-images.githubusercontent.com/43892590/106498606-89602500-64e5-11eb-9dc2-8f97bc62d9b4.png)

[2021-02-01 18:04] Rahulm2310 commented on #215
@atharmohammad Please add screenshots/GIF for the issue so that it is easy for anyone to confirm what issue you are trying to raise. Also, please follow the issue pattern while reporting a new issue. Thanks 🙂

[2021-02-01 18:14] Rahulm2310 commented on #174
@sanjay270899 Please request the maintainer to assign the issue to you before starting working on it. This way both you and the community will be benifitted. Thanks 🙂

[2021-02-01 18:25] atharmohammad commented on #215
I have updated my issue ,Hope it will be easy for everyone to understand now, Tell me if you think more changes are needed ,also I have submitted a PR for this issue

[2021-02-01 19:32] sanjay270899 commented on #174
Ok Thanks @Rahulm2310.

I own how open source works. I just find this issue interesting and I solved this. Then, later I decided that let's contribute my solution. (It was not like that I have started working on this for contribution. Later I changed my mind.)

I hope you got the thing what I am trying to say. 🙂

[2021-02-02 06:34] sanjay270899 commented on #174
@annabauza @nandini45
I would Like to work on this issue. Can you assign me this issue?

[2021-02-02 16:13] aindrila2412 commented on #211
I use macOSx . Am I eligible to contribute?

[2021-02-02 16:27] annabauza commented on #211
Yours!

[2021-02-02 16:28] annabauza commented on #211
I'm working on mac os too 💪

[2021-02-02 16:43] aindrila2412 commented on #211
Then I want to contribute to this

[2021-02-02 18:21] Rahulm2310 commented on #211
@aindrila2412 Sorry, but @prathameshbhalekar was the first to claim this issue. Please have a look at some other available issues. Thanks 🙂

[2021-02-03 17:15] sagar-barapatre commented on #215
@atharmohammad Hey! I suggest you to wait until a maintainer confirms and assigns the issue to you before creating a pull request.

[2021-02-03 18:24] sagar-barapatre opened #219 "Feature : Fetch Latest Tweets from Anitab-org"
### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]What I was thinking is that may be we can fetch and embed the latest tweets from the official twitter account of Anitab-org.

### Describe the solution and the alternatives you've considered
![Screenshot 2021-02-03 at 11 44 43 PM](https://us

[2021-02-03 19:19] annabauza commented on #215
approved

[2021-02-03 19:20] annabauza commented on #219
@anitab-org/design-team can we please discuss this on Design Session.

[2021-02-03 19:21] annabauza commented on #214
approved, good catch!

[2021-02-03 19:23] annabauza commented on #213
@shades-7 thank you I know, we need to wait for @anitab-org/design-team :)

[2021-02-03 19:25] annabauza commented on #212
production is not used anymore. I think it has been merged to develop. have you fetched from upstream?

[2021-02-03 19:41] annabauza commented on #174
@sanjay270899 I need to close that issue as other contributor is moving navigation to react js

[2021-02-03 19:41] #174 closed

[2021-02-04 01:34] atharmohammad commented on #215
can you assigne thi issue to me  ?

[2021-02-04 02:33] nlok5923 commented on #212
Sorry @annabauza  i forgot to fetched from upstream now it's fine

[2021-02-04 09:43] rutvi18 commented on #214
@annabauza I am already working on it, can you please the issue to me?

[2021-02-04 19:29] annabauza commented on #214
Yes @rutvi18, yours, but you shouldn't start before assigned

[2021-02-05 19:01] Rahulm2310 opened #223 "Bug: Non-responsive program timeline on small screen sizes"
### Describe the bug
The program timeline under the Programs tab is not responsive on small screen sizes.

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://anitab-org.github.io/
2. Click on Programs
3. Shrink down your screen size
4. See overlapping timeline

### Expected behavior
Program timeline should be responsive on all screen sizes.

### Screenshots
![program-timeline-non-r

[2021-02-05 19:29] #199 closed

[2021-02-05 19:30] #212 closed

[2021-02-05 19:37] chinmaym07 opened #224 "Bug: Footer is held in the middle on programs tab"
### Describe the bug
Footer is held in the middle of the screen which looks bad.

### To Reproduce
Steps to reproduce the behavior:
1. Go to 'https://anitab-org.github.io/'
2. Click on 'Programs'
3. See the footer

### Expected behavior

Footer on programs tab should be at the bottom & style the program timeline so that the programs page doesn't look empty & bad.
### Screenshots
![Screenshot_2021-

[2021-02-05 22:06] #211 closed

[2021-02-06 03:20] prathameshbhalekar opened #225 "Change project card hover effect"
### Change project card hover effect
Currently we are transforming scale of card on hover which looks very dull. It can be changed to something like darkening the background to make it look more modern.

### To Reproduce
Steps to reproduce the behavior:
1. Go to 'https://anitab-org.github.io/'
2. Click on 'projects'
3. Scroll down to 'projects cards'
4. See error

### Expected behavior
It could be

[2021-02-06 05:06] nandini45 commented on #219
On Thu, 4 Feb 2021, 12:57 a.m. Anna Bauza, <notifications@github.com> wrote:

You are receiving this because you are on a team that was mentioned.

[2021-02-06 07:18] eternal-dreamer commented on #223
Can I work on this issue?

[2021-02-06 08:40] Rahulm2310 commented on #223
@annabauza If you think it is not a first timer issue then I would like to take this up. Thanks 😊

[2021-02-06 12:47] Srashtimittal commented on #225
@prathameshbhalekar Can I work on this issue?

[2021-02-06 12:48] Amulya-coder opened #226 "Add Medium icon in Footer"
## Description
As a user, I think there should be a Medium icon also in the footer so visitors can directly follow and see the medium blog-post of the community.

Medium Link: https://medium.com/anitab-org-open-source

## Acceptance Criteria
### Update [Required]
Add Medium Publication link

## Definition of Done
- [ ] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estima

[2021-02-06 12:49] Amulya-coder commented on #226
@annabauza what you think 🤔.

[2021-02-06 13:13] annabauza commented on #226
:100: @Amulya-coder

[2021-02-06 13:15] annabauza commented on #223
Yes. Just a reminder we migrating to react js. So maybe we should include it in the issue. Thanks.

[2021-02-06 13:15] prathameshbhalekar commented on #225
Even I'm new here but I think it needs to be approved first.

[2021-02-06 14:44] Amulya-coder commented on #225
@prathameshbhalekar Thanks for showing interest in the project. I think it's a valid feature but it's for future work currently our main focus is on the web site. Dark mode functionality is going to be implemented afterward, but you can also confirm with the mentor Thanks 😊.

[2021-02-06 17:44] prathameshbhalekar commented on #225
I didn't mean dark mode. I was referring to the hover effect of project card. Can you please tell me which part made you think I was talking about dark mode so that I can change it? Thanks in advance 👍

[2021-02-06 18:34] Rahulm2310 commented on #225
@prathameshbhalekar Although the project card scaling on hover is not smooth, still it is not an issue. For now it can be put on hold. Thanks 🙂

[2021-02-06 20:24] Rahulm2310 commented on #223
@annabauza Can you please elaborate  ?

[2021-02-06 20:42] annabauza commented on #198
I think designers should compress I'll rise this with design team.

[2021-02-07 03:14] prathameshbhalekar commented on #225
Should I close the issue?

[2021-02-07 06:41] Yunika-Bajracharya commented on #85
Hi, I would like to work on this issue. How can I get started?

[2021-02-07 06:59] nandini45 commented on #85
Actually the content is available. We have to reshape it.
Some minor fixes are there.
If u want i can assign you the issue

On Sun, 7 Feb 2021, 12:11 p.m. Yunika Bajracharya, <notifications@github.com>
wrote:

[2021-02-07 11:46] Yunika-Bajracharya commented on #85
Thank you, I would like to work on this. This is my first open-source contribution. Can you guide me on how it should be reshaped?

[2021-02-07 12:57] annabauza commented on #223
We currently using react native and desition was made to migrate to react js. @Shruti3004 is migrating first navigation and then home page

[2021-02-07 14:07] annabauza commented on #225
this is up for design team to discuss. This kind of issues should've been risen on design session first.

[2021-02-07 14:13] annabauza commented on #215
yes it can @atharmohammad , yours :)

[2021-02-07 14:19] annabauza commented on #109
@tichnas I release this issue due to lack of respond.

[2021-02-07 14:23] annabauza commented on #67
@tichnas I release this issue due to lack of response.

[2021-02-07 14:26] #123 closed

[2021-02-07 14:27] #215 closed

[2021-02-07 16:41] Rahulm2310 commented on #198
@annabauza yes definitely they can, but I think we need a long term solution which could compress all images we add to the website in future.

[2021-02-07 16:47] Rahulm2310 commented on #223
@annabauza  So, you mean this will be covered in the migration process?

[2021-02-07 19:19] annabauza commented on #223
You should include migration as requirement.

[2021-02-07 19:21] annabauza commented on #198
I understand your thinking here, but quality needs to be approved by human designer eye. This is why it's designer responsibility.

[2021-02-08 00:30] #225 closed

[2021-02-08 01:57] prathameshbhalekar commented on #224
Can I work on it?

[2021-02-08 08:15] annabauza commented on #224
There is another issue of footer i think, can we double check it?

[2021-02-08 16:32] Rahulm2310 opened #228 "Bug: Add STEM diverse tv cms to projects list"
### Describe the bug
Although [stem-diverse-tv-cms](https://github.com/anitab-org/stem-diverse-tv-cms) is actively developed, still it is not listed in the projects list

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://anitab-org.github.io/
2. Click on Projects
3. Scroll down

### Expected behavior
[stem-diverse-tv-cms](https://github.com/anitab-org/stem-diverse-tv-cms) should a

[2021-02-08 16:33] Rahulm2310 commented on #228
@annabauza Can you please confirm/approve this issue. Thanks 🙂

[2021-02-08 16:45] annabauza commented on #228
Yes approved, thank you @Rahulm2310

[2021-02-08 17:16] prachi237 commented on #109
@annabauza ma'am so basically we need to code the front-end of the home page right, like the design that have been proposed above

[2021-02-08 17:36] Vishal-raj-1 commented on #224
@annabauza Yes there is one issue related to footer. But #165 is about the design of the footer means they want to create a whole new page for contact section. But this issue is related to the placement of the footer as mentioned by @chinmaym07 . I think we can place footer in bottom, it has nothing to do with footer design.

@chinmaym07 If you want to place footer at the bottom of the page then I

[2021-02-08 17:37] Rahulm2310 commented on #228
@annabauza Can I work on it or should I leave it for a new comer

[2021-02-08 17:52] chinmaym07 commented on #224
Yes . I was also thinking to do that . that's why I have added above 'to style the program timeline'  .It will look better as compared to one that we have write now. Thanks @Vishal-raj-1 . If it's a valid issue .please assign it to @prathameshbhalekar as he want to work on this issue. 👍🏻

[2021-02-08 19:22] Amulya-coder commented on #226
@annabauza can you please add the tags and make it available for newcomers. Thanks🙂.

[2021-02-09 04:36] prathameshbhalekar commented on #224
Thanks @chinmaym07

[2021-02-10 08:35] prathameshbhalekar commented on #224
Should I start working on it? It's not assigned to me yet.

[2021-02-11 17:43] shades-7 commented on #226
hey if it's still open can I work on it?

[2021-02-11 18:06] Amulya-coder commented on #226
Yes @shades-7, but wait until it's get assigned to you.

[2021-02-12 03:51] prathameshbhalekar opened #230 "PR Template in CONTRIBUTING.md doesn't exist"
### Describe the bug
PR Template in CONTRIBUTING.md doesn't exist

### To Reproduce
Steps to reproduce the behavior:
1. Go to 'https://github.com/anitab-org/anitab-org.github.io/blob/develop/CONTRIBUTING.md'
2. Scroll down to 'Contributing Guidelines'
3. Click on 'this template '
4. See error

### Expected behavior
Should direct to PR template

### Screenshots
If applicable, add screenshots to hel

[2021-02-12 16:48] pranay-simejia opened #231 "NavBar not responsive on mobile devices"
### Describe the bug
Unresponsive navbar and list items (contribute) in  the bar requires more margin.

### Expected behavior
A button which toggles a sidebar should appear in small screen devices.

### Screenshots
![image](https://user-images.githubusercontent.com/70064696/107796471-e4183d00-6d7f-11eb-949a-e9f679e45fd8.png)

[2021-02-12 16:48] pranay-simejia commented on #231
Would you like me to work on this issue?

[2021-02-12 18:21] #224 closed

[2021-02-13 00:43] Rahulm2310 commented on #231
@pranay-simejia Thanks for showing interest but there already existed a issue (#174) which was closed as we are migrating to `react.js`.

[2021-02-13 00:51] Rahulm2310 commented on #230
@prathameshbhalekar yes, it is a valid issue. `this template` should be linked to https://github.com/anitab-org/anitab-org.github.io/blob/develop/.github/PULL_REQUEST_TEMPLATE.md.
@annabauza This can be a good first timers only issue. Thanks 🙂

[2021-02-13 13:10] ayan-biswas0412 commented on #230
@Rahulm2310 @prathameshbhalekar @annabauza is anyone working in this issue ? if not then I can solve this issue

[2021-02-13 16:48] Rahulm2310 commented on #230
@ayan-biswas0412 Sure you can but please wait for a maintainer to confirm/approve this issue and assign it to you. 🙂

[2021-02-13 17:03] nandini45 commented on #210
@nlok5923  i will make it a beginners issue.
 and i think edit the issue description as per the community instructions.

[2021-02-13 17:58] ayan-biswas0412 commented on #230
@isabelcosta is this issue valid and workable for me ?

[2021-02-14 13:52] nandini45 commented on #231
@Rahulm2310  thanks for the clarification.
@pranay-simejia  thanks for bringing it up again. i will close this issue for now.
 feel free to look at other available issues

[2021-02-14 13:54] #231 closed

[2021-02-14 13:56] nandini45 commented on #230
@prathameshbhalekar do u want to work on it or i can assign it to other contributors?

[2021-02-14 13:57] nandini45 commented on #228
@Rahulm2310  probably a 1st timer issue.
you can look for other issues.

[2021-02-14 16:51] nandini45 commented on #42
@annabauza  can you help him out here?
this is pending from a long time?

[2021-02-15 04:14] prathameshbhalekar commented on #230
No, i don't want to work on it.

[2021-02-15 04:27] nandini45 commented on #230
@ayan-biswas0412  do u wan to work on it?

[2021-02-15 04:36] prathameshbhalekar opened #232 "Bug : Events page not loading properly on firefox browser"
### Describe the bug
The events page is not loading properly on firefox browser.  It works fine some times but most of the times it is buggy. I tried the same on chrome and edge but its fine.

### To Reproduce
Steps to reproduce the behavior:
1. Go to 'https://anitab-org.github.io' in firefox
2. Click on 'events'
3. See error

### Expected behavior
same as chrome.

### Screenshots
![image](https:/

[2021-02-15 04:47] nandini45 commented on #226
@shades-7 I have assigned you the issue. Give us the update within three days ..

[2021-02-15 04:56] nandini45 commented on #219
@annabauza sure. I like the idea too but not now. A lot of work needs to be done still on what we have

[2021-02-15 04:57] nandini45 commented on #214
@rutvi18  can u give us the updates about your work??

[2021-02-15 04:59] nandini45 commented on #198
@Rahulm2310  Can u tell us your progress about this issue??

[2021-02-15 07:11] ayan-biswas0412 commented on #230
Yes I want to

[2021-02-15 07:13] rutvi18 commented on #214
@nandini45 I am waiting for the review of my PR (#227)

[2021-02-15 07:46] KhushalAbrol commented on #228
I am new to open source can I do it, please?

[2021-02-15 17:29] Rahulm2310 commented on #228
@KhushalAbrol Of course you can, just wait for a maintainer to assign you the issue before starting on the fix. Thanks 🙂

[2021-02-15 17:45] Rahulm2310 commented on #232
@prathameshbhalekar I tried zooming in and after zooming out again, the page is rendered correctly. Seems to be an issue with mozilla I guess. It is working perfectly on Microsoft Edge as well.

[2021-02-15 17:48] prathameshbhalekar commented on #232
Should I close the issue?

[2021-02-15 17:52] Rahulm2310 commented on #198
@nandini45 I thought the design team will handle this issue. If we need manual optimization, I can do it within 1 hr and create a PR. Shall I ?

[2021-02-15 17:59] Rahulm2310 commented on #232
@prathameshbhalekar The issue persist when we first open the website on firefox. After zooming in/out, the page renders perfectly. I saw a few issues raised by devs using [firefox.](https://stackoverflow.com/questions/31349524/firefox-css-not-loading).

[2021-02-15 18:04] #232 closed

[2021-02-16 07:26] shades-7 commented on #226
@nandini45 ok

[2021-02-16 09:31] shades-7 commented on #226
@nandini45 i have send a PR, please review it.

[2021-02-16 09:39] shades-7 commented on #110
@nandini45  hey is this issue still open, can I work on this?

[2021-02-16 09:39] shades-7 commented on #110
@nandini45  hey is this issue still open, can I work on this?

[2021-02-16 09:51] shades-7 opened #234 "Event page need to align properly"
### Describe the bug
I believe the event section should be aligned properly

### To Reproduce
Steps to reproduce the behavior:
1. Go to ' Events tab in navbar'
2. Scroll down to 'events'

### Expected behavior
There should be proper alignment.

### Screenshots
![Screenshot from 2021-02-16 15-15-07](https://user-images.githubusercontent.com/58786336/108045922-048b1480-706a-11eb-8602-50f9532d752e.pn

[2021-02-16 13:45] shades-7 commented on #223
@Rahulm2310 may i work on this?

[2021-02-16 17:40] prathameshbhalekar commented on #234
Can i work on it?

[2021-02-16 17:41] prathameshbhalekar commented on #234
Can I work on it if approved?

[2021-02-16 17:44] shades-7 commented on #234
@prathameshbhalekar wait till it is approved as an issue and i have begun the work on it.

[2021-02-16 18:29] Rahulm2310 commented on #234
@shades-7 Please wait for a maintainer's approval. There are ample opportunities to contribute. 🙂

[2021-02-16 18:38] shades-7 commented on #234
@Rahulm2310 okay sure, should I recreate the issue in the required form?

[2021-02-16 21:23] nandini45 commented on #234
@shades-7  yes please
 i will assign u the work

[2021-02-16 21:31] annabauza commented on #42
Closing because we move to react js

[2021-02-16 21:31] #42 closed

[2021-02-16 21:32] nandini45 commented on #42
@annabauza  ok .
thank you

[2021-02-16 21:32] nandini45 commented on #42
@Bucky25  thank you for your work. As Anna mentioned we are closing this issue.

[2021-02-16 21:50] nandini45 commented on #110
@shades-7 i dont know the current status of the issue. i will get back to you
and i think you have a issue already in hand  complete that
after that i can assign you this one.

[2021-02-16 21:53] nandini45 commented on #192
@zyberg2091  @Amulya-coder  can you mention the link to your Pull request
 if not there i will unassign you from the work

[2021-02-16 22:04] nandini45 commented on #210
@nlok5923  ???

[2021-02-16 22:19] nandini45 commented on #228
@KhushalAbrol  i can assign you the work but the work is a bit much
can you do it, if yes i can assign u.
![image](https://user-images.githubusercontent.com/62046625/108128582-f6bda980-70d2-11eb-947c-7ab79d105af9.png)

[2021-02-17 02:49] nlok5923 commented on #210
@nandini45 extremely sorry for late response i had edited the issue description please review it.

[2021-02-17 03:06] KhushalAbrol commented on #228
@nandini45 There is no card on the website yet. I thought I just have to add "stem-diverse-tv-cms" to the list of projects which I can do. But making these cards is bit much for me. I because never did this before. So I will not be able to do this.

[2021-02-17 08:47] ishitakeshawani commented on #228
@nandini45 I can make a card for stem-diverse-tv-cms. Can you assign me this issue?

[2021-02-17 09:07] keshakaneria commented on #228
Go for it

[2021-02-17 10:54] ishitakeshawani commented on #228
@keshakaneria Can you please review #236?

[2021-02-18 19:43] Rahulm2310 commented on #234
@nandini45 I think @shades-7 is already assigned to #226 . We should not assign multiple issues to a contributor.

[2021-02-19 18:20] Rahulm2310 opened #237 "Feat: Short the text in events cards and add a new page to display full details"
### Is your feature request related to a problem? Please describe.
Currently, full text is displayed in the event cards.
![anitab-events-card-issue](https://user-images.githubusercontent.com/54268438/108544569-a9c51780-730c-11eb-85e6-1431551497f0.gif)

### Describe the solution you'd like
We should shorten the text in the events cards, add a `Read more` button in the card and add a new event detai

[2021-02-19 18:21] Rahulm2310 commented on #237
@annabauza @nandini45 What do you guys think?

[2021-02-19 20:51] isabelcosta opened #238 "Add "Intro to Open Source" event to Events page"
## Description

As a newcomer,
I need see all the community events,
so that I can learn more about the community history and contributions to the community.

Event page: https://community.anitab.org/event/intro-to-open-source/
**Need image shared on social media** 🤔

## Acceptance Criteria
### Update [Required]
- [ ] Add "Intro to Open Source" event to Events page

## Definition of Done
- [ ] All

[2021-02-20 06:10] Debanitrkl commented on #238
@isabelcosta can I work on this?

[2021-02-20 17:12] nandini45 commented on #237
agreed @Rahulm2310  and also we may need to shorten the content its way too long

[2021-02-20 17:19] Rahulm2310 commented on #237
@annabauza @nandini45 If approved, I would like take this up.

[2021-02-21 08:03] Samyu982000 commented on #238
@isabelcosta can I work on the issue.

[2021-02-22 04:15] iamkryptonite commented on #67
Is this issue still available? I would like to give it a try .

[2021-02-22 12:35] shruti1421 commented on #230
If no one is working in this issue, can I take this up?

[2021-02-22 12:37] ayan-biswas0412 commented on #230
@shruti1421 I am not working in this , wait for a maintainer to assign you

[2021-02-22 12:42] shruti1421 commented on #122
If no one is working on this issue, can I try?

[2021-02-22 15:47] nandini45 commented on #122
Sure smiriti

On Mon, 22 Feb 2021, 6:12 p.m. Smriti Naik, <notifications@github.com>
wrote:

[2021-02-22 17:02] Rahulm2310 commented on #230
@shruti1421 You can surely fix it if you have not contributed to this project in the past as it is a `First Timers only` issue.

Cc: @nandini45 @isabelcosta

[2021-02-23 12:28] im-sakshijain commented on #230
Hi! I'm new to this community, really want to contribute. May I fix this issue?

[2021-02-23 13:29] Amulya-coder commented on #230
Hi, @im-sakshijain Welcome to the community 🎉🎉 as @shruti1421 was the first to claim it this get assigned to him. Feel free to look at other available issues. Thanks 🙂

[2021-02-23 13:37] shruti1421 commented on #230
@isabelcosta could you please assign this to me after that I'll start working on it.

[2021-02-23 15:35] im-sakshijain commented on #230
@Amulya-coder Thank you, I'll look at other available issues.

[2021-02-23 15:43] nandini45 commented on #238
@Samyu982000  it think someone is already working on it.
u can look for probably other issues

[2021-02-23 15:44] nandini45 commented on #238
@Debanitrkl can you give us update of your work?

[2021-02-23 15:49] nandini45 commented on #237
@Rahulm2310  i think i misread the solution firstly.
please do as needed
thanks for the work

[2021-02-23 15:51] nandini45 commented on #234
@Rahulm2310  thanks for telling
@shades-7  u can work on only one issue at a time. after completing the 226 issue
i can issue you afterwards

[2021-02-23 15:57] nandini45 commented on #230
@shruti1421  i will assign you the issue.
please give us update after 3 days

[2021-02-23 15:58] nandini45 commented on #210
@nlok5923 no issue .
 are u working on it? or i can make it available for newcomers?

[2021-02-23 16:00] nandini45 commented on #122
@shruti1421 i think i assigned you one issue already.
after probably making the PR of that issue i can assign you this issue

[2021-02-23 16:02] nlok5923 commented on #210
Yea @nandini45  I am working on it.

[2021-02-23 16:02] nandini45 commented on #109
@prachi237 the design has been finalized . you just have to code it.
if you can i will assign you the issue

[2021-02-23 16:05] nandini45 commented on #67
sure @iamkryptonite  i will assign you the issue

[2021-02-23 16:07] nandini45 commented on #85
@Yunika-Bajracharya  do u want  work on it?

[2021-02-23 16:14] Debanitrkl commented on #238
@nandini45 I was having difficulty in setting it up in my local system, now it's done will finish it in few hours

[2021-02-24 01:17] Yunika-Bajracharya commented on #85
@nandini45 yes, I would like to work on this.

[2021-02-24 04:34] iamkryptonite commented on #67
Hey @nandini45 I have a few questions:
1. Since we are only showing the 'first timer issues' is the 'label' heading in the table required?
2. What happens when I click on one of the issues?

[2021-02-24 06:24] iamkryptonite commented on #67
3. Also the table headings have arrows which I guess are dropdowns. Do they work exactly like the ones shown in Github? Like for example if we click on sort and select an option from the drop-down does it sort the list of first time issues accordingly?

[2021-02-24 08:39] mtochi commented on #234
Can I work on this?

[2021-02-24 18:28] Rahulm2310 opened #242 "Delete .github/ISSUE_TEMPLATE folder"
## Description
As a org contributor,
We need to maintain 1 version of issue templates used in the organization,
so that we can avoid duplicating work and having different versions of the templates, when we want to use the same ones across all projects.

Because the issue templates are now on [https://github.com/anitab-org/.github](https://github.com/anitab-org/.github), we don't need to have issue

[2021-02-24 18:29] Rahulm2310 commented on #242
@nandini45 Could you please add labels to it. It can be a good first timers only issue. Thanks 🙂

[2021-02-25 06:12] Vishal-raj-1 opened #243 "Proper Alignment of Events in Events Page"
### Describe the bug
Currently it show only two events in one row, extra white spaces are there.

### To Reproduce
Steps to reproduce the behavior:
1. GO to Event Page of the Website. You will see
![events](https://user-images.githubusercontent.com/59874304/109111061-400a9a80-775e-11eb-8706-68002a6f3c15.JPG)

### Expected behavior
It should have three events in one row.

### Desktop (please comple

[2021-02-25 11:13] tosimiadesoye commented on #243
May I work on this?

[2021-02-25 12:52] prachi237 commented on #109
@nandini45  yes ma'am I would like to work on it, but can u plz send be the UI details and tech stacks to be used

[2021-02-25 13:03] nandini45 commented on #109
@prachi237  no ma'am please just nandini.
tech stack is angular JS
ui details see this our home page here a small section is not there
 you have to develop that only
![image](https://user-images.githubusercontent.com/62046625/109157221-c1325380-7797-11eb-8526-5af11b63b361.png)

this is what you have to add
![image](https://user-images.githubusercontent.com/62046625/109157298-d9a26e00-7797-11eb-948

[2021-02-25 13:07] nandini45 commented on #243
@Vishal-raj-1  the issue is already there
@tosimiadesoye  you can look for other issues probably
this is a duplicate issue
there are lot many issues on which you can  work

[2021-02-25 13:07] #243 closed

[2021-02-25 13:08] nandini45 commented on #234
sure @mtochi

[2021-02-25 14:02] vj-codes commented on #109
@nandini45 I think it's react js not angular js for tech stack , do confirm .

[2021-02-25 14:25] Aaishpra commented on #109
@nandini45 @vj-codes actually react native is used  here😉 i am sure of it

[2021-02-25 14:38] vj-codes commented on #109
@Aaishpra yes earlier we used native now we are moving to react js
(check comment by Anna [here](https://github.com/anitab-org/anitab-org.github.io/issues/42#issuecomment-780130118) )

[2021-02-25 14:39] Aaishpra commented on #109
Ohh really thanks for informing @vj-codes

[2021-02-25 17:23] nandini45 commented on #109
I am so sorry my mistake got a but confused

On Thu, 25 Feb 2021, 8:09 p.m. Shipra Verma, <notifications@github.com>
wrote:

[2021-02-26 17:52] im-sakshijain commented on #242
Hi! I want to work on this issue, please assign this issue to me.
Thanks!

[2021-02-26 19:16] Rahulm2310 commented on #237
@nandini45 I have tried to tackle this. Here are my changes. Please share your thoughts on this.
![anitab-events-fix](https://user-images.githubusercontent.com/54268438/109344664-0a1c0200-7895-11eb-864a-b8572efc9cdb.gif)

[2021-02-27 13:37] nandini45 commented on #234
@mtochi  are u working on it?

[2021-02-27 17:46] Rahulm2310 commented on #242
@im-sakshijain Also, please update the links to this file wherever it is required so that we don't get a `404 Page Not Found`.

[2021-02-27 19:54] nandini45 commented on #237
great work
just one question have you changed the corner edges
if yes i think not all the corner have being changed, the size of the corner edges should be same for all edges
![image](https://user-images.githubusercontent.com/62046625/109398517-736a4680-7963-11eb-83a3-e25d5b9d961c.png)

[2021-02-27 19:57] Rahulm2310 commented on #237
@nandini45 I have not changed the edges. It is also there in the live project as well.
![image](https://user-images.githubusercontent.com/54268438/109398610-00ad9b00-7964-11eb-876d-d01a3d6c26e8.png)
This is a screenshot from the live project.

[2021-02-27 20:01] nandini45 commented on #237
ok @Rahulm2310
you want to create a issue of it
if yes go ahead. it can be quite an easy 1st timer issue if you want
and for your work
its perfect please create a PR

[2021-02-27 20:02] Rahulm2310 commented on #237
Sure. Thanks @nandini45 .

[2021-02-27 20:26] nandini45 commented on #67
@iamkryptonite
1.it was used only for searching any specific category of work. for example- all will be 1st timer issue along with it the category will be coding specific.
although if you want to ,you can remove it .
2.it will redirect the user to that issue.
3.instead of making several dropdown . like labels milestone etc.
just go for one i.e. assignee one to show that it is taken or not

but now

[2021-02-28 04:40] iamkryptonite commented on #67
@nandini45 The issues will be dynamically generated from the github api itself and will get updated automatically. We don't need to add issues every time a new issue is created.

[2021-02-28 12:54] Vishal-raj-1 commented on #243
@nandini45 Is this same ? In that issue it was mentioned to align the paragraph and image. But in this issue It is mentioned that "we should use 3 card in one row instead of 2".

[2021-03-01 04:30] iamkryptonite opened #246 "Timeline in 'Programs' page is breaking"
### Describe the bug
The timeline in 'Programs' page is not working. The marker does not show the current date at the correct place in the timeline. Instead the marker keeps looping in one place. For example if todays date is 3rd March, instead of showing it in the appropriate place in the timeline it will be shown in '3rd January' .

### To Reproduce
Steps to reproduce the behavior:
1. Run the lo

[2021-03-01 06:19] prathameshbhalekar commented on #246
Can I work on it if approved?

[2021-03-01 06:36] iamkryptonite commented on #246
Sure, just wait for it to be approved. Meanwhile you can go through pr #150 because this issue is related to it.

[2021-03-01 16:41] mtochi commented on #234
@nandini45 Hey, yes sorry I haven't checked my github the last 3 days.

[2021-03-01 20:02] im-sakshijain commented on #242
@Rahulm2310 Sure!!

[2021-03-04 06:27] PrernaSingh587 commented on #238
Is this issue up for grabs?

[2021-03-04 06:34] keshakaneria commented on #238
Hello @PrernaSingh587 this is issue is taken by @Debanitrkl. But dont worry you can have a look at other issues which are unassigned and start working on them once assigned to you. [Let us know](https://anitab-org.zulipchat.com/#) if you are stuck anywhere 😄

[2021-03-04 09:55] mtochi commented on #234
@nandini45 I have been trying to set up the environment but I am running on some issues with Mac OS M1 chip, in case someone else will be interested please assign it to them, in the meantime I will continue to set up the environment.

[2021-03-04 22:05] isabelcosta commented on #238
@Debanitrkl do you need help with the setup still?

[2021-03-05 02:32] Ankita297 commented on #108
Can i work on this ?
Can you Please elaborate the issue ?

[2021-03-05 07:16] Aayush-hub commented on #214
@annabauza Can I work on this, if still not solved?

[2021-03-05 07:18] Aayush-hub commented on #108
@nandini45 Can I work on this if available?

[2021-03-05 09:07] vj-codes commented on #108
@nandini45 @annabauza hey I don't see the lorem ipsum part on the main website , I understand we can't display it but as it was decided to put an intro under AnitaB Open Source , is this issue valid or do we just have to keep it as a title without intro?
Also what happened to the zulip, github and medium icons can't see them anywhere as well 👀

[2021-03-05 14:02] nandini45 commented on #246
@iamkryptonite  yeah i will approve this issue.
@prathameshbhalekar  do u want to work on it?

[2021-03-05 14:08] prathameshbhalekar commented on #246
Yeah but my exams are going on right now so I'll need a week to work on it.

[2021-03-05 14:12] nandini45 commented on #246
@prathameshbhalekar  i will assign you it but it will be still available.
 if anyone comes and ask for the work i will assign that person
if after a week still no one works on it
you can work it

[2021-03-05 17:55] nlok5923 commented on #246
@nandini45 can i take this issue.

[2021-03-05 19:51] nandini45 commented on #246
@nlok5923  ok

[2021-03-06 03:39] iamkryptonite commented on #246
@nlok5923 I have updated the issue with what the 'timeline' should look like. What you need to do is adjust the positions according to the current date and month. If you need any help please ask.

[2021-03-06 03:51] nlok5923 commented on #246
thanks @iamkryptonite working on it.

[2021-03-06 04:18] shruti1421 commented on #246
Can I try this issue?

[2021-03-06 04:29] PriyaPal-tech commented on #234
Hi! I would like to work on this issue.
Thanks!

[2021-03-06 06:36] keshakaneria commented on #234
Assigned! :)

[2021-03-07 11:58] Vivek-Hotti commented on #108
Is this issue still up for grabs? If yes, I think I am willing to work on this!

[2021-03-07 18:45] isabelcosta commented on #238
Here's the image you can use for the event https://twitter.com/KediaRasika/status/1261001532738138112/photo/1

[2021-03-07 18:53] isabelcosta commented on #238
@Debanitrkl will unassign due to our rule of 3 days unresponsiveness.

[2021-03-07 19:14] Rahulm2310 commented on #228
@nandini45 @keshakaneria  There is no response from @ishitakeshawani on #239. Also, the PR needs to be closed as it is raised from `develop` branch. I think this should be made available again. If yes, I would like to fix this quickly.

[2021-03-07 19:35] keshakaneria commented on #228
Go ahead! 👍

[2021-03-08 02:59] prathameshbhalekar opened #251 "Bug : Programs Page buttons not designed properly"
### Describe the bug
The icons and text are not aligned properly and the text is not clickable.

### To Reproduce
1. Go to 'https://anitab-org.github.io/'
2. Click on 'programs tab'
3. See error

### Expected behavior
The icon and text should be aligned. The text and icon can be clickable instead of only icon.

### Screenshots
![image](https://user-images.githubusercontent.com/33856767/110268526-c

[2021-03-08 04:21] nlok5923 opened #252 "feat: show contributor username on hover on contributor's github profile image"
### Is your feature request related to a problem? Please describe.
I think it would be good to provide an small hover effect like a UI popup once any user hovers on contributor's github profile pic at project information card
![image](https://user-images.githubusercontent.com/56120084/110274005-dad36680-7ff3-11eb-854d-da949eb7aa40.png)

### Describe the solution you'd like
Is ti bring a Uipopup co

[2021-03-08 12:42] nandini45 commented on #252
@annabauza i think its a good suggestion.
if you approve it
i can assign him the work

[2021-03-08 12:45] nandini45 commented on #214
@Aayush-hub  the work is done here. some other form of work is pending here.
you can look for other issues

[2021-03-08 12:46] nandini45 commented on #109
@prachi237  are you working on it?
if not i will un-assign  you

[2021-03-08 16:39] The-Keshav-Agarwal commented on #238
@isabelcosta I would like to work on this issue.

[2021-03-08 20:34] Rahulm2310 commented on #246
@keshakaneria Can you please remove the `Available` label here and other issues wherever a contributor is assigned so that it isn't misleading for contributors.

[2021-03-09 03:21] The-Keshav-Agarwal commented on #238
@isabelcosta can you please tell me what should I write in par.
either i have to just copy paste all these point which is in the below image or i have to write it by my own?
![image](https://user-images.githubusercontent.com/56120769/110413727-63b1d700-80b4-11eb-9359-f3dabac47ced.png)

[2021-03-09 04:06] HeroicHitesh commented on #85
@nandini45 @annabauza I think this issue can be closed now as the `lorem ipsum ...` text is replaced by some content on the Projects page.
<img width="1440" alt="Screenshot 2021-03-09 at 9 36 06 AM" src="https://user-images.githubusercontent.com/37622734/110417065-e2117780-80ba-11eb-9213-7540df861ea6.png">

[2021-03-09 08:22] HeroicHitesh opened #255 "Update Prerequisites from React-Native to ReactJS"
### Describe the bug
Update Prerequisites from React-Native to ReactJS

### To Reproduce
Steps to reproduce the behavior:
1. Go to 'https://github.com/anitab-org/anitab-org.github.io#prerequisites'
2. See Prerequisites

### Expected behavior
Prerequisites should have ReactJS in place of React-Native

### Additional context
@annabauza 's [Comment](https://github.com/anitab-org/anitab-org.github.io/

[2021-03-09 17:12] Rahulm2310 opened #256 "[Bug]: CONTRIBUTING.md is present at two locations in the repo"
### Describe the bug
CONTRIBUTING.md file is present at root as well as under the `docs` folder.

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://github.com/anitab-org/anitab-org.github.io
2. See error

### Expected behavior
One of them should be removed. (Ideally the one present at root must be removed as it is not referenced from anywhere)

### Desktop (please complete the fol

[2021-03-09 17:13] Rahulm2310 commented on #256
@keshakaneria @nandini45 Please add `First Timers only` label.

[2021-03-09 17:20] keshakaneria commented on #256
Thanks to notice this duplication! Sure adding the label.

[2021-03-09 18:01] im-sakshijain commented on #256
Hi! May I work on this issue ?

[2021-03-09 18:06] keshakaneria commented on #256
Sure, go ahead 😄

[2021-03-09 18:43] keshakaneria commented on #256
Her previous PR was ready to merge so thought of assigning her. But yes I'm sorry @im-sakshijain, new contributors should solve this so that they get a pinch of motivation to contribute in Open source. In the mean time you can look forward to new issues which aren't first timers 😄

[2021-03-10 02:38] prathameshbhalekar commented on #251
@Rahulm2310  @nandini45  what do you think?

[2021-03-10 21:46] isabelcosta commented on #238
@The-Keshav-Agarwal you can copy-paste, and then on code reviewing your pull request we can suggest changes if necessary :) thank you for checking in :)

[2021-03-12 03:54] shades-7 opened #260 "Open the footer social link in new tab"
### Describe the bug
Right now the link of social icons opens in the same tab, it will be better if it opens in another tab so that the user won't get redirected from the main website.

### To Reproduce
Steps to reproduce the behavior:
1. Go to 'https://anitab-org.github.io/'
2. Scroll down to 'footer'
3. Click on 'any of the social icon'
4. See error 'as it opens in the same tab'

### Expected be

[2021-03-12 05:21] Chelsi-create commented on #256
Hii!
May I work on this issue?

[2021-03-12 05:51] keshakaneria commented on #256
Sure go ahead!

[2021-03-12 09:59] Chelsi-create commented on #256
@keshakaneria  I've raised a PR, please review it!

[2021-03-15 00:13] mtreacy002 opened #262 "Bug: Mismatch dates for OSH period under Rules and Timeline | URGENT"
### Describe the bug
The OSH periods stated under Rules and Timelines sections are different. Under Rules it's 1-31 Sep, under Timelines it's 1-30 April.

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://anitab-org.github.io/events/open-source-hack/
2. Scroll down to Rules and check dates
3. Scroll down to Timeline and check dates
4. Notice the different OSH periods

### Expected

[2021-03-15 00:14] mtreacy002 commented on #262
Labelling this `First-timers only` issue

[2021-03-15 06:52] annabauza commented on #262
Approved need to be fixed ASAP

[2021-03-15 07:49] mtreacy002 commented on #262
Making it available for others to pickup as I have made my first contribution through PR #138 😉

[2021-03-15 11:08] jalajcodes commented on #262
Are these dates supposed to overlap?
![image](https://user-images.githubusercontent.com/17108695/111140334-3bd8dc80-85a8-11eb-9757-b5f6e7ec9aca.png)

[2021-03-15 16:32] 17sushmita commented on #262
Can I work on this issue?

[2021-03-15 16:38] devkapilbansal commented on #262
@17sushmita Assigning you :tada:

[2021-03-16 13:26] aditisingh2412 commented on #260
Hey, can I work on this issue?

[2021-03-18 03:21] prathameshbhalekar opened #263 "Bug : Replace text links with Href"
### Describe the bug
Replace text links with href in ```about us```, ```contribute``` tabs and footer

### To Reproduce
Steps to reproduce the behavior:
1. Go to 'https://anitab-org.github.io/'
3. See error

### Expected behavior
links in href instead of normal text

### Desktop (please complete the following information):
 - OS:  Windows 10
 - Browser Firefox
 - Version 85.0.1 (64-bit)

[2021-03-18 04:04] aditisingh2412 commented on #263
Hey, Can I work on this issue?

[2021-03-18 04:12] prathameshbhalekar commented on #263
Sure, just wait for approval.

[2021-03-18 04:29] aditisingh2412 commented on #263
So should I start working on this issue now or after it has been approved?

[2021-03-18 04:44] aditisingh2412 commented on #262
Can I fix this issue?

[2021-03-18 04:51] HeroicHitesh commented on #263
@aditisingh2412 You should start working after the issue is approved and you are assigned till then you can setup the project in your local machine.

[2021-03-18 05:24] HeroicHitesh commented on #262
@17sushmita Any updates on your progress?

[2021-03-18 05:27] aditisingh2412 commented on #263
Okay sure!

[2021-03-18 05:39] 17sushmita commented on #262
Sorry for the delay. I'm making the PR.

[2021-03-18 06:43] 17sushmita commented on #262
I'm not able to find this page while running the project on the local server.
Can anyone help on this.
![image](https://user-images.githubusercontent.com/42088159/111583989-3e734600-87e3-11eb-863c-b736ece6356b.png)

[2021-03-18 07:04] Ayush-projects commented on #260
Hey, can I work on this issue?

[2021-03-18 08:34] devkapilbansal commented on #262
@mtreacy002 @anitab-org/admins this issue should be in different repo.
Here is the line where it is mentioned:- 👇
https://github.com/anitab-org/events/blob/9ca09b968a9e369aef09ba2fc10cdf0468074757/open-source-hack/index.html#L187

Consider either closing this issue and opening a new one or transferring it the concerned repo

[2021-03-18 09:58] mtreacy002 commented on #262
@devkapilbansal , thanks for pointing this out and referring to the right repo. Will close it here and open a new one on the other repo as I'm not sure how to transfer it (perhaps not authorised to do it 😁). Sorry for misplacing the issue here and @17sushmita , sorry for the inconvenience 😊.

[2021-03-18 09:58] #262 closed

[2021-03-18 14:58] #85 closed

[2021-03-20 16:46] P-riyanka-prasad commented on #260
Is this still open ? can i work on this

[2021-04-02 11:11] HarshKumarChoudary commented on #122
Since I am a bit familiar with javascript and css and If this issue is available I would like to work on it.

[2021-04-02 17:10] Aayush-hub commented on #238
@isabelcosta @vj-codes @epicadk @HeroicHitesh @codesankalp @codesankalp Is AnitaB.org comming in GSoC'21, as the full timeline of the program is mentioned in Programs section in AnitaB site (https://anitab-org.github.io/) , but we can't see AnitaB on GSoC website. Can you please confirm?

[2021-04-02 17:18] isabelcosta commented on #238
@Aayush-hub no, its not participating on GSoC 2021 :) So it should be removed. cc @annabauza

[2021-04-13 15:25] darshanhande11 commented on #260
@shades-7 If no one else is working on this issue, may I work on this?

[2021-04-13 15:28] darshanhande11 commented on #251
@prathameshbhalekar I would like to work on this issue

[2021-04-13 15:48] darshanhande11 commented on #263
@prathameshbhalekar @keshakaneria If no one else is currently working on this issue, then I would like to work on this.

[2021-04-13 16:09] keshakaneria commented on #263
Yeah no one is currently assigned this issue! Go for it @darshanhande11

[2021-04-15 15:56] darshanhande11 commented on #260
@keshakaneria @nandini45 I would like to fix this. I have completed the fix, please assign me this issue, so that I can make a pull request.

[2021-04-15 16:26] keshakaneria commented on #260
Go for it!

[2021-04-19 17:53] keshakaneria commented on #251
You can go ahead to solve the issue 😄

[2021-04-19 18:29] codesankalp commented on #251
@keshakaneria @darshanhande11 is already assigned to many other issues in this repo.

[2021-04-19 18:45] darshanhande11 commented on #251
@codesankalp I have assigned to #260 (for which I have made a PR and it has been labeled ready-to-merge) and #263 (which I am trying to fix). Also, I have fixed this issue and will be making a PR shortly.

[2021-04-19 19:08] keshakaneria commented on #251
In this case you will be assigned once you create the PRs of those issues. Till that time, if no one comes to solve this issue, we may assign you again :)

[2021-04-25 16:49] #263 closed

[2021-04-25 16:51] #251 closed

[2021-04-25 16:52] #260 closed

[2021-04-25 16:52] #256 closed

[2021-05-05 17:18] #252 closed

[2021-05-05 17:18] nandini45 commented on #255
@shades-7  it is a first timer issue
available for the new comers only

[2021-05-05 17:27] nandini45 commented on #196
@Rahulm2310  the PR to the issue has been opened
can you confirm the work is complete or not?

[2021-05-05 20:18] Bucky25 commented on #80
@nandini45  pull request is under review still .

[2021-05-22 04:04] anjali481 commented on #255
Can I work on this issue?

[2021-05-22 05:14] nandini45 commented on #255
@anjali481 yeah . here i assigned it to you. make sure to submit the work update after 3 days. 😊

[2021-05-22 08:36] anjali481 commented on #255
@nandini45  please review the PR

[2021-06-14 03:58] devptyagi opened #276 "Change style of 'Today' button on Events Page."
### Description
The 'Today' button on the Events page has default styling and looks kinda ugly.

### To Reproduce
Steps to reproduce the behavior:
1. Go to 'https://anitab-org.github.io/'
2. Click on 'Events'
3. Scroll down to 'Event Calendar'
4. Have a look at the 'Today' Button

### Expected behavior
Button styling should match the page color.

### Screenshots
* Before:
![image](https://user-ima

[2021-06-15 05:03] devptyagi commented on #276
@epicadk @isabelcosta @annabauza kindly review this.

[2021-06-15 05:07] epicadk commented on #276
Since this is a UI change it needs @anitab-org/designers  approval

[2021-06-16 04:01] nandini45 commented on #276
@devptyagi  it can be changed , i approve it,
u can work on it

[2021-06-16 07:25] devptyagi commented on #276
@nandini45 Yes I wanna work on this!

[2021-06-16 09:17] devptyagi commented on #276
@nandini45 @vj-codes I just had a look into it and realized that the 'Today' button is inside the Embedded Google Calendar Iframe. We can not change the style of elements inside the iframe. 😔

[2021-06-16 10:27] nandini45 commented on #276
yes @devptyagi  there is no need to change.
and i think it looks fine to me. there is  no need for changes in the button color for now . if @vj-codes  agrees we can close this issue. you can probably look for other design issues or design changes in the site.!
![s](https://user-images.githubusercontent.com/62046625/122202821-07ccca80-cebb-11eb-9805-5e7fc025223d.jpg)

[2021-06-16 12:44] vj-codes commented on #276
Agreed 👍

[2021-06-16 12:44] #276 closed

[2021-06-16 15:54] nandini45 commented on #255
this issue has been merged

[2021-06-30 18:41] sanchibansal340 commented on #109
@nandini45 From what I understand the code has now been converted to ReactJS, right?
If yes, can I please try to work on this issue, if available?

[2021-07-02 03:21] nandini45 commented on #109
@sanchibansal340  sure, i assigned the issue to you

[2021-07-02 13:27] sanchibansal340 commented on #109
Hi @nandini45, I am done with the issue. Below are the changes that I have made, let me know the changes. From the previous PR, it looks like Lorem Ipsum text isn't accepted, any updates about the actual content?
![Screenshot (172)](https://user-images.githubusercontent.com/51092036/124281227-24c5f680-db67-11eb-9f7f-bf45605774d7.png)

[2021-07-27 18:53] #226 closed

[2021-07-27 19:27] isabelcosta opened #280 "Linking component is not being imported, which is currently breaking build (:"
## Description

So there is a little error in one of the files that is causing fail in the build. I merged the PR very recently 🤦🏾‍♀️  https://github.com/anitab-org/anitab-org.github.io/pull/247

Error 😳  https://github.com/anitab-org/anitab-org.github.io/runs/3175046196
[code]
## Acceptance Criteria
### Update [Required]
- [ ] Fix error that is breaking build

## Definition of Done
- [ ] All of t

[2021-07-28 16:47] sanchibansal340 commented on #109
@vj-codes Can you please look into this?

[2021-07-29 14:20] vj-codes commented on #109
@sanchibansal340 the intro part that I see when logging in on zulip might be good except for the last 2 lines in the screenshot below.
@isabelcosta @annabauza what say?

![Screenshot (59)](https://user-images.githubusercontent.com/60894542/127508180-e7356122-6a21-407f-b1c0-ba15cd7bf76f.png)

[2021-08-13 02:15] mimzivvimzi commented on #280
Hi @isabelcosta Is this still up for grabs?  If so, I have the fix ready.

[2021-08-14 10:37] vj-codes commented on #280
Assigning you @mimzivvimzi
Happy coding!

[2021-08-14 11:37] isabelcosta commented on #280
Go ahead and submit a pull request when you ready @mimzivvimzi 🤗

[2021-08-17 20:48] #228 closed

[2021-08-21 07:46] A-GHOSH-dev commented on #238
Can I contribute here? Please let me know

[2021-08-21 07:47] A-GHOSH-dev commented on #165
Can I work on this?

[2021-08-21 16:16] nandini45 commented on #108
yes @Vivek-Hotti  if you want i can assign it to u

[2021-08-21 16:17] nandini45 commented on #238
@A-GHOSH-dev  someone is working on it. please look for other issues

[2021-08-21 16:18] nandini45 commented on #165
@A-GHOSH-dev  it is a design issue. you have to design the structure not write the code

[2021-08-21 16:22] The-Keshav-Agarwal commented on #238
@A-GHOSH-dev I already made a pr for this, but no one has reviewed it till now.

[2021-08-21 17:29] A-GHOSH-dev commented on #238
Ohh...Please continue your work.... :) @The-Keshav-Agarwal I will look for another issue....

[2021-09-02 00:03] #280 closed

[2021-09-02 00:08] isabelcosta opened #284 "Make Install and Build step run a PR check"
## Description

As a reviewer/contributor/admin,
I need new PR check to make sure the app is building successfully,
so that I can merge PR with confidence that the code is not breaking the app.

## Mocks

Here's an example of this check for every commit: https://github.com/anitab-org/anitab-org.github.io/runs/3175046196

## Acceptance Criteria
### Update [Required]
- [ ] New pull request check for

[2021-09-12 10:23] #192 closed

[2021-09-15 20:59] #238 closed

[2021-09-19 03:57] nlok5923 commented on #284
@isabelcosta i would like to work on this issue.

[2021-09-19 16:07] #210 closed

[2021-10-08 19:05] isabelcosta opened #286 "Add link to docusaurus to each project that has it deployed"
## Description

As a contributor,
I need to see where project documentation is available,
so that I can learn more about a project.

We want to have a link to the project's docusaurus next to the project. [mentorship-android](https://github.com/anitab-org/mentorship-android) has their documentation at https://anitab-org.github.io/mentorship-android/

## Mocks

You can get this on the `Projects` pa

[2021-10-08 21:25] #234 closed

[2021-10-08 21:30] raffaelecalza commented on #284
Hi @isabelcosta can I work on this for the hacktoberfest?

[2021-10-08 21:41] isabelcosta commented on #284
@raffaelecalza of course! I will assign it to you!

[2021-10-09 08:10] raffaelecalza commented on #284
Hey @isabelcosta I opened a new PR. I tested the workflow inside my repo and it runs as expected. Let me know if I have to change something or if it's okay

[2021-10-09 20:38] vj-codes opened #288 "Remove travis.yml from the repository"
### Is your feature request related to a problem? Please describe.
Since the organization is now using Github Actions for CI/CD, we should remove travis file from the code.

### Describe the solution you'd like
Remove the file

[2021-10-09 20:39] vj-codes commented on #288
@isabelcosta what do you think about this issue?

[2021-10-09 20:41] isabelcosta commented on #288
sounds good @vj-codes ! since we are getting a GH Actions workflow in place :)

[2021-10-09 20:41] vj-codes opened #289 "Inconsistent timezones on the events page"
### Describe the bug
When I read the content on the events page, the timezones mentioned are inconsistent and different from each other, to make it more reliable and easy to read display just one timezone either UTC or EST.

### Time Required
1 hour

[2021-10-09 21:00] WizardLemon commented on #288
Hi, I'm new to contributing to open source, can I take this on?

[2021-10-09 21:21] isabelcosta commented on #288
Sure go ahead @WizardLemon :)

[2021-10-10 17:32] WizardLemon commented on #288
@isabelcosta hi, I've made a PR for this, have I used the PR template correctly?

[2021-10-10 20:46] isabelcosta commented on #288
Yes you did @WizardLemon :)

[2021-10-10 20:53] isabelcosta opened #292 "Fix tests and enable GitHub Actions job for running tests"
## Description

As a maintainer,
I need tests to be passing,
so that I can enable workflow jobs to run tests for each PR.

There is an issue #284 adding a GH Action workflow to the project, this has a step to run tests, which is now commented and it's meant to be uncommented once the tests are passing.

## Mocks
N/A

## Acceptance Criteria
### Update [Required]
- [ ] Fix tests until these pass and

[2021-10-10 20:54] #288 closed, assigned to WizardLemon

[2021-10-10 20:56] ftonato commented on #289
Hello,

Can you assign this ticket to me?

[2021-10-10 21:16] vj-codes opened #293 "Add a code linter and it's github action"
### Is your feature request related to a problem? Please describe.
Different contributors have different code styles, so when merging the code we need to make sure the code is consistent.
Like Black is a linter for python, use Prettier or Eslint in this project.

### Describe the solution you'd like
Integrate either Prettier.io (https://prettier.io/) or Eslint(https://eslint.org/), format and push

[2021-10-12 13:01] ftonato opened #294 "[Feature] Enable routers on the website"
### Is your feature request related to a problem? Please describe.

This can even be seen as a **bug** if we assume that currently if I'm on the "about us" route and try to share the link the receiver will always get the link from the "home" page.

Having the active routes would make links that could be shared seamlessly between anyone.

### Describe the solution you'd like

I would like to propos

[2021-10-12 13:21] ftonato opened #295 "[Refactor] Update our navigation bar converting all capital letters to normal text"
### Describe the situation
We are using in our navigation bar all texts as capital letters and this brings some special problems for (screen readers & search engines).

### To Reproduce
Steps to reproduce the behaviour:
1. Go to our website
2. Look for the navigation bar (check the image below)

![image](https://user-images.githubusercontent.com/5417662/136962981-26d27055-7ad1-4b60-aa45-711fa2f6de

[2021-10-12 13:22] ftonato commented on #295
I'm also available to work on this "refactor" if approved!

[2021-10-13 15:51] brittanyjoiner15 commented on #286
@isabelcosta do you think adding it [here](https://github.com/anitab-org/anitab-org.github.io/blob/develop/src/Components/Projects/ProjectCard/index.js#L25) might make sense? And would it simply be making a line to show a link and map `props.docsLink`?

Also how can you tell which projects in [content/project_content](https://github.com/anitab-org/anitab-org.github.io/blob/develop/src/content/proj

[2021-10-13 17:14] brittanyjoiner15 commented on #293
@vj-codes I was also thinking Prettier since i have more experience with it!

[2021-10-13 22:36] isabelcosta commented on #292
@WizardLemon yes, you can assume that code is alright for now :) I will assign to you!

[2021-10-13 23:08] isabelcosta commented on #286
I can assign it to you @brittanyjoiner15 :) Just so you know, as per our community guidelines, we try to have contributors one on one task at a time. I'll assign since you're now waiting for review and we haven't yet requested changes.

[2021-10-13 23:40] isabelcosta commented on #286
I wonder about putting it under GitHub and Zulip rows 🤔 (ignore the GitHub icon, we can replace it with another icon)
I also wonder about putting the description on the topic of those links, but that could be another issue :)
You have some creative freedom here :) I really appreciate your due diligence 🤓 🤗 What do you think @brittanyjoiner15 ?

![project card](https://user-images.githubusercontent

[2021-10-14 13:54] brittanyjoiner15 commented on #286
@isabelcosta i think i like this! what do you think?
![image](https://user-images.githubusercontent.com/16166290/137331542-a3e03aa0-b038-452c-bb1f-9f62142135e5.png)

[2021-10-14 19:37] brittanyjoiner15 opened #299 "Add links to contribution section"
### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Noticed on the main page when you discuss the contribution guidelines, there are no links (like to the repo, commit message guidelines, etc.) I think it could use a couple!
![image](https://user-images.githubusercontent.com/16166290/1373838

[2021-10-14 20:59] WizardLemon commented on #292
I've updated the test snapshots, the PR that fixes #284 and adds the tests has not yet been merged, do you want me to rebase on top of that once it's been merged?

[2021-10-14 23:07] isabelcosta commented on #292
@WizardLemon however you prefer, we usually use "Squash and merge" option. Would this eventually cause any issue?

Could you take a look at https://github.com/anitab-org/anitab-org.github.io/pull/287 and review it, if you feel you understand how it works? Once it has 2 approvals, I am happy to approve and then you can rebase :)

[2021-10-14 23:16] isabelcosta commented on #294
I absolutely love this collaboration between contributors 🤩 🚀 💪🏾 🤗  This is really amazing 🙌🏾

@ftonato no worries if this task is too much for you to work on at this time (thank you so much for your honesty!). I am happy to assign this to @brittanyjoiner15 , once the PRs are their way to merge.

🧐 On a related note, in this community, we really encourage people to participate in code reviews, so

[2021-10-15 00:30] brittanyjoiner15 commented on #299
If anyone needs any help feel free to ping me!

[2021-10-15 00:50] brittanyjoiner15 commented on #294
@isabelcosta wooho! Sounds great!! I'll keep an eye out and look for other PRs. Just reviewed the capital letters one you tagged me in! Will take a look at some others later! 👀

[2021-10-15 13:32] daxoron commented on #299
Hello and Regards @isabelcosta, May I get assigned to work on this issue, this is my first time contributing to open source.

[2021-10-16 15:52] vj-codes opened #301 "Add archive section to projects page"
## Description
As a contributor,
I need to keep the website updated ,
so that the information is accurate and true.Thus add archive section to the page to display archived projects like mentorship-ios and flutter, vms and portal OR remove them from projects page

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
2 hours

[2021-10-16 15:54] vj-codes commented on #301
@isabelcosta what do you think about adding a new section below the active projects and mentioning the archived projects. Removing them is also another option but I think it won't be kind of fair :/

[2021-10-16 16:41] abritpal commented on #301
Hi! @vj-codes , I would like to work on this can you assign me this issue

[2021-10-16 16:44] vj-codes commented on #301
@abritpal I'm waiting for this comment's reply and once confirmed will assign it to you :)

[2021-10-16 16:49] abritpal commented on #301
ok cool!

[2021-10-16 17:14] vj-codes commented on #299
Assigning you @daxoron
Happy coding!

[2021-10-16 17:32] daxoron commented on #299
Thank You @vj-codes, have already started working on the issue.

[2021-10-17 10:38] #284 closed

[2021-10-17 13:14] #293 closed

[2021-10-17 13:30] #286 closed

[2021-10-17 13:32] isabelcosta commented on #299
@daxoron you could include in the description of your PR, the explanation why you used HTMLReactParser. It would make it very clear and a learning opportunity for PR reviewers 🤗

[2021-10-17 14:15] isabelcosta opened #303 "Events page has overlap content"
## Description

Events page seems broken with the overlap of content. The calendar is under text, and there should not be overlap.

## Mocks

Check https://anitab-org.github.io/
This is what it looks like now.
![event calendar on top of text](https://user-images.githubusercontent.com/11148726/137631124-cb1d3feb-1b12-4552-b29c-06e61bd0461b.png)

## Acceptance Criteria

### Update [Required]

- [ ]

[2021-10-17 14:26] isabelcosta opened #304 "Move documentation files to docs folder"
## Description

This ticket is to clean up the root folder of this project. There are 2 files on the root folder that don't need to be there: `Wiki.md` and `fork.png`. These can be stored instead on `docs` folder.

## Acceptance Criteria

### Update [Required]

- [ ] Move documentation files to docs
- [ ] Make sure to refactor the places in the documentation where the image is being referred to (a

[2021-10-17 14:38] jashlodhavia commented on #304
Can i be assigned this?

[2021-10-17 15:19] isabelcosta commented on #303
It's yours @arisaokasaka now 🤗

[2021-10-17 17:16] #292 closed

[2021-10-17 17:18] brittanyjoiner15 commented on #294
@isabelcosta can you go ahead and assign this to me since my other issues are completed? I'll start working on this!

[2021-10-17 17:33] ShreyaPrasad1209 opened #307 "Blank Event Page"
### Describe the bug

The event page is blank in between paragraphs.

### To Reproduce

Steps to reproduce the behavior:

1. Go to https://anitab-org.github.io/
2. Click on Events in navbar
3. See error

### Expected behavior

The blank areas should contain images or atleast dummy images if actual images are not there.

### Screenshots

![image](https://user-images.githubusercontent.com/43600306/1

[2021-10-17 19:19] ftonato commented on #294
@isabelcosta go to your telegram acc

[2021-10-17 20:00] prabhavagrawal7 commented on #303
Can I work on this issue? Pleasee... It's would be my first commit ! 🥺

[2021-10-17 20:16] isabelcosta commented on #303
@prabhavagrawal7 this task is already assigned and being worked on by @arisaokasaka :) Could you please look into other issues? We are trying to create new issues. Feel free to create if you see something that can be improved. If we approve, we can then assign to you

[2021-10-17 20:34] isabelcosta commented on #165
@nandini45 I don't understand the issue description. Is this a design issue? I would not approve this issues like this 🤔

[2021-10-17 20:59] isabelcosta opened #308 "Programs information in text format"
## Description

As a newcomer to the community,
I need information about programs and project community has participated,
so that I can learn more about the community.

Throughout the years, we have been participating in multiple Open Source programs.
- https://systers.io/gsoc/2017.html
- https://systers.io/gsoc/2016.html
- https://systers.io/gsoc/2015.html

Until we have a more interactive way of

[2021-10-17 22:14] ftonato opened #310 "GitHub Actions for Prettier process is failing / not respecting some rules that should"
### Describe the bug

Currently "prettier" is running for all pull-requests, but it fails when it doesn't find files and tries to run for some files that doesn't make sense as there is no default "file type" defined.

### To Reproduce

Steps to reproduce the behavior:

1. Take a look in some old PR's

- https://github.com/anitab-org/anitab-org.github.io/pull/291
- https://github.com/anitab-org/ani

[2021-10-18 05:54] Jyotika999 commented on #230
@nandini45 can you please assign this issue to me?

[2021-10-18 13:44] #310 closed, assigned to ftonato

[2021-10-18 14:05] isabelcosta opened #312 "GitHub Actions is not deploying the project to GitHub Pages"
## Description

GH Actions is not deploying the project to GH Pages.
Commits: https://github.com/anitab-org/anitab-org.github.io/commits/develop
The deploy to GH Pages stopped working from commit https://github.com/anitab-org/anitab-org.github.io/commit/8db566a29aecc7d67a040b16dae468714761ef6f

![actions failing due to wrong syntax](https://user-images.githubusercontent.com/11148726/137748104-e53f

[2021-10-18 15:03] aabhas-sao commented on #312
@isabelcosta I opened a PR #313 one task is not passing that might be due to my GitHub account not having authorization. Otherwise now prettier is running and formatting the files and there is no syntax error. Let me know If it working now or what to do next.

[2021-10-18 15:26] isabelcosta commented on #294
No worries! thank you for this update @brittanyjoiner15 :) 💪🏾
Feel free to submit the PR whenever you see fit, I don't mind work-in-progress PRs.

[2021-10-18 20:02] isabelcosta commented on #308
Yes, @WizardLemon thank you for looking that information up 🙌🏾 We could start with only linking the information at a high level for each program participation. But I would also like something similar to https://systers.io/gsoc/2017.html where we would have instead a section for each year and programs and projects that were completed during that time. You can start with those links at first 👍🏾

[2021-10-18 22:25] #312 closed

[2021-10-18 22:28] #289 closed, assigned to ftonato

[2021-10-19 20:37] isabelcosta opened #316 "Comment out placeholders in Pull Request template"
## Description

We want placeholders to be commented out, so that when a contributor can notice soon when they have not filled in necessary details in the template.

Here's an example of how it should look like https://raw.githubusercontent.com/anitab-org/.github/main/.github/PULL_REQUEST_TEMPLATE.md

## Acceptance Criteria

### Update [Required]

- [ ] Comment out placeholders in Pull Request tem

[2021-10-19 20:51] brittanyjoiner15 opened #317 "Update contribute docs to clarify adding/running prettier locally"
### Describe the bug

A clear and concise description of what the bug is.

It seems the prettier buid is failing on PRs that are coming from certain places. I think the fix might be to make sure that everyone who contributes has Prettier locally and runs the write and check functions on the files they're editing.

I would probably update the docs to reference: https://prettier.io/docs/en/install.h

[2021-10-20 03:54] sunil14701 commented on #304
Hello!
I would like to work on this issue.
Could I?
Thank you so much!

[2021-10-20 04:51] mctraore commented on #316
Hello, I'm interested in working on this issue. Could you assign it to me?

[2021-10-20 05:42] Koda-Pig commented on #316
Hi there, I'd love to have the chance to work on this.

[2021-10-21 03:44] mctraore commented on #316
Hello! Here is a link to my PR: https://github.com/anitab-org/anitab-org.github.io/pull/321

[2021-10-21 14:31] #303 closed

[2021-10-21 14:38] #316 closed

[2021-10-21 20:11] vj-codes opened #323 "Welcome bot not working"
### Describe the bug

When a contributor creates their first issue or first PR, ideally the welcome bot should drop a comment, but it does not seem to be working on any of our integrated projects except Bridge-in-tech-web which uses a different config.

BIT-web uses - https://github.com/behaviorbot/welcome (working)
Other projects use - https://github.com/bash-bot/the-welcome-bot (not-working)

##

[2021-10-22 02:47] Menina294 commented on #317
Heyy um @brittanyjoiner15, do you think you can help me out a bit? I thought I had commit the changes but I think I may have messed up 😅. It's been like 2 years since I've touched GitHub I think.

[2021-10-22 10:48] ftonato opened #326 "Replace Prettier Action with pretty-quick pre-commit"
### Describe the bug

We have been facing some problems with prettier action and we decided to replace it using a different approach.

**Note:** We had a conversation about the problem in another PR (in can check it the following URL - https://github.com/anitab-org/anitab-org.github.io/pull/296)

### To Reproduce

Steps to reproduce the behavior:

1. All current PR's are broken in the `prettier ac

[2021-10-23 13:32] #294 closed, assigned to brittanyjoiner15

[2021-10-23 14:39] isabelcosta opened #329 "Make navigation items work with routes"
## Description

This is the same as #294 where we want to enable routes on the website.

As of now, when you click a menu option it will change the page content, but the URL will remain the same https://anitab-org.github.io/

We want to click "EVENTS" and go to https://anitab-org.github.io/events.

- "Events" menu option routes to /events
- "Programs" menu option routes to /programs
- and so on

⚠

[2021-10-26 09:10] #307 closed, assigned to narayand16

[2021-10-29 23:33] vj-codes commented on #304
@shades-7 hey sorry this is a first timers only issue :(

[2021-10-29 23:33] vj-codes commented on #304
@sunil14701 any updates?

[2021-10-29 23:42] vj-codes opened #333 "Programs page timeline doesn't work on mobile"
### Describe the bug
On your mobile, click on the deployed website and go to programs section.
The timeline is broken and doesn't work as expected.

### Expected behavior

The timeline should be responsive and adjusted as per the screen, ideally displayed vertically instead of horizontally.

### Screenshots

https://user-images.githubusercontent.com/60894542/139511803-2181e19b-bb0b-4187-9928-546d6

[2021-10-30 16:11] vj-codes commented on #323
@madhhuurrii hey any updates?

[2021-10-30 16:32] #230 closed

[2021-10-30 16:39] abritpal commented on #333
Should I take this up?

[2021-10-30 16:40] #301 closed

[2021-10-31 08:22] vj-codes commented on #333
Assigning you @abritpal
Happy coding!

[2021-10-31 17:51] #242 closed

[2021-10-31 20:34] #308 closed

[2021-10-31 20:53] isabelcosta opened #334 "Make GSoC project linkable in Programs page"
## Description

On the **Programs** page, you can find the projects for each GSoC we participated in. The idea is to make the text that has the title of the projects, linking to gsoc page of the project itself.

Example: Mentorship System project participation in GSoC 2018: https://summerofcode.withgoogle.com/archive/2018/projects/6592097335377920/

**Hint:** I imagine the changes can be made in h

[2021-11-08 13:09] abritpal commented on #333
@vj-codes, what do you mean by vertically here, should it scroll vertically or the title of the program and timeline should be adjusted vertically, as in displayed verticaly.

[2021-11-10 16:21] vj-codes commented on #333
@abritpal yes it should be displayed vertically with program names and respective details

[2021-11-21 15:33] ajaybhaskar-h commented on #334
Hey,
I would like to work on this feature
Is it open?

[2021-11-21 18:38] sakshi-vats opened #336 "Broken CONTRIBUTING.md link inside the current README.md"
**Description**
Fix the broken link for CONTRIBUTING.md in the current README.md
<img width="1352" alt="Screenshot 2021-11-22 at 12 08 26 AM" src="https://user-images.githubusercontent.com/47550087/142774737-6d20282c-d0a6-4109-a019-7d53797549d3.png">

[2021-11-21 20:37] isabelcosta commented on #334
@ajaybhaskar-h I just assigned it to you :) Feel free to send a PR once you're ready

[2021-11-22 18:16] isabelcosta commented on #336
fixed with https://github.com/anitab-org/anitab-org.github.io/pull/335

[2021-11-22 18:16] #336 closed

[2021-12-03 17:18] Ayushi271 commented on #304
Hello, My sincere Greetings
I want to work on this issue.
Can you assign me this.

[2021-12-03 18:09] vj-codes commented on #304
@sunil14701 unassigning you due to inactivity

[2021-12-03 18:09] vj-codes commented on #304
Assigning you @Ayushi271
Happy documenting!

[2021-12-04 13:47] Ayushi271 commented on #304
@vj-codes Good evening Mam.
I am a beginner to open source contribution.
I have made some changes in files . But I don't know how  to upload for reviewing it. But it is  showing in pull request option  #337.
Can you please  guide me about that.

[2021-12-20 17:20] Ayushi271 commented on #304
Hello any updates?

[2021-12-25 04:33] Ayushi271 commented on #304
Can you please review it.

[2022-01-02 06:54] Ayushi271 commented on #66
Hello
My sincere greetings
Is this issue still open?
Can you assign this to me please?

[2022-01-02 18:07] Ayushi271 commented on #198
Hello
My sincere greetings
Is this issue still open?
Can you assign it to me?

[2022-01-03 03:44] vj-codes commented on #66
Assigning you @Ayushi271
Happy coding!

[2022-01-04 17:34] Ayushi271 commented on #66
Thank you

[2022-01-05 07:52] Ayushi271 commented on #66
https://user-images.githubusercontent.com/95167212/148180543-1e851166-0399-468d-b27b-17fbcbf0604f.mp4

[2022-01-05 07:54] Ayushi271 commented on #66
I tried to make the layout first and it looks like this.
Is it ok?
As I am a beginner so if there is any mistake please guide me.

[2022-01-05 07:54] Ayushi271 commented on #66
@vj-codes

[2022-01-06 16:05] sanchibansal340 commented on #109
@vj-codes hey I totally forgot about this issue. Shall I move forward with this content then?

[2022-01-06 16:37] nandini45 commented on #109
@sanchibansal340  i agree with @vj-codes  . update it and submit the PR .
we will review it
thanks

[2022-01-06 16:38] nandini45 commented on #333
@abritpal  are you working on it still??

[2022-01-07 10:48] Jyotika2001 commented on #334
Hey, is this issue still open for contribution? If yes, I would like to work on it.

[2022-01-07 10:51] Jyotika2001 commented on #333
Has this issue been solved? If not, I would like to work on it.

[2022-01-07 17:19] nandini45 commented on #333
@Jyotika2001 sure! go ahead
 please keep updating us with your progress.

[2022-01-07 17:21] nandini45 commented on #333
@abritpal  you have not given any updates and it has been around two months
i am unassigning you the issue

[2022-01-08 10:03] Jyotika2001 commented on #333
Hey @nandini45, I was going through the website on my mobile. Many changes have been made to the website layout from the time this issue was raised for example the 'programs' section is called the 'events and programs' now. My doubt was where exactly  is this timeline that I need to work on? The 'events and programs' section now consists of 3 sub-headings-People we serve, events and programs and a

[2022-01-08 10:05] nandini45 commented on #333
@Jyotika2001  let me check
i will get back to you by the end of the day

[2022-01-08 13:42] Ayushi271 commented on #66
https://user-images.githubusercontent.com/95167212/148646322-6197beca-1b8a-445f-bfa0-2c3024a8eb35.mp4

[2022-01-08 14:14] Ayushi271 commented on #66
@vj-codes  Is this ok ?

[2022-01-09 17:19] vj-codes commented on #66
@Ayushi271 yes
Please do create a PR, so that we can review both the design and code better
Thank you for your contribution:)

[2022-01-09 18:13] Ayushi271 commented on #66
Okk

[2022-01-10 06:57] Ayushi271 commented on #66
@vj-codes  I tried to generate PR but something is wrong. Can you check it its PR #338

[2022-01-10 11:12] Jyotika2001 commented on #333
@nandini45 Please could you tell me the page so that I can start working.

[2022-01-10 16:25] Ayushi271 commented on #66
it's #339

[2022-01-10 17:42] nandini45 commented on #333
@Jyotika2001  idk which link u are opening but when i  am trying to access it on my device it is broken and showing the same behavior as explained
see as vaishnavi said the behavior should be the timeline should be responsive and adjusted as per the screen, ideally displayed vertically instead of horizontally.
https://anitab-org.github.io/ this is  the link
(in the program section the timeline is

[2022-01-11 17:19] Ayushi271 commented on #66
@vj-codes  #340

[2022-01-18 04:40] nawed2611 commented on #110
Hi! Is this issue still open? I would like to work on it.

[2022-01-18 14:48] eleensmathew commented on #304
Hi is this issue still open. If not can I please work on this?

[2022-01-22 05:54] Ayushi271 commented on #66
@vj-codes Can you review the PR please.#340

[2022-01-30 21:43] aashimawadhwa opened #342 "Implementation of dark mode"
### Is your feature request related to a problem? Please describe.
The advantages of Dark Mode are, it enhances visual ergonomics by reducing eye strain.

### Describe the solution you'd like
Implementing dark mode and adding a toggle button to switch between the dark mode and light mode according to the user .

[2022-01-30 21:43] aashimawadhwa commented on #342
I am willing to work on this , please assign this to me .

[2022-02-01 07:06] Ayushi271 commented on #304
@eleensmathew  Hi, actually I had already made a PR for this which is in reviewing stage. So, you can find another issue and start contributing. Thanks

[2022-02-01 07:10] eleensmathew commented on #67
Hi Can I work on this issue? Since I'm a beginner I might need help

[2022-02-02 13:45] Ayushi271 commented on #334
@isabelcosta  Good evening ma'am.  I want to work on this issue. If no one is working on this can I work on this?

[2022-02-08 15:21] preeti13456 commented on #334
Interested to contribute

[2022-02-08 17:09] Ayushi271 commented on #304
#344 Please review

[2022-02-10 04:08] Yash-271120 commented on #333
@vj-codes @nandini45 This issue seems to be not fixed yet. Can I work on this?

[2022-02-10 09:01] eleensmathew commented on #295
Hi can i work on this issue? I'm a beginner so I might need help.

[2022-02-10 09:07] eleensmathew commented on #108
Hi can I work on this if it is available?

[2022-02-10 09:09] ftonato commented on #295
@eleensmathew we have open PR's for that since [12 Oct 2021](https://github.com/anitab-org/anitab-org.github.io/issues/295#ref-pullrequest-1023830806)

[2022-02-10 09:10] eleensmathew commented on #295
Oh okay 👍

[2022-02-10 10:36] preeti13456 commented on #110
This issue must be closed since all the asked sections were already merged

[2022-02-10 10:58] preeti13456 commented on #52
Interested

[2022-02-10 11:05] nawed2611 commented on #334
Hi, Can I work on this?

[2022-02-10 11:17] nawed2611 opened #345 "Redesign Home Page UI"
### Is your feature request related to a problem? Please describe.
The landing home page looks like this currently. I feel there's a requirement to redesign the UI for a better user experience.
<img width="960" alt="image" src="https://user-images.githubusercontent.com/83456083/153396012-0f876740-915d-480c-a7fd-9321adda26ed.png">

### Describe the solution you'd like
Use the empty space on the pag

[2022-02-12 08:20] Ayushi271 commented on #304
#347 Please review

[2022-02-16 09:52] preeti13456 commented on #342
Interested

[2022-02-16 16:31] preeti13456 commented on #342
Interested

[2022-02-18 17:27] darkknight20032001 commented on #342
Hello Can anyone please assign???

[2022-02-22 10:21] abh139 commented on #345
Interested

[2022-04-04 05:21] montanarey commented on #342
Hi, has this been assigned to anyone yet? I don't see that the feature has been implemented.

[2022-04-26 14:44] sabakhilji commented on #323
Hey, I want to contribute . Is the issue open now?

[2022-06-07 17:43] isabelcosta opened #355 "Typo in Archive page"
### Describe the bug

There is a typo in the description of archived projects

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://anitab-org.github.io/
2. Click on Projects
3. Scroll down to "Archived Projects" section
4. See description of section with typo in word "avialable"

### Expected behavior

Should have "available" instead of "available"

### Screenshots

![typo in archiv

[2022-06-09 22:42] isabelcosta commented on #355
Sure! Make sure when you create the PR to add to the description this "Fixes #355" so it links to this issue. @Esther-Wavinya

[2022-06-10 07:28] Esther-Wavinya commented on #355
Hey

I have edited the PR Description

[2022-06-20 22:37] udyanojha commented on #304
@isabelcosta  Please review the PR by @Ayushi271

[2022-06-20 22:58] udyanojha opened #360 "Typo in Archive page"
### Describe the bug

### To Reproduce
Steps to reproduce the behavior:
1. Go to '[https://anitab-org.github.io/](https://anitab-org.github.io/)'
2. Click on Projects
3. Scroll down to "Archived Projects" section
4. See description of section with typo in word "archieved"

### Expected behavior

Should have "archived" instead of "archieved"

### Screenshots

![image](https://user-images.githubuser

[2022-06-20 23:04] udyanojha commented on #360
Hi!
I'm new to open source and would like to contribute.

[2022-06-21 21:40] isabelcosta commented on #304
@udyanojha @Ayushi271 what is the PR to be reviewed? Could you please share the link here

[2022-06-21 21:43] isabelcosta commented on #360
@udyanojha thank you for reporting this! However, this ticket is a duplicate of https://github.com/anitab-org/anitab-org.github.io/issues/355 which is already assigned to a contributor.

Feel free to tag me if you find another **available** task you'd like to contribute to

[2022-06-21 21:43] #360 closed

[2022-06-22 11:47] Ayushi271 commented on #304
@isabelcosta  https://github.com/anitab-org/anitab-org.github.io/pull/347

[2022-06-22 11:48] Ayushi271 commented on #304
Please review it and if there is something wrong then please guide me

[2022-06-25 13:31] isabelcosta commented on #304
@Ayushi271 could you please post this on Zulip, to see if anyone from the community can also review it. I will add a few points there, but we usually require 2 approvals before merging

[2022-07-11 12:55] udyanojha commented on #355
Hi! @isabelcosta The issue is still there, may I please contribute to this?
![image](https://user-images.githubusercontent.com/51847297/178268948-3c22387b-884b-470d-ac32-db3b4b10923f.png)

[2022-07-11 12:57] udyanojha commented on #355
- archieved  to  archived
- avialable to available

[2022-08-24 09:39] AbhijeetKadam-coder commented on #355
Hello! @isabelcosta The issue still persists, may I work on this issue, please?

[2022-09-16 05:34] kaykaym01 commented on #355
Is this issue closed?

[2022-09-29 20:09] #355 closed

[2022-09-30 19:23] vj-codes opened #363 "Welcome bot check"
## Description

## Mocks

## Acceptance Criteria
### Update [Required]
- [ ] [LIST ITEMS]
### Enhancement to Update [Optional]
- [ ] [LIST ITEMS]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation

[2022-09-30 19:24] #363 closed

[2022-10-01 07:40] #323 closed

[2022-10-01 15:53] WizardLemon commented on #334
Hello, can I grab this one? 😄

[2022-10-04 06:17] suryakapurothu commented on #304
Hello @isabelcosta and @Ayushi271 ,
I'm a new born here ;)
Ready to make small and helpful contributions.
You can assign me on this anytime for necessary changes.

[2022-10-05 20:43] narayand16 commented on #329
@vj-codes What’s the current status of this bug ?

[2022-10-18 19:24] aditi5050 commented on #198
Hello @tinniaru3005  can I work on with this issue can you please assign this to me

[2022-10-18 19:28] tinniaru3005 commented on #198
Unassigned due to long inactivity so that others can take up the issue.

[2022-10-18 19:29] tinniaru3005 commented on #198
Hey @aditi5050, here you go! :)

[2022-10-18 19:29] aditi5050 commented on #198
@tinniaru3005 thanks alot :)

[2022-10-19 12:26] aditi5050 opened #365 "Addition of links required"
![linkpr](https://user-images.githubusercontent.com/102579070/196690057-f42a3eee-0b0c-4062-9dfd-95f34e7d6b86.jpg)
In the getting started section shall I links like the addition of link Zulip and so on @tinniaru3005 shall I look forward for raising a pr for this

[2022-10-19 13:11] tinniaru3005 commented on #365
Yes, I think that can be done. Avoid making too many changes. You can just add a link to the Zulip chat.

Also, when you take up an issue try solving it and sending a Pull request before getting another one assigned. This will help you avoid confusion while solving the issues and sending the Pull requests.

[2022-10-23 02:56] cjheyde opened #368 "Update page footer with Copyright date to 2022 (it is 2021)"